%btn {
  @include inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  @include button-size(0, 40px, 14px, 25px, 5px);
  white-space: nowrap;
  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: default;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
  }
}

.btn-primary {
  @extend %btn;
  background-color: $btn-primary-bg;
  color: $btn-primary-color;
  border-color: #3ecacb;
}

.btn-fill {
  @extend %btn;
  background-color: $btn-fill-bg;
  color: $btn-fill-color;
  font-size: 22px;
}

.btn-deny {
  @extend %btn;
  background-color: $btn-deny-bg;
  color: $btn-deny-color;
  border-color: #e6e6e6;
}
.btn-hollow {
  @extend %btn;
  background-color: transparent;
  color: $btn-hollow-color;
  border-color: #3ecacb;
}

// large button
.btn-lg {
  width: 220px;
  @include button-size(0, 0px, 20px, 40px, 5px);
}

// larger button
.btn-more-lg {
  @include button-size(0, 60px, 20px, 40px, 5px);
}

.btn-normal {
  width: 180px;
  @include button-size(0, 0px, 20px, 40px, 5px);
}

// lower button
.btn-lw {
  width: 60px;
  @include button-size(0, 0px, 14px, 30px, 5px);
}

.btn {
  width: 115px;
  @include button-size(0, 0px, 22px, 45px, 5px);
}

.btn-cancel {
  @extend %btn;
  @include button-size(0, 0px, 16px, 35px, 5px);
  background-color: #fff;
  color: $btn-primary-color;
  border-color: #3ecacb;
}
.btn-confirm {
  @extend %btn;
  @include button-size(0, 0px, 16px, 35px, 5px);
  background-color: $btn-fill-bg;
  color: $btn-fill-color;
}
