// button

//主题色背景
$btn-fill-bg: $theme-color !default;
$btn-fill-color: #fff !default;
//灰色背景
$btn-deny-color: $color-grey !default;

$btn-font-weight: normal !default;


$btn-primary-bg: $color-blue !default;
$btn-primary-color: $color-blue !default;

$btn-hollow-color: #3f88cc !default;
$btn-hollow-bg: #fff !default;

// color
$btn-color-gray: #7d7d7d;


.btn-lg {
  &.magnifier {
    width: 50px;
    height: 30px;
    line-height: 30px;
    float: right;
    border: 1px solid #e8e8e8;
    background: url("../images/cf/magnifier-red.png") center no-repeat;
    background-color: #ffffff;
    margin-right: 0;
    cursor: pointer;
    outline: none;
  }
  &.btn-add,&.btn-move,&.btn-use {
    float: right;
    background-color: white;
    border: 1px solid $theme-color;
    line-height: 28px;
    font-size: 12px;
    color: $theme-color;
    cursor: pointer;
  }
  &.floatleft {
    float: left;
  }
  &.floatleft10 {
    float: left;
    margin-left: 10px;
  }
}
//btn
%btn {
  @include inline-block;
  text-align: center;
  cursor: pointer;
  @include button-size(0, 7px, 14px, 28px, 3px);
  white-space: nowrap;
  width: 72px;
  background-color: #ffffff;
  color: $theme-color;
  border: solid 1px $theme-color;
  font-size: 14px;
  outline: none;
  &:hover {
    @include opacity(.8);
  }
  &:active {
    @include opacity(1);
  }
  &.disabled, &[disabled], fieldset[disabled] & {
    cursor: default;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
  }
}
.btn,.btn-dialog {
  @extend %btn;
}


//btn颜色变化
.btn-primary {
  background-color: #ffffff;
  color: $btn-primary-color;
  border-color: $btn-primary-color;
}
.btn-primary-white {
  background-color: #ffffff;
  color: $btn-primary-color;
  border-color: $btn-primary-color;
}
.btn-primary-fill {
  background-color: $btn-primary-color;
  color: #ffffff;
  border-color: $btn-primary-color;
}
.btn-fill {
  background-color: $btn-fill-bg;
  color: $btn-fill-color;
}

.btn-deny {
  background-color: #ffffff;
  color: $btn-deny-color;
  border-color: $btn-deny-color;
}
.btn-deny-fill {
  background-color: $btn-deny-color;
  color: #ffffff;
  border-color: $btn-deny-color;
}

.btn-hollow {
  width: 115px;
  @extend %btn;
  background-color: transparent;
  color: $btn-hollow-color;
  border-color: #3f88cc;
}

.btn-cancel {
  background-color: #ffffff;
  color: $btn-primary-color;
  border-color: $btn-primary-color;
}

.btn-confirm {
  background-color: $btn-fill-bg;
  color: $btn-fill-color;
}

.btn-gray {
  color: $btn-color-gray;
  border: 1px solid $btn-color-gray;
  background-color: #ffffff;
}
.btn-gray-fill {
  color: #fff;
  border: 1px solid $btn-color-gray;
  background-color: $btn-color-gray;
}

.btn-default {
  color: #fff;
  background-color: $btn-color-gray;
  border: 1px solid $btn-color-gray;
}



//btn大小
.btn-more-lg {
  @include button-size(15px, 7px, 20px, 30px, 3px);
}

.btn-lg {
  @include button-size(0, 7px, 16px, 28px, 3px);
  width: 88px;
}

.btn-medium {
  @include button-size(0, 7px, 14px, 28px, 3px);
}

.btn-small {
  @include button-size(0, 7px, 14px, 28px, 3px);
  width: 48px;
}
.btn-long {
  @include button-size(0, 7px, 14px, 28px, 3px);
  width: inherit;
}
.btn-file {
  height: 30px;
  width: 72px;
  outline: none;
}
