label {
	position: relative;
	display: inline-block;
	height: 37px;
	line-height: 37px;
	width: 130px;
	.txt {
		display: inline-block;
		width: 130px;
		border: none;
		background: #e1e6ef;
		height: 37px;
		line-height: 37px;
		border-radius: 5px;
		color: #3a3d42;
		font-size: 12px;
		text-indent: 10px;
		outline: none;
	}
	i {
		position: absolute;
		top: 17px;
		right: 10px;
		display: inline-block;
		width: 13px;
		height: 8px;
		vertical-align: middle;
		background: url(../images/icolist.png) -80px -30px no-repeat;
	}
	&.w-170 {
		width: 170px;
		.txt {
			width: 170px;
		}
	}
  &.w-130 {
    width: 130px;
    .txt {
      width: 130px;
    }
  }
}
.pre {
	font-size: 12px;
	color: #6f7b91;
	margin: 0px 5px;
	display: inline-block;
}

.form {
	.form-group {
		margin-bottom: 10px;
		.label {
      display: inline-block;
			width: 100px;
      height: 37px;
      line-height: 37px;
			margin-right: 10px;
			text-align: right;
		}
		.txt {
			display: inline-block;
			width: 160px;
			height: 37px;
			line-height: 37px;
			border: none;
			background: #e1e6ef;
			border-radius: 5px;
			color: #3a3d42;
			font-size: 12px;
			text-indent: 10px;
			outline: none;
		}
	}
}

.form-inline {
  @include clearfix;
  .form-group {
    float: left;
		margin-bottom: 10px;
    margin-right: 20px;
		.label {
      display: block;
      height: 37px;
      line-height: 37px;
			width: 100px;
		}
		.txt,
    .time-picker {
			display: block;
			width: 160px;
			height: 37px;
			line-height: 37px;
			border: none;
			background: #e1e6ef;
			border-radius: 5px;
			color: #3a3d42;
			font-size: 12px;
			text-indent: 10px;
			outline: none;
		}
    .time-picker {
      display: inline-block;
      background-image: url(../images/diyselect.png);
      background-repeat: no-repeat;
      background-position: right center;
    }
	}
}

.adaptive-query-list{
  &.H70{
    height:70px;
    overflow: hidden;
  }
  &.haszomm{
    padding-right: 55px;
  }
  .aql-dl{
    display: inline-block;
    position: relative;
    padding-right: 5px;
    margin-bottom: 10px;
    .aql-dt{
      margin-bottom: 5px;
    }
    .aql-dd{
      display: inline-block;
      .aql-label{
        .aql-input{
          display: inline-block;
          width: 130px;
          border: none;
          background: #e1e6ef;
          height: 37px;
          line-height: 37px;
          border-radius: 5px;
          color: #3a3d42;
          font-size: 12px;
          text-indent: 10px;
          outline: none;
        }
      }
      .time-inner{
        a{
          margin-right: 3px;
          display: inline-block;
          height: 35px;
          line-height: 35px;
          width: 65px;
          text-align: center;
          border: 1px solid #3ecacb;
          color: #3ecacb;
          border-radius: 5px;
          font-size: 14px;
          &.active{
            background: #3ecacb;
            color: #fff;
          }
        }
      }
    }
  }
}
.zoom-btn{
  position: absolute;
  right: 26px;
  top: 53px;
  display: none;
  a{
    color: #6f7b91;
    font-size: 12px;
    i{
      display: inline-block;
      width: 13px;
      height: 8px;
      vertical-align: middle;
      background: url(../images/icolist.png) -81px -50px no-repeat;
      margin: 0px 0px 3px 10px;
    }
    i.open{
      background: url(../images/icolist.png) -80px -65px no-repeat;
    }
  }
}
