$table-border-color: #3f88cc !default;

.simple-table {
  margin: 0px 0px 50px 20px;
  thead {
    tr {
      td {
        color: #5a5d63;
        font-size: 14px;
      }
    }
  }
  tbody {
    td {
      padding: 10px 0px;
      font-size: 14px;
      color: #3a3d42;
      &.title {
        color: #6f7b91;
      }
      &.data-rate {
        color: #3f88cc;
        font-size: 18px;
      }
    }
  }
}
.main-table {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  // @include clearfix;
  .data-table {
    border: 1px solid #f0f4fb;
    thead {
      th {
        padding: 10px 15px;
        font-size: 14px;
        font-weight: bold;
        color: #444;
        background-color: #e1e6ef;
        text-align: left;
        &.text-c {
          text-align: center;
        }
        a {
          color: #3a3d42;
          &.current {
            color: #e4788c;
          }
        }
      }
    }
    tbody {
      td {
        padding: 10px 15px;
        color: #444;
        &.text-c {
          text-align: center;
          span.do-none{
            display: inline-block;
            line-height: 28px;
          }
        }
        .link {
          color: #3f88cc;
        }
      }
      tr.even {
        background-color: #f7f9fd;
      }
    }
    .btn-group {
      position: relative;
      display: inline-block;
      .btn {
        position: relative;
        padding-right: 30px;
        // z-index: 9;
      }
      .dropdown {
        display: block;
        width: 17px;
        height: 13px;
        padding: 8px 8px 8px 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        background-image: url(../images/dropdown.png);
        background-repeat: no-repeat;
        background-position: 1px 7px;
        cursor: pointer;
      }
      ul {
        display: none;
        position: absolute;
        left: 0;
        top: 28px;
        z-index: 8;
        border: 1px solid #3f88cc;
        border-top: 0;
        background-color: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-top: -3px;
        padding-top: 5px;
        padding-bottom: 4px;
        li {
          a {
            display: block;
            font-size: 12px;
            color: #3f88cc;
          }
        }
      }
    }
  }
  .scroll-table,
  .fixed-table {
    float: left;
  }
  .scroll-table {
    width: 90%;
    overflow-y: hidden;
    overflow-x: auto;
    .data-table {
      table-layout: fixed;
      th,
      td {
        // overflow: hidden;
        // text-overflow : ellipsis;
        white-space : nowrap;
        min-width: 50px;
      }
      td {
        height: 28px;
        line-height: 28px;
      }
    }

  }
  .fixed-table {
    width: 10%;
  }
  label.table-check{
    width: auto;
    height: auto;
    line-height: normal;
    cursor: pointer;
    input[type="checkbox"]{
      display: none;
    }
    span.checkbox{
      display: inline-block;
      font-size: 12px;
      border: solid 1px #868686;
      color: #3f88cc;
      height: 10px;
      width: 10px;
      line-height: 6px;
      overflow: hidden;
      position: relative;
      top: 1px;
      margin-right: 5px;
      border-radius: 2px;
    }
  }
  span.nochecked{
    padding-left: 17px;
  }
  .table-foot{
    width: 100%;
    padding-left: 16px;
    label{
      margin-right: 10px;
    }
    &:before{
      content: "";
      clear: both;
      width: 100%;
      display: block;
      height: 10px;
    }

  }
}

.ui-tab-table {
  .table-tab {
    position: relative;
    border-bottom: 2px solid $table-border-color;
    ul {
      padding-left: 38px;
    }
    li {
      position: relative;
      float: left;
      width: 181px;
      height: 37px;
      line-height: 37px;
      margin-left: -38px;
      text-align: center;
      background-image: url(../images/workflow-tab.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      cursor: pointer;
      &.active {
        color: #fff;
        background-position: 0 -50px;
      }
      &.z1 {
        z-index: 10;
      }
      &.z2 {
        z-index: 9;
      }
    }
    .btn-add {
      position: absolute;
      top: 5px;
      right: 0;
      z-index: 99;
    }
  }
  table {
    width: 100%;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px 1px 0 0;
    th,
    td {
      padding: 15px 20px;
      border-color: #ddd;
      border-style: solid;
      border-width: 0 0 1px 1px;
      text-align: center;
      color: #797979;
      &.justify {
        text-align: justify;
      }
    }
    th {
      color: #3a3d42;
      font-weight: bold;
    }
  }
  .opt-link {
    padding: 0 5px;
    color: #63a9ff;
  }
}
td {
  word-wrap: break-word;
  word-break: break-all;
}

td.nowrap-ellipsis {
  display: block;
  /* width: 31em; */
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
