.tabs-head {
  .tab-option {
    cursor: pointer;
    display: block;
    float: left;
    &.on {
      background: #3f88cc;
      color: #FFF;
    }
  }
  &.normal-tabs {
    overflow: hidden;
    margin-bottom: 5px;
    .tab-option {
      padding: 7px 30px;
      text-align: center;
      background: #f0f4fb;
      font-size: 16px;
      &.on {
        background: #3f88cc;
        color: #FFF;
      }
    }
  }
  &.add-tabs {
    background: #f0f4fb;
    overflow: hidden;
    padding: 20px 10px;
    .tab-option {
      padding: 5px 22px;
      text-align: center;
      background: #FFF;
      font-size: 14px;
      margin-right: 5px;
      border-radius: 3px;
      border: solid 1px #cccccc;
      &.on {
        background: #3f88cc;
        border: solid 1px #3f88cc;
        color: #FFF;
      }
    }
    .tab-add {
      cursor: pointer;
      display: block;
      float: left;
      padding: 5px 0px;
      width: 87px;
      text-align: center;
      background: #FFF;
      font-size: 14px;
      margin-right: 5px;
      border-radius: 3px;
      border: solid 1px #cccccc;
    }
  }

}
// 新tab
// write by ws 2017-04-19
.tabs-items{
  display: table;
    position: relative;
  .tab-option{
    cursor: pointer;
    width: 100px;
    display: inline-block;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    float: left;
    &.on{
      color:#f1374d;
      background: #ffffff;
      font-weight:bold;
    }
  }
}
.tabs-body {
  .tabs-content {
    display: none;
    position: relative;
      padding: 0 15px;
    &.on {
      display: block;
    }
  }
}



//财富消息中心
.main-tab {
  border-bottom: solid 1px $border-color;
  margin-bottom: 20px;
  .main-tab-item {
    display: inline-block;
    padding: 0 10px 10px;
    font-size: 14px;
    line-height: 1;
    position: relative;
    min-width: 60px;
    text-align: center;
    cursor: pointer;
    &:before {
      content: " ";
      width: 1px;
      height: 14px;
      position: absolute;
      left: 0;
      top: 0;
      background: $border-color;
    }
    &.current {
      font-weight: 600;
    }
    &:nth-child(1) {
      &:before {
        width: 0;
      }
    }
    .not-read {
      background: $theme-color;
      color: #ffffff;
      padding: 0 3px;
      font-size: 12px;
      line-height: 1;
      @include border-radius(6px);
    }
  }
}
.main-filter {
  margin-bottom: 20px;
  font-size: 0;
  .main-filter-item {
    font-size: 12px;
    margin: 0 10px 10px 0;
    &.current {
      background-color: $btn-fill-bg;
      color: $btn-fill-color;
      border: solid 1px $btn-fill-bg;
    }
  }
}
