<div class="main-table">
  <div class="scroll-table">
    <table cellpadding="0" cellspacing="0" class="data-table">
      <thead>
        <tr>
          <th>姓名</th>
          <th>手机号</th>
          <th>任务类型</th>
          <th>开户营业部</th>
          <th>开户营业部</th>
          <th>开户营业部</th>
          <th>开户营业部</th>
          <th>开户营业部</th>
          <th>开户营业部</th>
          <th>开户营业部</th>
          <th>开户营业部</th>
          <th>开户营业部</th>
          <th>开户营业部</th>
          <th>开户营业部</th>
          <th>处理时间</th>
          <th>状态</th>
          <th>操作柜员姓名</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>张三</td>
          <td>18677777777</td>
          <td>开户审核</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>2014-12-14 14:23</td>
          <td>未处理</td>
          <td>李四</td>
        </tr>
        <tr class="even">
          <td>张三</td>
          <td>18677777777</td>
          <td>开户审核</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>2014-12-14 14:23</td>
          <td>未处理</td>
          <td>李四</td>
        </tr>
        <tr>
          <td>张三</td>
          <td>18677777777</td>
          <td>开户审核</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>杭州庆春路营业部</td>
          <td>2014-12-14 14:23</td>
          <td>未处理</td>
          <td>李四</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fixed-table">
    <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
      <thead>
        <tr>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-c">
            <div class="btn-group">
              <a href="#" class="btn btn-fill btn-small">审核</a>
              <i class="dropdown"></i>
              <ul class="sub-group">
                <li><a href="#">作废</a></li>
                <li><a href="#">作废1</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr class="even">
          <td class="text-c"><a href="#" class="btn btn-fill btn-small">处理</a></td>
        </tr>
        <tr>
          <td class="text-c"><a href="#" class="btn btn-fill btn-small">处理</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
