
.container .ui-content .main-content {
	@mixin line-h($h:48px){
	  height: $h;
	  line-height: $h;
	}
	@mixin txt-clr($clr:rgb(198, 60, 70)){
	  color:$clr;
	}

	& .arch-home-content{
		.content-title{
			font-size: 20px;
			font-weight: 700;
			
			@include line-h(40px); 
			@include  txt-clr;
		}
		.content-wrap{
			padding:0 30px 0 10px;
			table{
				tr{
					@include line-h(48px); 
					border-bottom:1px solid #ccc;
					td{
						text-align: left;	
						@include  txt-clr(#000);

						
						.text-link{
							cursor: pointer;
							@include  txt-clr(#007aff);
						}
					}
				}
			}
		}
		
	}

	&.arch-configs{
	
	}
	&.arch-type{
		
	}
	&.arch-place-manager{
		
	}
	&.arch-files-manager,&.arch-contracts-manager,&.arch-contracts-query{
		
	}
}