.js-dialog{
	.js-dialog-bd{
		.dialog-pic-wrap{
			padding:0px 20px;
			.pic-time{
				padding-left: 20px;
    			margin-bottom: 10px;
			}
			.pic-items{
				.pic-item-3{
					width:33%;
					text-align: center;
					display: inline-block;
					img{
						height: 200px;width:130px;margin:0 auto;
						margin-bottom: 5px;
					}
				}
				.pic-page-num,.pic-page-info{
					font-size: 12px;
				}
				
			}
		}
	}
}

	 .arch-home-content{
		.content-title{
			font-size: 20px;
			font-weight: 700;
			
			@include line-h(40px); 
			@include  txt-clr;
		}
		.content-wrap{
			padding:0 30px 0 10px;
			table{
				tr{
					@include line-h(48px); 
					border-bottom:1px solid #ccc;
					td{
						text-align: left;	
						@include  txt-clr(#000);

						
						.text-link{
							cursor: pointer;
							@include  txt-clr(#007aff);
						}
					}
				}
			}
		}	
	}

	.arch-detail{
		.detail-page-title{
		    font-size: 20px;
		    text-align: center;
		    font-weight: 700;
		    margin-bottom: 20px
		}
		.info-table .info-table-content .info-table-colspan
		{
			.info-table-long{
				width:100%;
				.info-table-key{
					width:100%;
				}
			}
			.table-list-null{
				.info-table-key{
					background: transparent;
					padding:0;
				}
				.main-table{
					margin-bottom: 0;
					.data-table{
						border:none;
						tr{
							border-bottom: 1px solid #ebebeb;
						}
						td{
							text-align: left;
							padding:0;
							&.left10{
								padding-left: 10px;
							}
						}
						thead {
							background: #f5f6f8;
						}
					}
				}
			}
			.info-table-cols2{
				height: 40px;
			}
		}
	}
