<div class="ui-table-info">
  <div class="main-table">
    <h2 class="table-title">审核业务</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table success">
      <tbody>
      <tr>
        <td>创业板开通</td>
        <td>创业板开通审核→ 成功</td>
        <td>操作人：李大成</td>
        <td>2016-5-9  16：00</td>
      </tr>
      </tbody>
    </table>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table failed">
      <tbody>
      <tr>
        <td>创业板开通</td>
        <td>创业板开通审核→ 失败</td>
        <td>操作人：李大成</td>
        <td>2016-5-9  16：00</td>
      </tr>
      <tr>
        <td>失败原因</td>
        <td colspan="3"  class="failed">[160001:身份证信息不清晰]</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
