<div class="ui-table-info user">
  <div class="main-table">
    <h2 class="table-title">用户基本信息</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td>资产账号</td>
          <td>1000001</td>
          <td>姓名</td>
          <td>李小晨</td>
          <td>证件类别</td>
          <td>身份证</td>
        </tr>
        <tr>
          <td>证件编号</td>
          <td>3425019921204027X</td>
          <td>证件有效期</td>
          <td>2011-9-10~2019-9-10</td>
          <td>开户营业部</td>
          <td>江南大道xxx</td>
        </tr>
        <tr>
          <td>开户日期</td>
          <td>2016-7-10</td>
          <td>证件地址</td>
          <td>浙江杭州滨江江南大道1001号</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
