<div class="ui-table-info user">
  <div class="main-table">
    <h2 class="table-title">用户基本信息</h2>
    <a href="#" id="edit-activity-user" class="btn-primary-white">整改<strong class="hl-red">（2）</strong></a>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
      <tr>
        <td>资产账号</td>
        <td>1000001</td>
        <td>姓名</td>
        <td>李小晨</td>
        <td>证件类别</td>
        <td>身份证</td>
      </tr>
      <tr>
        <td>证件编号</td>
        <td>3425019921204027X</td>
        <td>证件有效期</td>
        <td>2011-9-10~2019-9-10</td>
        <td>开户营业部</td>
        <td>江南大道xxx</td>
      </tr>
      <tr>
        <td>开户日期</td>
        <td>2016-7-10</td>
        <td>证件地址</td>
        <td>浙江杭州滨江江南大道1001号</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  $("#edit-activity-user").click(function () {
    if (!$(this).hasClass('active')) {
      $(this).addClass("active");
      $(this).parent().find("td").addClass('pointer');

      $(this).parent().find("td").click(function () {
        var index = $(this).parents("tr").find("td").index($(this));//找出当前td是tr里面的第几个，01,23,45,
        var num = parseInt(index / 2);
        var small_td = $($(this).parents("tr").find("td")[num * 2]);
        var big_td = $($(this).parents("tr").find("td")[num * 2 + 1]);
        if (big_td.find(".modify").length == 0) {
          var newNode = document.createElement('div');
          newNode = '<div class="modify">需整改</div>';
          big_td.html(big_td.text() + newNode);
          small_td.addClass('invalid');
          big_td.addClass('invalid');
        } else {
          var childNode = big_td.find(".modify");
          childNode.remove();
          small_td.removeClass('invalid');
          big_td.removeClass('invalid');
        }
      })
    } else {
      $(this).removeClass("active");
      $(this).parent().find("td").removeClass('pointer');
      $(this).parent().find("td").unbind("click");
    }
    return false;
  })
</script>
