.page-activation{
	.search-group{
		.search-dl{
			dd{
				>label{
					width:170px;
					.txt{
						width:170px
					}
				}
			}
		}
	}
	.main-table{
		.data-table{
			margin-bottom:0;
			thead{
				td:last-child{
					padding-right:10px;
					text-align:center
				}
			}
			tbody{
				td{
					line-height:normal;
					white-space:normal;
					padding-right:10px;
					&:last-child{
						text-align:center;
						>div{
							width:170px;
							margin:0 auto;
						}
					}
					a.btn-lw{
						width:40%;
						&:first-child{
							margin-right:5%;
						}
					}
				}
			}
		}
	}
	.dialog-content-through{
		>p{
			font-size:16px;
			font-family:'Microsoft YaHei';
		}
	}
}
