.page-activity {
  .table-title {
    font-size: 16px;
    color: #44c1de;
    margin: 15px 0 10px 0;
  }
  .ui-table-info,
  .main-table {
    position: relative;
  }
  .edit-activity,
  .add-btn {
    position: absolute;
    right: 0;
    top: 15px;
  }
  .y-scroll{
    padding: 20px;
    background: #f0f5fb;
    table{
      background: none;
    }
    .scroll-body{
      height: 165px;
      overflow: auto;
      background: #E1E6EF;

    }
    .scroll-foot{
      .add-bank{
        display: block;
        color: #3ecacb;
        font-size: 14px;
        border-radius: 5px;
        border: 1px solid #3ecacb;
        height: 28px;
        line-height: 28px;
        width: 300px;
        text-align: center;
        margin: 15px 0px;
        i{
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 18px;
          margin: 0px 5px 3px 0px;
          background: url(../images/add-ico.png) 0 0 no-repeat;
        }
      }
    }
  }
  .add-activity{
    background: #F9F9F9;
    border: 1px solid #E2E0E0;
    padding: 0px 23px;
    line-height: 40px;
    max-height: 210px;
    overflow: auto;
    label{
      cursor: pointer;
      input[type="checkbox"]{
        margin-right: 10px;
        position: relative;
        top: 1px;
      }
    }
  }


}

