.page-announcement {
  .notice-main {
    @include clearfix;
    overflow: hidden;
    .notice-inner {
      width: 352px;
      border-top: 4px solid #3ecacb;
      background: #f0f5fb;
      margin: 0 15px 15px 0px;
      float: left;
      h1 {
        color: #3a3d42;
        text-align: center;
        padding: 10px 0 5px 0;
      }
      .notice-content {
        padding: 10px 15px;
        p {
          font-size: 12px;
          color: #6f7b91;
          height: 180px;
          overflow: hidden;
        }
        .info {
          padding-top: 5px;
          font-size: 12px;
          .department {
            display: inline-block;
            width: 190px;
          }
          .time {
            width: 120px;
            display: inline-block;
            text-align: right;
          }
        }
      }
    }
  }

}
