.page-authority{
    .content{
        width:500px;
        height:500px;
        position:absolute;
        left:55%;
        top:65%;
        margin-left:-250px;
        margin-top:-250px;
        padding:140px 120px;
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        >h3,>p{
            color:#191919;
            line-height:1.8em;
        }
        >h3{
            font-size:18px;
        }
        >p{
            font-size:18px;
            >a{
                color:#0173cb;
                text-decoration: underline;
            }
        }
    }
}
