.page-banner-info {
  .banner-content {
    background: #f0f4fb;
    padding: 30px;
    .btn-content {
      margin-right: 20px;
      text-align: right;
      .add-banner {
        font-size: 14px;
      }
    }
    .banner-items {
      @include clearfix;
      overflow: hidden;
    }
    .banner-item {
      float: left;
      padding: 15px;
      border-radius: 10px;
      background: #fff;
      text-align: center;
      margin: 0 15px 30px 0px;
      img {
        border-radius: 5px;
      }
      .file-content {
        position: relative;
      }
      .number {
        font-size: 18px;
        color: #3a3d42;
      }
      .path {
        font-size: 14px;
        color: #807d7d;
        padding: 5px;
      }
      .edit-btn {
        cursor: pointer;
        display: inline-block;
        width: 23px;
        height: 23px;
        vertical-align: middle;
        background: url(../images/banner-ico.png) 0 0 no-repeat;
        margin-right: 50px;
      }
      .delete-btn {
        cursor: pointer;
        display: inline-block;
        width: 23px;
        height: 23px;
        vertical-align: middle;
        background: url(../images/banner-ico.png) 0 -40px no-repeat;
        margin-left: 50px;
      }
      .select-file {
        font-size: 14px;
        padding: 3px 0;
        width: 90px;
      }
      .file {
        position: absolute;
        top: 0;
        left: 149px;
        display: inline-block;
        cursor: pointer;
        width: 90px;
        height: 33px;
        line-height: 33px;
        opacity: 0;
        filter: alpha(opacity = 0);
      }
    }
  }
}
