.page-channel {
  .channel-content {
    padding: 50px;
    background: #f0f4fb;
    .line {
      height: 1px;
      border-bottom: 1px solid #e1e6ef;
      margin-bottom: 10px;
    }
    .back-btn {
      display: inline-block;
      margin-bottom: 15px;
      font-size: 16px;
      color: #3ecacb;
      text-decoration: underline;
    }
    .channel-item {
      @include clearfix;
      overflow: hidden;
      margin-bottom: 25px;
      .w-300 {
        width: 300px;
        .txt {
          width: 300px;
        }
      }
      .mr-30 {
        margin-right: 30px;
      }
      .w-150 {
        width: 150px;
        .status {
          margin-right: 5px;
          vertical-align: middle;
        }
      }
      .name {
        float: left;
        display: inline-block;
        width: 120px;
        line-height: 37px;
      }
      .channel-inner {
        float: left;
      }
      .query-btn {
        height: 37px;
        line-height: 37px;
        display: inline-block;
        width: 70px;
        text-align: center;
        color: #fff;
        background: #3ecacb;
        margin-left: 5px;
        border-radius: 5px;
      }
      .user-table {
        margin-top: 10px;
        background: #e1e6ef;
        width: 380px;
        td {
          padding: 5px 10px;
          &:nth-child(odd) {
            width: 40%;
          }
          &:nth-child(even) {
            width: 60%;
          }
        }
      }
      .department-content,
      .bank-content {
        width: 450px;
        background: #fff;
        max-height: 90px;
        overflow-y: auto;
        padding: 20px 10px 10px 10px;
        .item {
          margin-bottom: 10px;
        }
        .delete-btn {
          color: #3ecacb;
          font-size: 12px;
        }
      }
      .bank-content {
        @include clearfix;
        .item {
          float: left;
          margin-right: 5px;
        }
      }
      .add-department,
      .add-bank {
        display: block;
        color: #3ecacb;
        font-size: 12px;
        border-radius: 5px;
        border: 1px solid #3ecacb;
        height: 28px;
        line-height: 28px;
        width: 170px;
        text-align: center;
        margin: 15px 10px;
        i {
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 18px;
          margin: 0px 5px 3px 0px;
          background: url(../images/add-ico.png) 0 0 no-repeat;
        }
      }
      .info {
        color: #ef6a72;
        font-size: 12px;
      }
    }
  }
}
