.page-classify-info {
  .classify-content {
    padding: 50px;
    background: #f0f4fb;
    .classify-item {
      @include clearfix;
      overflow: hidden;
      margin-bottom: 25px;
      .w-300 {
        width: 300px;
        .txt {
          width: 300px;
        }
      }
      .mr-30 {
        margin-right: 30px;
      }
      .name {
        float: left;
        display: inline-block;
        width: 120px;
        line-height: 37px;
      }
      .classify-inner {
        float: left;
        .js-select {
          width: 280px;
        }
      }
    }
  }
}
