.page-commission {
  .button-content {
    .add-btn {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .input {
      position: absolute;
      bottom: 0;
      right: 180px;
    }
  }
  .back-btn {
    display: inline-block;
    font-size: 16px;
    color: #3f88cc;
    text-decoration: underline;
    margin: 10px 0 0 15px;
  }
  .commission-title {
    font-size: 16px;
    padding: 15px 0;
    color: #4d4d4d;
    margin: 0 15px 15px 15px;
    border-bottom: 1px solid #ccc;
  }
  .commission-content {
    .commission-item {
      @include clearfix;
      overflow: hidden;
      margin-bottom: 25px;
      .w-300 {
        width: 300px;
        .txt {
          width: 300px;
        }
      }
      .name {
        float: left;
        display: inline-block;
        width: 120px;
        line-height: 37px;
        text-align: right;
        padding-right: 10px;
      }
      .commission-inner {
        float: left;
      }
      .js-select {
        width: 280px;
      }
    }
  }
}

.page-commission-plus {
  .most-partment {
    width: 950px;
    margin: 40px auto 30px auto;
    @include clearfix;
    li {
      float: left;
      width: 180px;
      margin: 0 65px;
      h2 {
        color: #6f7b91;
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
      }
      div {
        width: 100%;
        height: 180px;
        text-align: center;
        line-height: 180px;
        border-radius: 50%;
        font-size: 22px;
        &.sum-back {
          color: #fff;
          background: #e4788c;
          border: 2px solid #e4788c;
        }
        &.comm-back {
          color: #b897f3;
          border: 2px solid #b897f3;
        }
      }
    }
  }
  .commission-button {
    margin-bottom: 20px;
    .commission-btn {
      display: inline-block;
      text-align: center;
      border-radius: 5px;
      width: 125px;
      height: 33px;
      line-height: 33px;
      color: #3f88cc;
      background: #fff;
      margin-right: 15px;
      border: 1px solid #3f88cc;
      &.active {
        background: #3f88cc;
        color: #fff;
      }
    }
  }
  .tab1-content {
    border: 1px solid #f0f4fb;
    padding: 15px;
    margin-bottom: 20px;
    .month-content {
      overflow: hidden;
      @include clearfix;
      width: 1020px;
      margin: 10px auto 30px auto;
      a {
        float: left;
        width: 43px;
        height: 43px;
        background: #fff;
        border: 1px solid #a6a6a6;
        color: #a6a6a6;
        display: block;
        text-align: center;
        font-size: 16px;
        border-radius: 50%;
        line-height: 43px;
        margin: 0 20px;
        &.active {
          color: #fff;
          background: #f06a64;
          border: 1px solid #f06a64;
        }
      }
    }
    .years {
      overflow: hidden;
      @include clearfix;
      width: 1020px;
      margin: 0 auto 20px auto;
      .last-year {
        float: left;
        text-align: center;
        width: 33.32%;
        border-top: 2px solid #f8c62f;
        span {
          position: relative;
          display: inline-block;
          background: #f8c62f;
          color: #fff;
          padding: 3px 15px;
          border-radius: 5px;
          margin-top: 15px;
          i {
            position: absolute;
            top: -5px;
            left: 27px;
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 7px solid #f8c62f;
          }
        }
      }
      .this-year {
        float: right;
        width: 66.68%;
        text-align: center;
        border-top: 2px solid #33d2cd;
        span {
          position: relative;
          display: inline-block;
          background: #33d2cd;
          color: #fff;
          padding: 3px 15px;
          border-radius: 5px;
          margin-top: 15px;
          i {
            position: absolute;
            top: -5px;
            left: 27px;
            display: inline-block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 7px solid #33d2cd;
          }
        }
      }
    }
  }
  .tab2-content {
    border: 1px solid #f0f4fb;
    padding: 15px;
    margin-bottom: 20px;
  }
}
