.page-depository{
	.clearfix:after{
		content:"";
		height:0;
		display:block;
		clear:both;
	}
	.clearfix{
		zoom:1;
		overflow:hidden;
	}
	.btn-wrap{
		padding:26px 22px 12px
	}
	.main-table{
		.data-table{
			margin-bottom:0;
			thead{
				td:last-child{
					padding-right:10px;
					text-align:center
				}
			}
			tbody{
				td{
					line-height:normal;
					white-space:normal;
					padding-right:10px;
					&:last-child{
						text-align:center;
						>div{
							width:170px;
							margin:0 auto;
						}
					}
					a.btn-lw{
						width:40%;
						&:first-child{
							margin-right:5%;
						}
					}
				}
			}
		}
	}
	.main-content{
		.content-wrap{
			padding:0 30px 35px;
			>div.clearfix{
				.fl,.fr{
					.box-wrap{
						position:relative;
						width:20px;
						height:20px;
						display:inline-block;
						vertical-align:text-bottom;
						margin-right:11px;
						.checkbox{
							cursor:pointer;
							&+label{
								cursor:pointer;
							}
						}
						.checkbox{
							position:absolute;
							opacity:0;
							width:100%;
							height:100%;
							z-index:5;
						}
						.alternative{
							width:20px;
							height:20px;
							@include border-radius(5px);
							background:#fff;
							border:1px solid #ccc
						}
						.checkbox:checked + .alternative:after{
							content:'';
							width:12px;
							height:7px;
							border:2px solid #000;
							position:absolute;
							right:3px;
							top:4px;
							border-bottom-width:0;
							border-left-width:0;
							transform:rotate(135deg);
							-webkit-transform:rotate(135deg);
							-moz-transform:rotate(135deg);
							cursor:pointer
						}
					}
				}
			}
			.button-content{
				.btn-hollow{
					margin-right:20px;
				}
			}
			.ui-table-info{
				.main-table{
					.info-table{
						tr{
							td{
								.important{
									color:#ee1116;
									margin-right:2px;
									margin-left:-10px;
									display:inline-block;
									vertical-align:text-top;
								}
								&.topset{
									vertical-align:text-top;
									padding-top:15px;
								}
								.w-320{
									width:80%;
									.txt{
										width:100%;
									}
									.input{
										min-height:90px;
										resize:none;
										line-height:1.5em;
										box-sizing:border-box;
										padding:5px;
									}
								}
								&:nth-child(odd){
									width:11%
								}
								&:nth-child(even){
									width:39%
								}
								>span{
									.js-select{
										width: calc(80% - 20px);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
