.page-dot {
  .button-inner {
    @include clearfix;
    overflow: hidden;
    margin-bottom: 20px;
    a {
      float: right;
      &.btn-fill {
        font-size: 14px;
      }
    }
  }
  .dot-info-content {
    padding: 20px 50px;
    background: #f0f5fb;
      .show {
        input {
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    .dot-table {
      tbody {
        td {
          padding: 10px 0px;
          font-size: 14px;
          .js-select {
            margin-right: 20px;
          }
          label.checkbox {
            width: 200px;
            input {
              vertical-align: middle;
            }
          }
        }
        .name {
          width: 10%;
          span {
            color: #ff5776;
            display: inline-block;
            margin-right: 5px;
          }
        }
        .info {
          width: 40%;
          label {
            width: 100%;
            .txt {
              width: 80%;
            }
          }
          .get-longitudes {
            display: block;
            width: 90px;
            text-align: center;
            background-color: #3f88cc;
            color: #fff;
            height: 30px;
            line-height: 30px;
            border-radius: 5px;
            margin-left: 10%;
          }
        }
      }
    }
  }
}
