.page-download-info {
  .dot-info-content {
    padding: 20px 50px;
    background: #f0f5fb;
      .show {
        input {
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    .dot-table {
      tbody {
        td {
          padding: 10px 0px;
          font-size: 14px;
          .js-select {
            margin-right: 20px;
          }
          label.checkbox,
          label.radio {
            width: 30%;
            input {
              vertical-align: middle;
            }
          }
        }
        .name {
          width: 10%;
          text-align: right;
          padding-right: 15px;
          span {
            color: #ff5776;
            display: inline-block;
            margin-right: 5px;
          }
        }
        .info {
          position: relative;
          width: 40%;
          .browse {
            position: absolute;
            top: 15px;
            right: 21%;
          }
          .file {
            position: absolute;
            right: 20%;
            top: 12px;
            z-index: 99;
            display: inline-block;
            width: 80%;
            height: 37px;
            line-height: 37px;
            cursor: pointer;
            outline: none;
            opacity: 0;
            filter: alpha(opacity=0);
          }
          label {
            width: 100%;
            .txt {
              width: 80%;
            }
          }
          .get-longitudes {
            display: block;
            width: 90px;
            text-align: center;
            background-color: #3ecacb;
            color: #fff;
            height: 30px;
            line-height: 30px;
            border-radius: 5px;
            margin-left: 10%;
          }
        }
        #container {
          width: 90%;
        }
      }
    }
  }
}
