.page-file-index {
  .file-config-top {
    margin-top: 10px;
  }
  .file-config-search-input {
    width: 300px;
  }
}

.file-index-notification {
  line-height: 20px;
  padding: 10px 15px 10px 50px;
  background: #FFB85B url(../../images/file-index-notification.png) no-repeat 20px 50%;
  color: #fff;
  margin-left: 150px;
  a {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    color: #3f88cc;
    cursor: pointer;
  }
}
.file-table-top {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1;
  .file-table-top-title {
    display: inline-block;
    color: #555;
    font-weight:600;
  }
  .file-table-top-total {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 40px;
    a {
      display: inline-block;
      color: #3f88cc;
      cursor: pointer;
      font-size: 30px;
    }
  }
  .file-table-top-limit {
    display: inline-block;
    color: #ccc;
  }
}
.file-index-tab-wrap {
  text-align: center;
  font-size: 0;
  margin-bottom: 25px;
  .index-tab {
    display: inline-block;
    width: 33%;
    @include box-sizing(border-box);
    &:nth-child(1) {
      padding-right: 10px;
    }
    &:nth-child(2) {
      padding: 0 10px;
    }
    &:nth-child(3) {
      padding-left: 10px;
    }
    .index-tab-wrap {
      @include border-radius(8px 8px 0px 0px);
      .index-tab-top {
        padding: 10px;
        .top-num {
          color: #fff;
          font-size: 30px;
          line-height: 1;
          margin-bottom: 5px;
        }
        .top-type {
          color: #fff;
          font-size: 14px;
          line-height: 1;
          margin-bottom: 5px;
        }
      }
      .index-tab-bottom {
        color: #3f88cc;
        font-size: 14px;
        background-color: #F0F0F0;
        line-height: 36px;
        display: block;
        cursor: pointer;
        &:hover {
          opacity: .8;
        }
      }
    }
  }
  .tab-blue {
    .index-tab-wrap {
      background-color: #63A9FF;
    }
  }
  .tab-purple {
    .index-tab-wrap {
      background-color: #B897F2;
    }
  }
  .tab-light-blue {
    .index-tab-wrap {
      background-color: #44C1DF;
    }
  }

}
