.page-file-review-check {
  .review-check-content {
    position: relative;
  }
  .review-check-left {
    height: 560px;
    margin-right: 260px;
    border: solid 1px #ccc;
    background-color: #F0F5FB;
    padding: 40px 75px 100px;
    text-align: center;
    position: relative;
    .handle-img {
      height: 100%;
      max-width: 100%;
      display: inline-block;
    }
    .handle-num {
      margin-top: 10px;
    }
    .handle-btn {
      position: absolute;
      display: inline-block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      background: url(../../images/sprite/filecheck/file-check.png) no-repeat;
    }
    .preview,.next {
      top: 50%;
      margin-top: -58px;
    }
    .preview {
      left: 15px;
      background-position: 0 -48px;
    }
    .next {
      right: 15px;
      background-position: 0 0;
    }
    .enlarge,.narrow,.refresh {
      width: 36px;
      height: 36px;
      bottom: 20px;
    }
    .enlarge {
      right: 130px;
      background-position: 0 -132px;
    }
    .narrow {
      right: 76px;
      background-position: 0 -96px;
    }
    .refresh {
      right: 20px;
      background-position: 0 -168px;
    }
  }
  .review-check-right {
    height: 702px;
    position: absolute;
    top:0;
    right: 0;
    width: 250px;
    .right-top {
      background-color: #F0F5FB;
      height: 60%;
      padding: 10px;
      border-bottom: solid 20px #fff;
      @include box-sizing(border-box);
      overflow: hidden;
      overflow-y: auto;
    }
    .top-title {
      line-height: 20px;
      padding: 10px;
      background-color: #E2E6EF;
      margin-bottom: 10px;
      @include border-radius(5px);
      color: #3f88cc;
      text-align: center;
    }
    .top-content {
      margin-bottom: 10px;
      padding: 0 10px;
      p {
        line-height: 18px;
        margin-bottom: 10px;
        color: #333;

      }
    }
    .top-content-item {
      margin-bottom: 10px;
      dt {
        color: #000;
        font-size: 15px;
        padding-left: 20px;
        position: relative;
        cursor: pointer;
        &:before {
          content: " ";
          position: absolute;
          top: 8px;
          left: 5px;
          width: 7px;
          height: 7px;
          background: url(../../images/ui-icons_222222_256x240.png) no-repeat -69px -21px;
        }
        &.active {
          &:before {

            background: url(../../images/ui-icons_222222_256x240.png) no-repeat -4 -21px;
          }

        }
      }
      dd {
        color: #666;
        margin-left: 30px;
        cursor: pointer;
        &:hover {
          color: #3F88CC;
        }
      }
    }
    .right-bottom {
      height: 40%;
      background-color: #F0F5FB;
      padding: 15px;
      @include box-sizing(border-box);
      overflow: hidden;
      overflow-y: auto;
      .bottom-radio {
        text-align: center;
        .radio-item {
          display: inline-block;
          margin: 10px;
          cursor: pointer;
          input {
            height: 16px;
            width: 16px;
          }
          span {
            line-height: 16px;
            vertical-align: top;
            color: #000;
          }
        }
      }
      .option-top {
        color: #000;
        line-height: 30px;
        font-size: 16px;
      }
      .option-textarea {
        height: 120px;
        width: 100%;
        outline: none;
        padding: 5px;
        overflow: hidden;
        overflow-y: scroll;
        background-color: #E1E6EF;
        resize:none;
        text-indent: 2em;
        border: none;
        @include box-sizing(border-box);
      }
      .button-content {
        margin-top: 10px;
        .btn {
          margin: 0 10px;
        }
      }
    }
  }
  @media screen and (max-width: 900px) {
    .review-check-left {
      height: 460px;
    }
    .review-check-right {
      height: 602px;
    }
  }
}
