.page-file-collection-list {
  .button-content {
    text-align: right;
    margin:10px 0;
    .btn-primary-white {
      left: 0;
      top:0;
      right: inherit;
      bottom: inherit;
      text-align: center;
      margin:0;
    }
  }
  .import-content {
    display: inline-block;
    .import-inner {
      @include clearfix;
      overflow: hidden;
      cursor: pointer;
      font-size: 0;
      .file-name,.business-name {
        height: 28px;
        line-height: 28px;
        background: #e1e6ef;
        border: none;
        outline: none;
        text-indent: 8px;
      }
      .file-name {
        @include border-radius(5px 0 0 5px);
        width: 200px;
      }
      .business-name {
        @include border-radius(5px);
        margin-right: 10px;
        width: 100px;
      }

      .log {
        display: inline-block;
        width: 50px;
        color: #fff;
        text-align: center;
        font-size: 12px;
        background: #8c99b6;
        border-radius: 0 5px 5px 0;
        line-height: 28px;
      }
    }
  }
}
.main-table {
  thead {
    th {
      small {
        display: inline-block;
        color: #fff;
        background: #ff6767;
        font-size: 12px;
        height: 14px;
        line-height: 14px;
        border-radius: 8px;
        text-align: center;
        margin-left: 5px;
        padding: 0 5px;
      }
    }
  }
  tbody {
    .td-checkbox {
      width: 16px;
      height: 16px;
      vertical-align: top;
      margin-right: 10px;
      margin-top: 3px;
    }
  }
}
