.page-introduce-info {
  .introduce-content {
    padding: 50px;
    background: #f0f4fb;
    .introduce-item {
      @include clearfix;
      overflow: hidden;
      margin-bottom: 25px;
      .w-300 {
        width: 300px;
        .txt {
          width: 300px;
        }
      }
      .mr-30 {
        margin-right: 30px;
      }
      .w-150 {
        width: 150px;
        .status {
          margin-right: 5px;
          vertical-align: middle;
        }
      }
      .name {
        float: left;
        display: inline-block;
        width: 120px;
        line-height: 37px;
      }
      .introduce-inner {
        float: left;
        position: relative;
        textarea {
          background: #e1e6ef;
          width: 650px;
          height: 100px;
          overflow-y: auto;
          padding: 10px;
          border-radius: 10px;
          line-height: 20px;
          resize: none;
          outline: none;
          border: none;
        }
        .upload {
          display: inline-block;
          width: 100px;
          text-align: center;
          height: 37px;
          line-height: 37px;
          color: #fff;
          background: #3f88cc;
          border-radius: 5px;
        }
        .tip {
          display: inline-block;
          margin-left: 10px;
          color: #b3b3b3;
          font-size: 12px;
        }
        .file {
          position: absolute;
          top: 0;
          left: 0;
          width: 100px;
          height: 37px;
          line-height: 37px;
          cursor: pointer;
          opacity: 0;
          filter: alpha(opacity=0);
        }
      }
    }
  }
}
