.page-knowledge-info {
  .knowledge-head {
    position: relative;
    margin: 25px 0 20px 0;
    h2 {
      font-size: 16px;
    }
    a {
      position: absolute;
      top: -20px;
      right: 0;
    }
  }
  .question-item {
    @include clearfix;
    overflow: hidden;
    margin-bottom: 20px;
    .name {
      float: left;
      width: 80px;
      display: inline-block;
      line-height: 35px;
    }
    textarea {
      width: 380px;
      padding: 10px;
      background: #e1e6ef;
      resize: none;
      height: 40px;
      line-height: 20px;
      border: none;
      outline: none;
      border-radius: 5px;
    }
    label.w-400 {
      width: 400px;
      .txt {
        width: 400px;
      }
    }
    label.w-100 {
      width: 100px;
      .txt {
        width: 100px;
      }
    }
    input[type="radio"] {
      vertical-align: middle;
      margin-right: 5px;
      display: inline-block;
    }
    .option-content {
      float: left;
      .option-item {
        margin-bottom: 20px;
        .detele {
          color: #3f88cc;
        }
      }
      .add-option {
        a {
          color: #3f88cc;
        }
      }
    }
  }
}
