.page-mall-sales {
  .sales-title {
    margin: 15px 0 0 15px;
    font-size: 16px;
    color: #3a3d42;
  }
  .sales-items {
    .output-content {
      margin: 0 15px 15px 0px;
      text-align: right;
      .output {
        font-size: 14px;
      }
    }
    .sales-item {
      margin-bottom: 30px;
    }
  }
  .sales-top {
    position: relative;
    background: #f0f4fb;
    padding: 5px 15px;
    height: 40px;
    .name {
      display: inline-block;
      padding-left: 10px;
      margin-top: 10px;
      height: 18px;
      line-height: 18px;
      &.sum {
        border-left: 5px solid #3f88cc;
      }
      &.trend {
        border-left: 5px solid #e4788c;
      }
      &.time {
        border-left: 5px solid #b897f3;
      }
      &.business {
        border-left: 5px solid #63a9ff;
      }
    }
    .ui-search {
      position: absolute;
      right: 15px;
      top: 5px;
    }
  }
  .sum-content {
    padding: 30px 15px;
    margin: 0 auto;
    border: 1px solid #f0f4fb;
  }
  .sales-content {
    @include clearfix;
    overflow: hidden;
    .left {
      float: left;
      .mt-30 {
        margin-top: 30px;
      }
      .row-v {
        background: #f8f4fe;
        margin-bottom: 5px;
      }
      .row-e {
        background: #fcf1f3;
        margin-bottom: 5px;
      }
      .row-c {
        background: #ecf9fc;
      }
      .num {
        display: inline-block;
        margin-left: 15px;
      }
      .visitor-content {
        height: 55px;
        line-height: 55px;
        span {

        }
        b {
          display: inline-block;
          margin: 0 15px;
          font-size: 18px;
          color: #b897f3;
          font-weight: normal;
        }
      }
      .cancellation-content {
        height: 55px;
        line-height: 55px;
        span {

        }
        b {
          display: inline-block;
          margin: 0 15px;
          font-size: 18px;
          color: #44c1de;
          font-weight: normal;
        }
      }
      .entrust-content {
        height: 55px;
        line-height: 55px;
        span {

        }
        b {
          display: inline-block;
          margin: 0 15px;
          font-size: 18px;
          color: #e4788c;
          font-weight: normal;
        }
      }
    }
  }
  .interpretation-txt {
    @include clearfix;
    overflow: hidden;
    width: 590px;
    margin: 40px auto 0 auto;
    .fl {
      width: 50%;
      border-right: 1px solid #b6bfd7;
    }
    .name {
      font-size: 14px;
      color: #3a3d42;
      margin-bottom: 5px;
    }
    .info {
      font-size: 12px;
      a {
        color: #e4788c;
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
  .sales-chart {
    margin: 0 5%;
    width: 90%;
    height: 300px;
  }
}
