.page-mall-access {
  .access-title {
    margin: 20px;
    font-size: 16px;
    color: #3a3d42;
  }
  #access_bar {
    width: 60%;
    margin: 10px auto;
  }
  #access_column {
    width: 70%;
    margin: 100px auto 0 auto;
  }
}
