.page-mall-product {
  .product-title {
    margin: 15px 0 0 15px;
    font-size: 16px;
    color: #3a3d42;
  }
  .product-items {
    .output-content {
      margin: 0 15px 15px 0px;
      text-align: right;
      .output {
        font-size: 14px;
      }
    }
    .product-item {
      margin-bottom: 30px;
    }
  }
  .product-top {
    position: relative;
    background: #f0f4fb;
    padding: 5px 15px;
    height: 40px;
    .name {
      display: inline-block;
      padding-left: 10px;
      margin-top: 10px;
      height: 18px;
      line-height: 18px;
      &.sum {
        border-left: 5px solid #3f88cc;
      }
      &.trend {
        border-left: 5px solid #e4788c;
      }
      &.time {
        border-left: 5px solid #b897f3;
      }
      &.business {
        border-left: 5px solid #63a9ff;
      }
    }
    .ui-search {
      position: absolute;
      right: 15px;
      top: 5px;
    }
  }
  .product-type {
    margin-top: 25px;
    .name {
      display: inline-block;
      width: 110px;
    }
    label {
      width: 250px;
      .txt {
        width: 250px;
      }
    }
  }
  .search-content {
    background: #f0f4fb;
    padding: 30px 15px;
    margin-bottom: 25px;
  }
  .data-table {
    .circle {
      display: inline-block;
      width: 24px;
      height: 24px;
      color: #fff;
      background: #ed9138;
      line-height: 24px;
      text-align: center;
      border-radius: 50%;
      margin-right: 5px;
    }
    .product-detail {
      color: #63a9ff;
    }
  }
  .survey-content {
    @include clearfix;
    overflow: hidden;
    padding: 25px 15px;
    border: 1px solid #f0f4fb;
    .number-content {
      float: left;
      @include clearfix;
      overflow: hidden;
      width: 48%;
      .number-txt {
        float: left;
        text-align: right;
        margin-right: 15px;
        .item {
          height: 48px;
          margin-top: 3px;
          b {
            font-size: 18px;
            color: #ff5776;
            &.col-g {
              color: #3f88cc;
            }
          }
        }
      }
      #survey_line {
        float: left;
        width: 65%;
        height: 200px;
      }
    }
    .Top-content {
      float: left;
      width: 48%;
      border-left: 2px solid #f0f4fb;
      dt {
        color: #3a3d42;
        margin: 0 0px 15px 15px;
      }
      dd {
        display: inline-block;
        width: 30%;
        text-align: center;
        border-right: 1px dashed #f0f4fb;
        &:last-child {
          border-right: none;
        }
        b {
          display: inline-block;
          padding-bottom: 20px;
          font-size: 18px;
          color: #ff5776;
        }
      }
    }
  }
}
