.page-marketsers {
  .button-inner {
    @include clearfix;
    overflow: hidden;
    margin-bottom: 20px;
    a {
      float: right;
      font-size: 14px;
    }
  }
  .marketsers-content {
    padding: 50px;
    background: #f0f4fb;
    margin: 0 auto;
    .item {
      @include clearfix;
      overflow: hidden;
      margin-bottom: 15px;
      .name {
        display: inline-block;
        line-height: 37px;
        width: 100px;
        text-align: right;
        float: left;
        margin-right: 20px;
        b {
          color: #ff5776;
          font-weight: normal;
        }
      }
      .item-inner {
        float: left;
      }
      label {
        width: 370px;
        .txt {
          width: 100%;
        }
      }
    }
  }
}
