.page-message {
  .main-table {
    .data-table {
      tbody {
        td {
          padding: 5px 10px;
          line-height: 20px;
          overflow: auto;
          white-space: normal;
        }
      }
    }
  }
}
