.news-center {
  border: 1px solid #f0f5fb;
  padding: 10px 20px 20px 10px;
  h2 {
    font-size: 15px;
    line-height: 15px;
    color: #5e6c84;
  }
  .news-content {
    padding-bottom: 14px;
    margin-top: 20px;
    p {
      font-size: 12px;
      line-height: 16px;
      color: #a6a6a6;
      .manual {
        color: #3ecacb;
      }
    }
  }
}

.delete-box {
  font-size: 0;
  text-align: right;
  .date {
    font-size: 12px;
    line-height: 15px;
    color: #a6a6a6;
  }
  i.delete-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 18px;
    vertical-align: -3px;
    background: url("../images/delete.png") center no-repeat;
    cursor: pointer;
  }
}
