.page-notice {
  .btn-content {
    margin-bottom: 20px;
    @include clearfix;
    overflow: hidden;
    #release {
      float: right;
    }
  }
  .notice-main {
    @include clearfix;
    overflow: hidden;
    .notice-inner {
      width: 352px;
      // height: 266px;
      border-top: 4px solid #3f88cc;
      background: #f0f5fb;
      margin: 0 15px 15px 0;
      float: left;
      // overflow: hidden;
      &.notice-box {
        height: 408px;
      }
      .title {
        margin: 10px 15px 0 15px;
        text-align: center;
        border: none;
        height: 37px;
        line-height: 37px;
        width: 322px;
        outline: none;
        color: #3a3d42;
      }
      .notice-content {
        padding: 10px 15px;
        textarea {
          font-size: 12px;
          height: 170px;
          overflow-y: auto;
          border: none;
          resize: none;
          width: 312px;
          padding: 5px;
          outline: none;
        }
      }
      .set-time {
        margin-top: 10px;
        .time-inner {
          margin-bottom: 15px;
          font-size: 0;
          span {
            font-size: 14px;
          }
        }
        .time-label {
          width: 80px;
          margin-left: 8px;
          font-size: 12px;
          .txt {
            width: 80px;
            font-size: 12px;
          }
        }
        .btn-normal {
          width: 143px;
        }
      }
      .info {
        @include clearfix;
        overflow: hidden;
        padding-top: 5px;
        font-size: 12px;
        .department {
          float: left;
        }
        .time {
          float: right;
        }
      }
      .notice-top {
        position: relative;
      }
      .set-content {
        position: absolute;
        width: 70px;
        top: 20px;
        right: 0;
        text-align: center;
        .set-inner {
          background: #fff;
          border-radius: 5px;
          margin-top: 5px;
          padding: 5px 0;
          a {
            display: block;
            color: #878ca2;
            padding: 5px 0;
            &:hover {
              color: #3f88cc;
            }
          }
        }
        .set {
          display: block;
          cursor: pointer;
          width: 20px;
          height: 20px;
          margin: 0 auto;
          background: url(../images/set.png) 0 0 no-repeat;
        }
      }
      &.edit {
        .title {
          background: #e1e6ef;
          border-radius: 5px;
        }
        .set-content {
          display: none;
        }
        textarea {
          color: #3a3d42;
          background: #e1e6ef;
          border-radius: 5px;
        }
        .info {
          display: none;
        }
        .set-time {
          display: block;
        }
      }
      &.readonly {
        .title {
          width: 290px;
          background: none;
          height: 35px;
          line-height: 18px;
          text-align: left;
          overflow: hidden;
          resize: none;
        }
        textarea {
          overflow: hidden;
          color: #6f7b91;
          background: none;
          height: 302px;
        }
        .info {
          display: block;
        }
        .set-time {
          display: none;
        }
        .set-content {
          display: block;
        }
      }
    }
  }
}
