.page-online-features {
  .features-title {
    margin: 20px;
    font-size: 16px;
    color: #3a3d42;
  }
  #features_age,
  #features_sex,
  #features_occupation,
  #features_education {
    float: left;
    width: 55%;
    margin-right: 15px;
  }
}
