.page-online-time {
  .time-title {
    margin: 20px;
    font-size: 16px;
    color: #3a3d42;
  }
  .time-main {
    overflow: hidden;
    @include clearfix;
  }
  #time_line {
    float: left;
    width: 60%;
    height: 260px;
  }

  .time-content {
    overflow: hidden;
    margin: 20px 80px 0px 0px;
    float: right;
    dl {
      @include clearfix;
      margin-bottom: 25px;
      dd {
        float: left;
        display: inline-block;
        vertical-align: middle;
      }
      dt {
        display: inline-block;
        p {
          font-size: 12px;
        }
        .time {
          font-size: 16px;
          em {
            font-size: 20px;
          }
        }
      }
      &.average {
        .ico {
          width: 38px;
          height: 38px;
          background: url(../images/time.png) 0 0 no-repeat;
          margin: 9px 40px 0px 0px;
        }
        .time {
          color: #e4788c;
        }
      }
      &.fastest {
        .ico {
          width: 38px;
          height: 65px;
          background: url(../images/time.png) 0 -45px no-repeat;
          margin-right: 40px;
        }
        .time {
          color: #b897f3;
        }
      }
      &.longest {
        .ico {
          width: 56px;
          height: 39px;
          background: url(../images/time.png) 0 -115px no-repeat;
          margin-right: 22px;
        }
        .time {
          color: #44c1de;
        }
      }
    }
  }
}
