.page-processes {

	.demo {
    touch-action:none;
  }
  // .jtk-demo-main {
  //   position: relative;
  // }
  .flowchart-demo .window {
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: 0.8;
    width: 80px;
    height: 80px;
    #line-height: 80px;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    position: absolute;
    background-color: #eeeeef;
    color: black;
    font-family: helvetica, sans-serif;
    padding: 0.5em;
    font-size: 0.9em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
  }

  .flowchart-demo .window:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity: 0.6;
  }

  .flowchart-demo .active {
    border: 1px dotted green;
  }

  .flowchart-demo .hover {
    border: 1px dotted red;
  }

  .flowchart-demo .jsplumb-connector {
    z-index: 4;
  }

  .flowchart-demo .jsplumb-endpoint, .endpointTargetLabel, .endpointSourceLabel {
    z-index: 21;
    cursor: pointer;
  }

  .flowchart-demo .aLabel {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    cursor: pointer;
  }

  .flowchart-demo .aLabel.jsplumb-hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
  }

  .window.jsplumb-connected {
    border: 2px solid green;
  }

  .jsplumb-drag {
    outline: 4px solid pink !important;
  }

  path, .jsplumb-endpoint {
    cursor: pointer;
  }

  .jsplumb-overlay {
    background-color:transparent;
  }

  .window.btn-process {
    height: 57px;
    width: 110px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #3f88cc;
    color: #fff;
    border: none;
  }
  .window.btn-process-many {
    height: 125px;
    width: 180px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #3f88cc;
    color: #fff;
    padding-top:5px;
    padding-bottom:5px;
    box-sizing: border-box;
    border:none;
  }
  .btn1 {
    color: #ff5776;
    background-color: #cff2f2;
    border-radius: 4px;
    line-height: 24px;
    height: 24px;
    width: 112px;
    margin: 0 auto;
  }
  // .window.btn-process-many p {
  //   line-height: 4px;
  // }
  .window.btn-process-many span {
    line-height: 8px;
  }
  .window.btn-process-if {
    line-height: 80px;
    height: 80px;
    width: 125px;
    font-size: 14px;
    background: url(../images/process/bg-greenprismatic-solid.png)4px 5px no-repeat;
    color: white;
    border: none;
    background-color: inherit;
    box-shadow: none;
  }
  .window.btn-process-if-blue {
    line-height: 80px;
    height: 80px;
    width: 125px;
    font-size: 14px;
    background: url(../images/process/bg-blueprismatic.png)4px 5px no-repeat;
    color: #66aaff;
    border: none;
    background-color: inherit;
    box-shadow: none;
  }
  .window.btn-process-if-black {
    line-height: 80px;
    height: 80px;
    width: 125px;
    font-size: 14px;
    background: url(../images/process/bg-blackprismatic.png)4px 5px no-repeat;
    color: #888888;
    border: none;
    background-color: inherit;
    box-shadow: none;
  }
  .window.btn-process-if:hover,.window.btn-process-if-blue:hover,.window.btn-process-if-black:hover {
    box-shadow: none;
  }
  .window.btn-process-footer {
    height: 57px;
    line-height: 57px;
    width: 120px;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid #888888;
    color: #888888;
  }
}

