.page-processes {
	.main-content{
		.button-content{
			.btn-hollow{
				margin-right:20px;
			}
		}
		.ui-table-info{
			.main-table{
				.info-table{
					tr{
						td{
							.hide{
								display:none!important;
							}
							.important{
								color:#ee1116;
								margin-right:2px;
								margin-left:-10px;
								display:inline-block;
								vertical-align:text-top;
							}
							&.topset{
								vertical-align:text-top;
								padding-top:15px;
							}
							.protocal-wrap{
								width:90%;
								max-height:120px;
								overflow:auto;
								.alllistname{
									margin:0;
									.search-box{
										margin-left:0;
									}
								}
								.protocal-list{
									>li{
										display:inline-block;
										width:23%;
										&#all{
											display:none;
										}
										>a{
											color:#4d4d4d;
											font-size:14px;
											padding:4px 0;
											display:block;
											.param-checkbox{
												display: inline-block;
												vertical-align: middle;
												width: 13px;
												height: 13px;
												margin-right: 5px;
												background: url(../images/icolist.png) -20px -80px no-repeat;
											}
											.current{
												background: url(../images/icolist.png) 0px -80px no-repeat;
											}
										}
									}
								}
							}
							.edit{
								margin-top:10px;
								display:inline-block;
								cursor:pointer;
								.edit-name{
									display: inline-block;
									vertical-align: middle;
									content: "";
									font-size: 0;
									width: 15px;
									height: 16px;
									background: url(../images/video/video-list.png) 0 -95px no-repeat;
								}
							}
							#all_search_list{
								.ui-option{
									.alllistname{
										margin:0;
										.content-name{
											margin:0;
											height:auto;
											.attr-panl{
												padding:0;
												>a{
													margin-bottom:0;
												}
											}
										}
									}
								}
							}
							.w-320{
								width:80%;
								.txt{
									width:100%;
								}
								.input{
									min-height:90px;
									resize:none;
									line-height:1.5em;
									box-sizing:border-box;
									padding:15px;
									width:100%;
								}
							}
							.w-75{
								width:75%;
								margin-right:15px;
								& + .btn{
									line-height:35px;
									width:14%;
									font-size:18px;
								};
								& + span{
									color:#6f7b91;
									display:inline-block;
									width:14%;
									text-align:right;
									font-size:12px;
								}
							}
							.w-90{
								width:91%;
								.input{
									min-height:200px;
								}
							}
							&:nth-child(odd){
								width:11%
							}
							&:nth-child(even){
								width:39%
							}
							>span{
								.js-select{
									width: calc(80% - 20px);
									width: -webkit-calc(80% - 20px);
									width:-moz-calc(80% - 20px);
								}
							}
						}
					}
				}
			}
		}
	}
	.main-table{
		.data-table{
			margin-bottom:0;
			thead{
				td:last-child{
					padding-right:10px;
					text-align:center
				}
			}
			tbody{
				td{
					line-height:normal;
					white-space:normal;
					padding-right:10px;
					&:last-child{
						text-align:center;
						>div{
							width:160px;
							margin:0 auto;
						}
					}
					a.btn-lw{
						width:58px;
						margin-right:4px;
						&:last-child{
							margin-right:0;
						}
					}
					span {
						color: #3ecacb;
						cursor: pointer;
					}
				}
			}
		}
	}
}

