.page-recruit {
  .recruit-table {
    tbody {
      td {
        padding: 10px 0px;
        font-size: 14px;
        .js-select {
          margin-right: 20px;
        }
        label.checkbox {
          width: 200px;
          input {
            vertical-align: middle;
          }
        }
      }
      .name {
        width: 10%;
        text-align: right;
        padding-right: 15px;
        span {
          color: #ff5776;
          display: inline-block;
          margin-right: 5px;
        }
      }
      .info {
        width: 40%;
        label {
          width: 100%;
          .txt {
            width: 80%;
          }
          &.radio {
            width: 25%;
            margin-right: 25px;
            input {
              vertical-align: middle;
              margin-right: 3px;
            }
          }
        }
      }
      .w-78 {
        width: 78%;
        .txt {
          width: 100%;
        }
      }
    }
  }
  #demand,
  #duty,
  #longevity {
    width: 70%;
  }
  .js-select {
    width: 75%;
  }
}
