.page-settlement-table{
  span.nochecked{
    padding-left: 17px;
  }
  label.table-check{
    width: auto;
    height: auto;
    line-height: normal;
    cursor: pointer;
    input[type="checkbox"]{
      display: none;
    }
    span.checkbox{
      display: inline-block;
      font-size: 12px;
      border: solid 1px #868686;
      color: #3f88cc;
      height: 10px;
      width: 10px;
      line-height: 6px;
      overflow: hidden;
      position: relative;
      top: 1px;
      margin-right: 5px;
      border-radius: 2px;
    }
  }
  .table-foot{
    width: 100%;
    padding-left: 16px;
    label{
      margin-right: 10px;
    }
    &:before{
      content: "";
      clear: both;
      width: 100%;
      display: block;
      height: 10px;
    }

  }
  .fuzzy-list{
    position: absolute;
    z-index: 1;
    background: #e1e6ef;
    min-width: 130px;
    top: 65px;
    li{
      line-height: 30px;
      padding: 0 10px;
      white-space: nowrap;
      font-size: 12px;
      cursor: pointer;
      &:hover{
        background-color: #9ba0a8;
        color: #fff;
      }
    }
  }

}
