.topTitle {
    padding: 10px 20px;
    line-height: 1;
    border-bottom: solid 1px $border-color;
    overflow: hidden;
    margin-bottom: 20px;
    .left {
        float: left;
    }
    .right {
        float: right;
        color: #999;
    }
}

.top-list {
    position: relative;
    line-height: 40px;
    @include clearfix();
    @include box-sizing(border-box);
    .ct-pic{
        display: inline-block;
        float: left;
        margin-right: 20px;
    }
    .search-dl-bg{
        display: inline-block;
        float: right;
        i{
            top:20px !important;
        }
    }
    .search-dl-small{
        display: inline-block;
        float: right;
        .js-select {
            border: none;
            background: none;
            min-width: 80px;
            width: auto;
        }
    }
}
