.page-stocke-product {
  .name {
    vertical-align: top;
  }
  .back-btn {
    display: inline-block;
    font-size: 16px;
    color: #3f88cc;
    text-decoration: underline;
    margin-bottom: 15px;
  }
  .price-content {
    zoom: 1;
    width: 450px;
    background: #fff;
    padding: 10px;
    .price {
      margin-bottom: 10px;
      .price-name {
        display: inline-block;
        width: 150px;
        text-align: right;
      }
    }
  }
  .protocol-content {
    zoom: 1;
    width: 450px;
    background: #fff;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
    .pdf {
      margin-bottom: 10px;
      span {
        display: inline-block;
        width: 275px;
      }
      .delete-pdf {
        display: inline-block;
        margin-left: 15px;
      }
    }
  }
  .textbox-item {
    padding: 0 40px 20px 40px;
    overflow: hidden;
  }
  .w-300 {
    width: 300px;
    .txt {
      width: 100%;
    }
  }
  .search-box {
    margin-bottom: 10px;
    .aql-div {
      .w-300 {
        .aql-input {
          width: 210px;
          padding-left: 30px;
          background: url(../images/input.png) no-repeat;
        }
      }
    }
    .choose-box {
      background: #e1e6ef;
      overflow-y: auto;
      height: 70px;
      padding: 0 10px;
      margin-top: 10px;
    }
  }
  .title-name {
    margin-bottom: 10px;
  }
  .banner-img {
    margin-top: 10px;
  }
  .add-content {
      display: block;
      color: #3f88cc;
      font-size: 12px;
      border-radius: 5px;
      border: 1px solid #3f88cc;
      height: 28px;
      line-height: 28px;
      width: 170px;
      text-align: center;
      margin: 15px 10px;
      i {
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        margin: 0px 5px 3px 0px;
        background: url(../images/add-ico.png) 0 0 no-repeat;
      }
    }
}
