.page-stocke-protocol {
  .product-item {
    @include clearfix;
    overflow: hidden;
    margin-bottom: 25px;
    .w-300 {
      width: 300px;
      .txt {
        width: 300px;
      }
    }
    .mr-30 {
      margin-right: 30px;
    }
    .w-150 {
      width: 150px;
      .status {
        margin-right: 5px;
        vertical-align: middle;
      }
    }
    .name {
      float: left;
      display: inline-block;
      width: 100px;
      line-height: 37px;
      text-align: right;
      margin-right: 15px;
    }
    .product-inner {
      float: left;
    }
    .query-btn {
      height: 37px;
      line-height: 37px;
      display: inline-block;
      width: 70px;
      text-align: center;
      color: #fff;
      background: #3f88cc;
      margin-left: 5px;
      border-radius: 5px;
    }
    .user-table {
      margin-top: 10px;
      background: #e1e6ef;
      width: 380px;
      td {
        padding: 5px 10px;
        &:nth-child(odd) {
          width: 40%;
        }
        &:nth-child(even) {
          width: 60%;
        }
      }
    }
    .product-content {
      @include clearfix;
      width: 450px;
      background: #fff;
      max-height: 90px;
      overflow-y: auto;
      padding: 20px 10px 10px 10px;
      .product {
        margin-bottom: 10px;
        float: left;
        margin-right: 5px;
      }
      .delete-btn {
        color: #3f88cc;
        font-size: 12px;
      }
    }
    .add-product {
      display: block;
      color: #3f88cc;
      font-size: 12px;
      border-radius: 5px;
      border: 1px solid #3f88cc;
      height: 28px;
      line-height: 28px;
      width: 170px;
      text-align: center;
      margin: 15px 10px;
      i {
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        margin: 0px 5px 3px 0px;
        background: url(../images/add-ico.png) 0 0 no-repeat;
      }
    }
    .info {
      color: #ef6a72;
      font-size: 12px;
    }
  }
  .name {
    vertical-align: top;
  }
  .file-protocol {
    p {
      margin-top: 5px;
    }
  }
}
