.page-time {
  .video-time-main {
    @include clearfix;
    overflow: hidden;
    margin-top: 30px;
    .video-time-inner {
      width: 332px;
      padding: 0 10px;
      border-top: 4px solid #3ecacb;
      background: #f0f5fb;
      margin: 0 15px 15px 0px;
      float: left;
      .title {
        text-align: center;
        height: 37px;
        line-height: 37px;
      }
      .video-time-content {
        padding: 10px 0 20px 0;
        border-top: 1px solid #e1e6ef;
        height: 340px;
      }
      .time-label {
        width: 100%;
        margin: 5px 0;
        .txt {
          width: 100%;
          text-align: center;
        }
      }
      .set-time {
        margin-top: 10px;
        .btn-normal {
          width: 143px;
        }
        .video-info {
          @include clearfix;
          overflow: hidden;
          margin-bottom: 15px;
          font-size: 16px;
          .work-time {
            float: left;
          }
          .number {
            float: right;
          }
        }
        .video-time-bottom {
          @include clearfix;
          overflow: hidden;
          .bottom-user {
            float: left;
          }
          .bottom-time {
            float: right;
          }
        }
        .video-items {
          height: 150px;
          overflow-y: auto;
          .video-item {
            @include clearfix;
            overflow: hidden;
            margin-bottom: 15px;
            .item-left {
              float: left;
              p {
                font-size: 18px;
                color: #3a3d42;
              }
              label {
                width: 70px;
                .txt {
                  width: 70px;
                }
              }
            }
            .item-right {
              float: right;
              p {
                font-size: 18px;
                color: #3a3d42;
              }
              label {
                width: 80px;
                .txt {
                  width: 80px;
                }
              }
            }
          }
        }
        .video-add {
          position: relative;
          margin-bottom: 25px;
          .info {
            font-size: 12px;
          }
          .time-add-btn {
            position: absolute;
            right: 0;
            top: -5px;
            font-size: 20px;
            font-weight: bold;
            color: #3ecacb;
          }
        }
      }
      .video-time-top {
        position: relative;
      }
      .set-content {
        position: absolute;
        width: 70px;
        top: 15px;
        z-index: 1;
        right: 0px;
        text-align: center;
        .set-inner {
          background: #fff;
          border-radius: 5px;
          margin-top: 5px;
          padding: 5px 0;
          a {
            display: block;
            color: #878ca2;
            padding: 5px 0;
            &:hover {
              color: #3ecacb;
            }
          }
        }
        .set {
          display: block;
          cursor: pointer;
          width: 20px;
          height: 20px;
          margin: 0 auto;
          background: url(../images/set.png) 0 0 no-repeat;
        }
      }
      &.edit {
        .edit-content {
          display: block;
        }
        .readonly-content {
          display: none;
        }
        .set-content {
          display: none;
        }
      }
      &.readonly {
        .edit-content {
          display: none;
        }
        .set-content {
          display: block;
        }
        .time-label {
          .txt {
            background: none;
            font-size: 14px;
          }
          i {
            display: none;
          }
        }
        .readonly-content {
          display: block;
        }
      }
      &.regular.readonly,
      &.regular.edit {
        .time-label {
          .txt {
            background: none;
            font-size: 14px;
          }
          i {
            display: none;
          }
        }
      }
    }
  }
}
