.page-users {
  .users-table {
    tbody {
      td {
        padding: 10px 0px;
        font-size: 14px;
        .js-select {
          margin-right: 20px;
        }
        label.checkbox {
          width: 200px;
          input {
            vertical-align: middle;
          }
        }
      }
      .name {
        width: 10%;
        span {
          color: #ff5776;
          display: inline-block;
          margin-right: 5px;
        }
      }
      .info {
        width: 40%;
        label {
          width: 100%;
          .txt {
            width: 80%;
          }
          &.radio {
            width: 25%;
            margin-right: 25px;
            input {
              vertical-align: middle;
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
  .ui-option {
    .alllistname {
      margin: 0;
      &.edit {
        .content-name {
          background: #e1e6ef;
        }
        .attr-panl {
          max-height: 90px;
          overflow-y: auto;
          .all-btn {
            display: block;
            &.current {
              .all-checkbox {
                background: url(../images/icolist.png) 0px -80px no-repeat;
              }
            }
            .all-checkbox {
              display: inline-block;
              vertical-align: middle;
              width: 13px;
              height: 13px;
              margin-right: 5px;
              background: url(../images/icolist.png) -20px -80px no-repeat;
            }
          }
        }
        .search-box {
          display: block;
        }
      }
      &.readonly {
        .content-name {
          background: none;
        }
        .param-checkbox {
          display: none;
        }
        .all-btn {
          display: none;
        }
        .search-box {
          display: none;
        }
        .attr-panl {
          a {
            color: #6f7b91;
            cursor: default;
            .param-checkbox {
              display: none;
            }
          }
        }
        .edit-content {
          .edit-btn {
            color: #6f7b91;
            display: inline-block;
            margin-left: 5px;
            .edit-name {
              display: inline-block;
              vertical-align: middle;
              content: "";
              font-size: 0;
              width: 15px;
              height: 16px;
              margin-right: 5px;
              background: url(../images/video/video-list.png) 0 -95px no-repeat;
            }
          }
        }
      }
      .search-box {
        margin: 10px 0;
      }
      .content-name {
        margin: 0;
        height: auto;
      }
    }
  }
}
