.page-verify {
  .opinion-content {
    background: #f0f5fb;
    padding: 15px;
    margin-top: 10px;
    .button-content {
      margin: 30px auto;
    }
    .btn-lg {
      cursor: pointer;
      background-color: transparent;
      border: 1px solid #c9d2dc;
      color: #c9d2dc;
      &.current {
        border: 1px solid #3f88cc;
        color: #3f88cc;
      }
    }
    .no-through-content {
      .no-through-item {
        @include clearfix;
        overflow: hidden;
        margin-bottom: 10px;
        a {
          position: relative;
          float: left;
          display: block;
          width: 350px;
          height: 35px;
          line-height: 35px;
          padding: 0 10px;
          color: #6f7b91;
          border: 1px solid #c9d2dc;
          &.active {
            color: #3f88cc;
            border: 1px solid #3f88cc;
            .selected {
              display: inline-block;
            }
          }
          .selected {
            position: absolute;
            top: 5px;
            right: -39px;
            //display: inline-block;
            width: 24px;
            height: 24px;
            vertical-align: middle;
            background: url(../images/selected.png) 0 0 no-repeat;
            display: none;
          }
        }
        label {
          float: right;
          display: block;
          width: 40%;
          height: auto;
          span {
            display: inline-block;
          }
          .input {
            background: none;
            border: 1px solid #c9d2dc;
            height: 35px;
            line-height: 35px;
            outline: none;
            width: 350px;
            padding: 0 10px;
          }
        }
      }
    }
  }
  .main-table {
    .table-title {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  .loading{
    background:url(../images/loading.png) 0 0 no-repeat;
    width:35px;
    height:35px;
    display:inline-block;
    vertical-align:middle;
    margin-bottom:5px;
    margin-right:20px;
    animation:rotate 2s infinite linear forwards;
    -webkit-animation:rotate 2s infinite linear forwards;
    -moz-animation:rotate 2s infinite linear forwards;
    -o-animation:rotate 2s infinite linear forwards;
  }

  @keyframes rotate{
    0%{
      transform:rotate(0);
      -webkit-transform:rotate(0);
      -moz-transform:rotate(0);
      -o-transform:rotate(0);
    }
    50%{
      transform:rotate(180deg);
      -webkit-transform:rotate(180deg);
      -moz-transform:rotate(180deg);
      -o-transform:rotate(180deg);
    }
    100%{
      transform:rotate(360deg);
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
    }
  }

  @-webkit-keyframes rotate{
    0%{
      transform:rotate(0);
      -webkit-transform:rotate(0);
      -moz-transform:rotate(0);
      -o-transform:rotate(0);
    }
    50%{
      transform:rotate(180deg);
      -webkit-transform:rotate(180deg);
      -moz-transform:rotate(180deg);
      -o-transform:rotate(180deg);
    }
    100%{
      transform:rotate(360deg);
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
    }
  }

  @-moz-keyframes rotate{
    0%{
      transform:rotate(0);
      -webkit-transform:rotate(0);
      -moz-transform:rotate(0);
      -o-transform:rotate(0);
    }
    50%{
      transform:rotate(180deg);
      -webkit-transform:rotate(180deg);
      -moz-transform:rotate(180deg);
      -o-transform:rotate(180deg);
    }
    100%{
      transform:rotate(360deg);
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
    }
  }

  @-o-keyframes rotate{
    0%{
      transform:rotate(0);
      -webkit-transform:rotate(0);
      -moz-transform:rotate(0);
      -o-transform:rotate(0);
    }
    50%{
      transform:rotate(180deg);
      -webkit-transform:rotate(180deg);
      -moz-transform:rotate(180deg);
      -o-transform:rotate(180deg);
    }
    100%{
      transform:rotate(360deg);
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
    }
  }
}

