.page-video {
  .icon {
    display: inline-block;
    vertical-align: middle;
    content: "";
    font-size: 0;
  }
  .video-top {
    @include clearfix;
    overflow: hidden;
  }
  .video-left {
    float: left;
    width: 360px;
    overflow: hidden;
    margin-right: 15px;
  }
  .video-center {
    float: left;
    width: 320px;
    overflow: hidden;
    margin-right: 15px;
  }
  .video-right {
    float: left;
    width: 370px;
    overflow: hidden;
  }
  .v-title {
    @include clearfix;
    overflow: hidden;
    margin-bottom: 25px;
    padding: 5px 10px;
    border: 2px solid #3ecacb;
    .method {
      float: left;
    }
    .type {
      float: right;
    }
    .name {
      display: inline-block;
      color: #6f7b91;
      margin-right: 20px;
    }
    .info {
      color: #3a3d42;
      display: inline-block;
    }
  }
  .video-main {
    @include clearfix;
    overflow: hidden;
    background: #f0f5fb;
    padding: 15px;
    .video-inner {
      float: left;
      width: 710px;
      overflow: hidden;
    }
  }
}
