---
title: 参数设置
layout: default-iframe
class: setting-param-set
---

<script src="../javascript/jquery.ztree.all-3.5.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('#select0,#select1,#select71,#select72').diySelect();

        $('.btn-group').on('mouseover', function () {
            $(this).find('.sub-group').show();
        }).on('mouseout', function () {
            $(this).find('.sub-group').hide();
        });

        // tab切换
        $(".tabs-items").on("click", ".tab-option", function () {
            var _this = $(this);
            var tabs_head = _this.parent();
            var tabs_body = tabs_head.nextAll(".dialog-item-box-body").children(".tabs-body");
            _this.addClass("on").siblings(".tab-option").removeClass("on");
            var index = tabs_head.find(".tab-option").index(_this);
            tabs_body.find(".tabs-content").eq(index).addClass("on").siblings(".tabs-content").removeClass("on");
        });

        // tab切换
        $(".main-content-wrap").on("click", ".tab-options", function () {
            var _this = $(this);
            var tabs_head = _this.parent();
            var tabs_body = tabs_head.siblings(".main-content-wrap-list");
            _this.addClass("on").siblings(".tab-options").removeClass("on");
            var index = tabs_head.find(".tab-options").index(_this);
            tabs_body.find(".search-content").eq(index).addClass("on").siblings(".search-content").removeClass("on");
        });

        $('#btnAdd1').on('click', function () {
            var content = '<div class="addDialog"><div class="dialog-item-wrap">' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">管理人名称</div>' +
                '   <div class="dialog-right">' +
                '       <input class="dialog-input" placeholder="">' +
                '   </div>' +
                '</div>' +
                '</div></div>';
            var dialog = new Dialog(null, {
                title: '新增',
                content: content,
                width: '360',
                needDestroy: true,
                hasBtn: true,
                btnText: ["取消", "确定"],
                btnRole: ['cancel', 'confirm'],
                btnCls: ['cancel', 'confirm'],
                confirm: function () {
                    dialog.destroy();
                }
            });
        });
        $('#btnAdd2').on('click', function () {
            var content = '<div class="addDialog"><div class="dialog-item-wrap">' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">TA名称</div>' +
                '   <div class="dialog-right">' +
                '       <input class="dialog-input" placeholder="">' +
                '   </div>' +
                '</div>' +
                '</div></div>';
            var dialog = new Dialog(null, {
                title: '标题',
                content: content,
                width: '360',
                needDestroy: true,
                hasBtn: true,
                btnText: ["取消", "确定"],
                btnRole: ['cancel', 'confirm'],
                btnCls: ['cancel', 'confirm'],
                confirm: function () {
                    dialog.destroy();
                },
                afterShow: function () {

                }
            });
        });
        $('#btnAdd3').on('click', function () {
            var content = '<div class="addDialog"><div class="dialog-item-wrap">' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">TA代码</div>' +
                '   <div class="dialog-right">' +
                '   <select id="select31" class="diy-select" style="display: none;">' +
                '       <option selected="">请选择</option>' +
                '       <option value="1">11111</option>' +
                '       <option value="2">22222</option>' +
                '   </select>' +
                '   </div>' +
                '</div>' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">文件路径</div>' +
                '   <div class="dialog-right">' +
                '       <input class="dialog-input" placeholder="">' +
                '   </div>' +
                '</div>' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">文件说明</div>' +
                '   <div class="dialog-right">' +
                '       <input class="dialog-input" placeholder="">' +
                '   </div>' +
                '</div>' +
                '</div></div>';
            var dialog = new Dialog(null, {
                title: '标题',
                content: content,
                width: '360',
                needDestroy: true,
                hasBtn: true,
                btnText: ["取消", "确定"],
                btnRole: ['cancel', 'confirm'],
                btnCls: ['cancel', 'confirm'],
                confirm: function () {
                    dialog.destroy();
                },
                afterShow: function () {
                    $('#select31').diySelect({width: 180});
                }
            });
        });
        $('#btnAdd7').on('click', function () {
            var content = '<div class="addDialog"><div class="dialog-item-wrap">' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">产品类型</div>' +
                '   <div class="dialog-right">' +
                '   <select id="select72" class="diy-select" style="display: none;">' +
                '       <option selected="">请选择</option>' +
                '       <option value="1">11111</option>' +
                '       <option value="2">22222</option>' +
                '   </select>' +
                '   </div>' +
                '</div>' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">模板名称</div>' +
                '   <div class="dialog-right">' +
                '       <input class="dialog-input" placeholder="">' +
                '   </div>' +
                '</div>' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">模板内容</div>' +
                '   <div class="dialog-right">' +
                '       <label style="display: block;"><input type="checkbox">《招募书》</label>' +
                '       <label style="display: block;"><input type="checkbox">《合同》</label>' +
                '       <label style="display: block;"><input type="checkbox">《托管协议》</label>' +
                '       <label style="display: block;"><input type="checkbox">《批复》</label>' +
                '       <label style="display: block;"><input type="checkbox">《参数文件》</label>' +
                '       <label style="display: block;"><input type="checkbox">《销售合同》</label>' +
                '   </div>' +
                '</div>' +
                '</div></div>';
            var dialog = new Dialog(null, {
                title: '标题',
                content: content,
                width: '360',
                needDestroy: true,
                hasBtn: true,
                btnText: ["取消", "确定"],
                btnRole: ['cancel', 'confirm'],
                btnCls: ['cancel', 'confirm'],
                confirm: function () {
                    dialog.destroy();
                },
                afterShow: function () {
                    $('#select72').diySelect({width: 180});
                }
            });
        });

        $('.btnEdit1').on('click', function () {
            var num = $(this).parents('tr').find('td').eq(0).text();
            var content = '<div class="addDialog"><div class="dialog-item-wrap">' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">管理人编号</div>' +
                '   <div class="dialog-right">'+ num +'</div>' +
                '</div>' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">管理人名称</div>' +
                '   <div class="dialog-right">' +
                '       <input class="dialog-input" placeholder="">' +
                '   </div>' +
                '</div>' +
                '</div></div>';
            var dialog = new Dialog(null, {
                title: '新增',
                content: content,
                width: '360',
                needDestroy: true,
                hasBtn: true,
                btnText: ["取消", "确定"],
                btnRole: ['cancel', 'confirm'],
                btnCls: ['cancel', 'confirm'],
                confirm: function () {
                    dialog.destroy();
                }
            });
        });
        $('.btnEdit2').on('click', function () {
            var num = $(this).parents('tr').find('td').eq(0).text();
            var content = '<div class="addDialog"><div class="dialog-item-wrap">' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">TA编号</div>' +
                '   <div class="dialog-right">'+ num +'</div>' +
                '</div>' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">TA名称</div>' +
                '   <div class="dialog-right">' +
                '       <input class="dialog-input" placeholder="">' +
                '   </div>' +
                '</div>' +
                '</div></div>';
            var dialog = new Dialog(null, {
                title: '新增',
                content: content,
                width: '360',
                needDestroy: true,
                hasBtn: true,
                btnText: ["取消", "确定"],
                btnRole: ['cancel', 'confirm'],
                btnCls: ['cancel', 'confirm'],
                confirm: function () {
                    dialog.destroy();
                }
            });
        });
        $('.btnEdit3').on('click', function () {
            var num = $(this).parents('tr').find('td').eq(0).text();
            var content = '<div class="addDialog"><div class="dialog-item-wrap">' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">TA代码</div>' +
                '   <div class="dialog-right">'+ num +'</div>' +
                '</div>' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">文件路径</div>' +
                '   <div class="dialog-right">' +
                '       <input class="dialog-input" placeholder="">' +
                '   </div>' +
                '</div>' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">文件说明</div>' +
                '   <div class="dialog-right">' +
                '       <input class="dialog-input" placeholder="">' +
                '   </div>' +
                '</div>' +
                '</div></div>';
            var dialog = new Dialog(null, {
                title: '新增',
                content: content,
                width: '360',
                needDestroy: true,
                hasBtn: true,
                btnText: ["取消", "确定"],
                btnRole: ['cancel', 'confirm'],
                btnCls: ['cancel', 'confirm'],
                confirm: function () {
                    dialog.destroy();
                }
            });
        });
        $('.btnEdit7').on('click', function () {
            var type = $(this).parents('tr').find('td').eq(0).text();
            var content = '<div class="addDialog"><div class="dialog-item-wrap">' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">产品类型</div>' +
                '   <div class="dialog-right">'+ type +'</div>' +
                '</div>' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">模板名称</div>' +
                '   <div class="dialog-right">' +
                '       <input class="dialog-input" placeholder="">' +
                '   </div>' +
                '</div>' +
                '<div class="dialog-item">' +
                '   <div class="dialog-left must-icon">模板内容</div>' +
                '   <div class="dialog-right">' +
                '       <label style="display: block;"><input type="checkbox">《招募书》</label>' +
                '       <label style="display: block;"><input type="checkbox">《合同》</label>' +
                '       <label style="display: block;"><input type="checkbox">《托管协议》</label>' +
                '       <label style="display: block;"><input type="checkbox">《批复》</label>' +
                '       <label style="display: block;"><input type="checkbox">《参数文件》</label>' +
                '       <label style="display: block;"><input type="checkbox">《销售合同》</label>' +
                '   </div>' +
                '</div>' +
                '</div></div>';
            var dialog = new Dialog(null, {
                title: '新增',
                content: content,
                width: '360',
                needDestroy: true,
                hasBtn: true,
                btnText: ["取消", "确定"],
                btnRole: ['cancel', 'confirm'],
                btnCls: ['cancel', 'confirm'],
                confirm: function () {
                    dialog.destroy();
                }
            });
        });

        $('.cancel').on('click', function () {
            $(this).parents('.dialog-item-wrap').hide().siblings('.main-content-wrap-list').show();
        });

        var setting = {};
        var zNodes1 = [
            {name: "创信系列"},
            {name: "聚富季季鑫系列优先级"},
            {name: "振信系列"},
            {name: "财聚系列"},
            {name: "定增系统"},
            {name: "基金专户系统"},
            {name: "公募基金系列"},
            {name: "私募基金系列"},
            {
                name: "月月福大集合", open: true,
                children: [
                    {name: "月月福1号"},
                    {name: "月月福2号"},
                    {name: "月月福N号"}
                ]
            },
            {name: "OTC系列"},
            {name: "资管权益"},
            {name: "对冲系列"},
            {name: "月月福小集合"},
            {name: "润富、创富系列个人版"},
            {name: "润富、创富系列机构版"},
            {name: "财慧道2号"},
            {name: "收益凭证"}
        ];
        var zNodes2 = [
            {
                name: "按产品发行方或产品管理人分", open: true,
                children: [
                    {name: "银行理财"},
                    {name: "收益凭证"},
                    {name: "信托产品"},
                    {name: "公募产品"},
                    {name: "私募基金产品", open: true,
                        children: [
                            {name: "基金专户产品"},
                            {name: "其他私募产品"}
                        ]
                    },
                    {name: "券商资产管理计划", open: true,
                        children: [
                            {name: "我司"},
                            {name: "其他券商资管产品"}
                        ]
                    },
                    {name: "保险产品"},
                    {name: "其他金融产品"}
                ]
            },
            {
                name: "按风险等级分", open: true,
                children: [
                    {name: "高风险"},
                    {name: "中高风险"},
                    {name: "中风险"},
                    {name: "中低风险"},
                    {name: "低风险"}
                ]
            },
            {name: "按产品类型分"},
            {name: "按产品系列分"},
            {name: "按产品来源分"},
            {name: "按投资方向划分"}
        ];
        $.fn.zTree.init($("#tree1"), setting, zNodes1);
        $.fn.zTree.init($("#tree2"), setting, zNodes2);
    });
</script>

<div class="main-content">
    <div class="main-content-wrap">
        <div class="main-content-wrap-top">
            <span class="tab-options on">基金机构设置</span>
            <span class="tab-options">产品路径设置</span>
            <span class="tab-options">专题设置</span>
            <span class="tab-options">分类设置</span>
            <span class="tab-options">统计参数</span>
            <span class="tab-options">产品文档管理</span>
        </div>
        <div class="main-content-wrap-list">
            <div class="search-content search-content-1 on">
                <div class="dialog-item-wrap">
                    <div class="dialog-item-border" style="position: relative">
                        <div class="dialog-item-box-title tabs-items" style="background: transparent;padding-left:0;">
                            <span class="tab-option on">管理人设置</span>
                            <span class="tab-option">TA设置</span>
                        </div>
                        <div class="dialog-item-box-body">
                            <div class="tabs-body">
                                <div class="tabs-content on">
                                    <div class="task-search clearfix">
                                        <button class="btn btn-primary btn-simple btn-float-right" id="btnAdd1" href="#">新增</button>
                                        <button class="btn btn-float-right" href="#">搜索</button>
                                        <dl class="search-dl">
                                            <dd>
                                              <span>
                                                <select id="select0" class="diy-select" style="display: none;">
                                                    <option selected="">全部状态</option>
                                                    <option value="1">正常</option>
                                                    <option value="2">停止</option>
                                                </select>
                                              </span>
                                            </dd>
                                        </dl>

                                        <input type="text" class="aql-input small-input" placeholder="管理人名称">

                                        <input type="text" class="aql-input small-input" placeholder="管理人编号">

                                    </div>
                                    <div class="main-table">
                                        <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
                                            <thead>
                                            <tr>
                                                <th>管理人编号</th>
                                                <th>管理人名称</th>
                                                <th>TA状态</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>001</td>
                                                <td>华夏基金</td>
                                                <td>正常</td>
                                                <td class="text-c">
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small btnEdit1">修改</a>
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small btnDelete1">删除</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>002</td>
                                                <td>华夏基金</td>
                                                <td>正常</td>
                                                <td class="text-c">
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small btnEdit1">修改</a>
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small btnDelete1">删除</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {% include component/pagenav-cf.html %}
                                </div>
                                <div class="tabs-content">
                                    <div class="task-search clearfix">
                                        <button class="btn btn-small btn-primary btn-simple btn-float-right" id="btnAdd2" href="#">新增</button>
                                        <button class="btn btn-float-right" href="#">搜索</button>
                                        <dl class="search-dl">
                                            <dd>
                                              <span>
                                                <select id="select1" class="diy-select" style="display: none;">
                                                    <option selected="">全部状态</option>
                                                    <option value="1">正常</option>
                                                    <option value="2">停止</option>
                                                </select>
                                              </span>
                                            </dd>
                                        </dl>

                                        <input type="text" class="aql-input small-input" placeholder="TA名称">

                                        <input type="text" class="aql-input small-input" placeholder="TA编号">

                                    </div>
                                    <div class="main-table">
                                        <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
                                            <thead>
                                            <tr>
                                                <th>管理人编号</th>
                                                <th>TA名称</th>
                                                <th>TA状态</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>001</td>
                                                <td>华夏基金</td>
                                                <td>正常</td>
                                                <td class="text-c">
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small btnEdit1">修改</a>
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small btnDelete1">删除</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>002</td>
                                                <td>华夏基金</td>
                                                <td>正常</td>
                                                <td class="text-c">
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small btnEdit1">修改</a>
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small btnDelete1">删除</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {% include component/pagenav-cf.html %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-content search-content-2">
                <div class="task-search clearfix">
                    <button class="btn btn-small btn-primary btn-simple btn-float-right" id="btnAdd3" href="#">新增</button>
                        <button class="btn btn-float-right" href="#">搜索</button>
                    </button>
                    <input type="text" class="aql-input small-input" placeholder="TA编号">
                </div>
                <div class="main-table">
                    <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
                        <thead>
                        <tr>
                            <th>TA编号</th>
                            <th>文件路径</th>
                            <th>索引编号</th>
                            <th>文件说明</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>001</td>
                            <td>d:\\</td>
                            <td>d:\\</td>
                            <td></td>
                            <td class="text-c">
                                <a href="javascript:void(0)" class="btn btn-primary btn-small btnEdit3">修改</a>
                                <a href="javascript:void(0)" class="btn btn-primary btn-small btnDelete">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td>001</td>
                            <td>d:\\</td>
                            <td>d:\\</td>
                            <td></td>
                            <td class="text-c">
                                <a href="javascript:void(0)" class="btn btn-primary btn-small btnEdit3">修改</a>
                                <a href="javascript:void(0)" class="btn btn-primary btn-small btnDelete">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% include component/pagenav-cf.html %}
            </div>
            <div class="search-content search-content-3">
                <div class="simple-content-table">
                    <div class="title">
                        <button class="btn">新增</button>
                        <button class="btn">修改</button>
                        <button class="btn">删除</button>
                        <button class="btn">升级</button>
                        <button class="btn">降级</button>
                        <button class="btn">上移</button>
                        <button class="btn">下移</button>
                        <button class="btn">启用</button>
                    </div>
                    <div class="content">
                        <div id="tree1" class="ztree"></div>
                    </div>
                </div>
            </div>
            <div class="search-content search-content-4">
                <div class="simple-content-table">
                    <div class="title">
                        <button class="btn">新增</button>
                        <button class="btn">修改</button>
                        <button class="btn">删除</button>
                        <button class="btn">升级</button>
                        <button class="btn">降级</button>
                        <button class="btn">上移</button>
                        <button class="btn">下移</button>
                        <button class="btn">启用</button>
                    </div>
                    <div class="content">
                        <div id="tree2" class="ztree"></div>
                    </div>
                </div>
            </div>
            <div class="search-content search-content-5">
                <div class="dialog-item-wrap">
                    <div class="dialog-item-border" style="position: relative">
                        <div class="dialog-item-box-title tabs-items" style="background: transparent;padding-left:0;">
                            <span class="tab-option on">产品统计参数</span>
                            <span class="tab-option">机构客户分类</span>
                        </div>
                        <div class="dialog-item-box-body">
                            <div class="tabs-body">
                                <div class="tabs-content on">
                                    <div class="task-search clearfix">
                                        <button class="btn btn-primary btn-simple btn-float-right" href="#">批量导入</button>
                                        <button class="btn btn-primary btn-simple btn-float-right" id="btnAdd51" href="#">新增</button>
                                        <button class="btn btn-float-right" href="#">搜索</button>
                                        <input type="text" class="aql-input small-input" placeholder="产品代码">
                                        <input type="text" class="aql-input small-input" placeholder="产品名称">

                                    </div>
                                    <div class="main-table">
                                        <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>产品代码</th>
                                                <th>产品名称</th>
                                                <th>产品类型</th>
                                                <th>产品来源</th>
                                                <th>标准销售量折算系数</th>
                                                <th>托管费</th>
                                                <th>管理费</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>001</td>
                                                <td>180008</td>
                                                <td>银华货币</td>
                                                <td>货币型</td>
                                                <td>持续开放</td>
                                                <td>1.2</td>
                                                <td>托管费</td>
                                                <td>管理费</td>
                                                <td class="text-c">
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small">修改</a>
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small">产看</a>
                                                </td>
                                            </tr>
                                            <tr class="even">
                                                <td>001</td>
                                                <td>630010</td>
                                                <td>华商价值精选</td>
                                                <td>混合型</td>
                                                <td>持续开放</td>
                                                <td>1.2</td>
                                                <td>托管费</td>
                                                <td>管理费</td>
                                                <td class="text-c">
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small">修改</a>
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small">产看</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {% include component/pagenav-cf.html %}
                                </div>
                                <div class="tabs-content">
                                    <div class="task-search clearfix">
                                        <button class="btn btn-primary btn-simple btn-float-right" href="#">批量导入</button>
                                        <button class="btn btn-primary btn-simple btn-float-right" id="btnAdd52" href="#">新增</button>
                                        <button class="btn btn-float-right" href="#">搜索</button>
                                        <input type="text" class="aql-input small-input" placeholder="机构代码">
                                        <input type="text" class="aql-input small-input" placeholder="机构名称">

                                    </div>
                                    <div class="main-table">
                                        <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>机构代码</th>
                                                <th>机构名称</th>
                                                <th>机构类型</th>
                                                <th>机构来源</th>
                                                <th>标准销售量折算系数</th>
                                                <th>托管费</th>
                                                <th>管理费</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>001</td>
                                                <td>180008</td>
                                                <td>银华货币</td>
                                                <td>货币型</td>
                                                <td>持续开放</td>
                                                <td>1.2</td>
                                                <td>托管费</td>
                                                <td>管理费</td>
                                                <td class="text-c">
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small">修改</a>
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small">产看</a>
                                                </td>
                                            </tr>
                                            <tr class="even">
                                                <td>001</td>
                                                <td>630010</td>
                                                <td>华商价值精选</td>
                                                <td>混合型</td>
                                                <td>持续开放</td>
                                                <td>1.2</td>
                                                <td>托管费</td>
                                                <td>管理费</td>
                                                <td class="text-c">
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small">修改</a>
                                                    <a href="javascript:void(0)" class="btn btn-primary btn-small">产看</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {% include component/pagenav-cf.html %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="search-content search-content-6">
                <div class="task-search clearfix">
                    <button class="btn btn-primary btn-simple btn-float-right" id="btnAdd7">新建</button>
                    <button class="btn btn-float-right" href="#">搜索</button>
                    <dl class="search-dl">
                        <dd>
                          <span>
                            <select id="select71" class="diy-select" style="display: none;">
                                <option selected="">模板状态</option>
                                <option value="1">111</option>
                                <option value="2">222</option>
                            </select>
                          </span>
                        </dd>
                    </dl>

                    <input type="text" class="aql-input small-input" placeholder="模块名称">

                    <dl class="search-dl">
                        <dd>
                          <span>
                            <select id="select72" class="diy-select" style="display: none;">
                                <option selected="">产品类型</option>
                                <option value="1">111</option>
                                <option value="2">222</option>
                            </select>
                          </span>
                        </dd>
                    </dl>
                </div>
                <div class="main-table">
                    <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>产品类型</th>
                            <th>模板名称</th>
                            <th>模板内容</th>
                            <th>创建人</th>
                            <th>创建时间</th>
                            <th>模板状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>001</td>
                            <td>资管</td>
                            <td>资管模板</td>
                            <td>《招募书》、《合同》、《协议》、《批复》、《参数文件》、《销售合同》</td>
                            <td>李小青</td>
                            <td>2016-12-12 00：00</td>
                            <td>正常</td>
                            <td class="text-c">
                                <a href="javascript:void(0)" class="btn btn-primary btn-small btnEdit7">修改</a>
                            </td>
                        </tr>
                        <tr>
                            <td>002</td>
                            <td>公募</td>
                            <td>资管模板</td>
                            <td>《招募书》、《合同》、《协议》、《批复》、《参数文件》、《销售合同》</td>
                            <td>李小青</td>
                            <td>2016-12-12 00：00</td>
                            <td>正常</td>
                            <td class="text-c">
                                <a href="javascript:void(0)" class="btn btn-primary btn-small btnEdit7">修改</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% include component/pagenav-cf.html %}
            </div>
        </div>
    </div>
</div>
