---
title: form
layout: default-iframe
---

<script type="text/javascript">
    $(function () {

    });

</script>

<div class="btn">按钮</div>
<div class="btn btn-fill">按钮</div>
<div class="btn btn-primary">按钮</div>
<div class="btn btn-primary-fill">按钮</div>
<div class="btn btn-primary btn-simple">按钮</div>
<div class="btn btn-blue">按钮</div>
<div class="btn btn-lg">按钮</div>

<br />
<br />
<div class="btn btn-small">按钮</div>
<div class="btn btn-fill btn-small">按钮</div>
<div class="btn btn-primary btn-small">按钮</div>
<div class="btn btn-primary-fill btn-small">按钮</div>
<div class="btn btn-primary btn-simple btn-small">按钮</div>
<div class="btn btn-blue btn-small">按钮</div>


<br>
<br>


<div class="button-content">
    <button class="btn btn-fill">下一步</button>
    <button class="btn btn-gray">取消</button>
</div>
<div class="button-content page-footer-button-container">
    <button class="btn btn-fill">下一步</button>
    <button class="btn btn-gray">取消</button>
</div>
<div class="button-content page-footer-button-container">
    <button class="btn btn-blue">上一步</button>
    <button class="btn btn-fill">下一步</button>
    <button class="btn btn-gray">取消</button>
    <span><i></i>15秒自动保存</span>
</div>
