.ui-configure-content {
  .configure-title {
    font-size: 16px;
    padding: 15px 0;
    color: #4d4d4d;
    margin: 0 0 15px 0;
    border-bottom: 1px dashed #ccc;
  }
  .configure-item {
    @include clearfix;
    overflow: hidden;
    margin-bottom: 25px;
    .select-item {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      .select-link {
        display: inline-block;
        margin-left: 5px;
        color: #3ecacb;
      }
    }
    .w-300 {
      width: 300px;
      .txt {
        width: 300px;
      }
    }
    .mr-30 {
      margin-right: 30px;
    }
    .w-150 {
      width: 150px;
      .status {
        margin-right: 5px;
        vertical-align: middle;
      }
    }
    .name {
      float: left;
      display: inline-block;
      width: 120px;
      line-height: 37px;
    }
    .configure-inner {
      float: left;
      img{
          padding: 15px 0 0 0;
          display: inline-block;         
      }
      .file{
          position:absolute;
          opacity: 0;
          left: 4px;
          top: 3px;         
      }
      .xieyi{
          margin-left: 10px;
          vertical-align:middle
      }
    }
    .query-btn {
      height: 37px;
      line-height: 37px;
      display: inline-block;
      width: 70px;
      text-align: center;
      color: #fff;
      background: #3ecacb;
      margin-left: 5px;
      border-radius: 5px;
    }
    .user-table {
      margin-top: 10px;
      background: #e1e6ef;
      width: 380px;
      td {
        padding: 5px 10px;
        &:nth-child(odd) {
          width: 40%;
        }
        &:nth-child(even) {
          width: 60%;
        }
      }
    }
    .department-content,
    .bank-content {
      width: 700px;
      background: #fff;
      max-height: 90px;
      overflow-y: auto;
      padding: 20px 10px 10px 10px;
      .item {
        margin-bottom: 10px;
      }
      .delete-btn {
        color: #3ecacb;
        font-size: 12px;
      }
    }
    .bank-content {
      @include clearfix;
      .item {
        float: left;
        margin-right: 5px;
      }
    }
    .add-department,
    .add-bank,
    .add-commission {
      display: block;
      color: #3ecacb;
      font-size: 14px;
      border-radius: 5px;
      border: 1px solid #3ecacb;
      height: 28px;
      line-height: 28px;
      width: 300px;
      text-align: center;
      margin: 15px 0px;
      i {
        display: inline-block;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        margin: 0px 5px 3px 0px;
        background: url(../images/add-ico.png) 0 0 no-repeat;
      }
    }
    .info {
      color: #ef6a72;
      font-size: 12px;
    }
    textarea {
      border: none;
      background: #e1e6ef;
      line-height: 24px;
      border-radius: 5px;
      color: #3a3d42;
      font-size: 12px;
      padding: 10px;
      resize: none;
      height: 70px;
      width: 400px;
      outline: none;
    }
  }
  .configure-option{
      margin-bottom: 1px;     
  }
  .configure-list{
      margin-left: 30px;
  }
  .commission-item {
    margin-bottom: 10px;
    .delete-btn {
      color: #3ecacb;
      font-size: 12px;
    }
  }
  .find{
      line-height: 35px;
  }
}
