.ui-detail-info {
  padding: 50px 20px;
  background: #f0f4fb;
  .item {
    @include clearfix;
    overflow: hidden;
    margin-bottom: 20px;
    .name {
      float: left;
      display: inline-block;
      width: 100px;
      text-align: right;
      margin-right: 15px;
      height: 37px;
      line-height: 37px;
    }
    .item-inner {
      position: relative;
      float: left;
      width: 78%;
      label {
        input {
          vertical-align: middle;
        }
      }
      .w-70 {
        width: 100%;
        .txt {
          width: 100%;
        }
      }
      .w-300 {
        width: 300px;
        .txt {
          width: 100%;
        }
      }
      textarea {
        background-color: #e1e6ef;
        padding: 10px;
        line-height: 24px;
        width: 600px;
        height: 80px;
        resize: none;
        outline: none;
        border: none;
        border-radius: 5px;
      }
      a {
        color: #3ecacb;
      }
    }
    #container {
      width: 95%;
      height: 300px;
      //margin-left: 120px;
    }
  }
}
