.ui-detail-info {
  padding: 50px 20px;
  background: #f0f4fb;
  .item {

    //overflow: hidden;
    margin-bottom: 20px;
    .name {
      //float: left;
      display: inline-block;
      width: 100px;
      text-align: right;
      margin-right: 15px;
      height: 37px;
      line-height: 37px;
    }
    .item-inner {
      position: relative;
      //float: left;
      display: inline-block;
      width: 78%;
      label {
        position: relative;
        input {
          vertical-align: middle;
        }
        .file-btn {
          position: absolute;
          top: 3px;
          right: 0;
          display: block;
          text-align: center;
          width: 80px;
          height: 35px;
          line-height: 35px;
          background: #3f88cc;
          color: #fff;
          border-radius: 5px;
        }
        .file {
          position: absolute;
          top: 3px;
          right: 0;
          width: 80px;
          display: inline-block;
          height: 35px;
          line-height: 35px;
          cursor: pointer;
          opacity: 0;
          filter:alpha(opacity=0);
        }
      }
      .col-red {
        color: #f00;
        font-size: 12px;
      }
      .w-70 {
        width: 100%;
        .txt {
          width: 100%;
        }
      }
      .w-300 {
        width: 300px;
        .txt {
          width: 100%;
        }
      }
      textarea {
        background-color: #e1e6ef;
        padding: 10px;
        line-height: 24px;
        width: 600px;
        height: 80px;
        resize: none;
        outline: none;
        border: none;
        border-radius: 5px;
      }
      a {
        color: #3f88cc;
      }
    }
    #container {
      width: 95%;
      height: 300px;
      //margin-left: 120px;
    }
  }
}
