.big-calendar {
    width: 600px;
    display: inline-block;
    float: left;
    .fc-toolbar.fc-header-toolbar {
        background-color: #dfe0e4;
        margin-bottom: 0;
        color: #666;
        height: 84px;
        line-height: 84px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .fc-toolbar {
        text-align: center;
        padding: 0 33%;
        .ui-icon {
            background-image: url(../images/ui-icons_ffffff_256x240.png);
        }
        button {
            background-color: transparent;
            background: none;
            border: solid 1px transparent;
            outline: none;
        }
        .fc-left,.fc-right {
            margin-top: 27px;
        }
        .fc-left{
            margin-left: -50px;
        }
        .fc-right{
            margin-right: -50px;
        }
    }
    .fc-view, .fc-view > table {
        >.fc-head {
            border: solid #eeeeee;
            border-width: 0 1px;
        }
        .ui-widget-header {
            background-color: #fbfbfb;
            color: #F1374E;
            border: 0;
            height: 50px;
            line-height: 50px;
        }
        .fc-body{
            border: 1px solid #eeeeee;
            border-top: none;
            .ui-widget-content{
                padding: 0;
                vertical-align: top;
                border: none !important;
                background: #fbfbfb;
                .fc-scroller{
                    height:330px !important;
                    overflow: auto !important;
                    .fc-day-grid{
                        padding: 15px 0;
                    }
                    .fc-row{
                        min-height: 50px
                    }
                }
            }
        }
    }
    .fc-row .fc-content-skeleton thead td {
        line-height: 14px;
    }
    .fc-day-grid-event .fc-content {
        line-height: 12px;
        padding: 0;
    }
}
.calendar-legend {
    text-align: center;
    .calendar-legend-item-wrap {
        width: 600px;
        margin: 0 auto;
    }
    .calendar-legend-item {
        display: inline-block;
        vertical-align: top;
        line-height: 16px;
        padding: 15px;
        cursor: default;
        position: relative;
        i {
            display: inline-block;
            vertical-align: middle;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            @include border-radius(8px);
        }
    }
    &.calendar-legend-tab {
        border-bottom: solid 1px #F1374E;
        .calendar-legend-item {
            cursor: pointer;
            &.active {
                &:before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    margin-left: -8px;
                    bottom: 0;
                    width: 0;
                    height: 0;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 12px solid #F1374E;
                }
            }
        }
    }
}
.calendar-content-wrap {
    .calendar-content-item {
        .calendar-task-wrap {
            background-color: #fafafa;
        }
        .border-left-right {
            border: solid $border-color;
            border-width: 0 1px;
        }
        .task-search {
            padding: 20px;
            margin: 0;
            float: left;
        }
    }
}

.fc-day-top{
    line-height: 50px !important;
    width: 50px !important;
    height: 50px !important;
   // background: #fff !important;
    position: relative;
    &.fc-today{
        border: none !important;
        .fc-day-number{
            color: #f1374d;
            border-radius: 50%;
            box-sizing: border-box;
            border: 2px solid #f1374d;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

    }

    .fc-day-number{
        width: 50px !important;
        height: 50px !important;
        padding: 0 !important;
        width: 100% !important;
        text-align: center !important;

    }
}
.fc td{
    border: none !important;
}
.fc-content-skeleton {
    padding-bottom: 0 !important;
}
.fc-other-month.ui-state-highlight{
    background: transparent !important;
}
.big-calendar .ui-icon{
    width: 30px;
    height: 30px;
}
.big-calendar .fc-prev-button .ui-icon{
    background: url(../images/caitong/icon-pre.png) !important;
}
.fc-next-button .ui-icon{
    background: url(../images/caitong/icon-pre.png) !important;
    transform:rotateX(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: transparent !important;
    color: #f1374d;
}

.fc-highlight{
    border-radius: 25px;
    background: #f1374d;
}

.hasproduct{
    .fc-day-number{
        background: #ffdfe1;
        border-radius: 50%;
    }
}
.fc-center{
    h2{
        color: #444444;
        font-size: 18px;
    }
}
