span.js-select {
  background-image: url(../images/diyselect.png);
  background-position: right 15px;
  background-repeat: no-repeat;
  border: none;
  color: #4D4D4D;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  position: relative;
  height: 37px;
  line-height: 37px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  word-wrap: normal;
  background-color: #e1e6ef;
  width: 150px;
  border-radius: 5px;
  padding: 0px 10px;
}
.js-option {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  background-color: #e1e6ef;
  border: 1px solid #e1e6ef;
  border-radius: 5px;
  zoom: 1;
  margin-top: 2px;
  li {
    line-height: 35px;
    padding: 0 10px;
    white-space: nowrap;
    font-size: 12px;
    cursor: pointer;
    &.active {
      background-color: #9ba0a8;
      color: #fff;
    }
    &.selected {
      background-color: #9ba0a8;
      color: #fff;
    }
  }
}
