.js-dialog {
  // position: relative;
  //border: 5px solid #d9d9d9;
  // @include opacity(.2);
  border-radius: 10px;
  background-color: #fff;
  input {
    height: 11px;
    width: 128px;
    border: 1px solid #e8e8e8;
    padding: 9px 10px;
  }
  .js-dialog-hd {
    height: 48px;
    line-height: 48px;
    border-radius: 10px 10px 0 0;
    background-color: rgb(240, 240, 240);  
    h2 {
      padding-left: 15px;
      color: #12171d;
      font-size: 22px;
      text-align: center;
      border-bottom: 1px solid $gaplinecolor;
      &.posleft{
        text-align: left;
      }
    }
  }
  .js-dialog-bd {
    //background-color: #fff;
    word-wrap: break-word;
    word-break: break-all;
    //border-radius: 0 0 10px 10px;
    .icon {
      margin-right: 5px;
    }
    .btn-wrap {
      padding: 20px 0 0;
      text-align: center;
    }
    .btn-dialog {
      width: 115px;
      margin: 0 5px;
      cursor: pointer;
    }
    .tip-wrap {
      position: relative;
      padding: 10px 50px;
      margin-left: 40px;
      .icon {
        // position: absolute;
        // top: 3px;
        margin-bottom: -8px;
        margin-left: -45px;
        line-height: 0;
      }
    }
    .dialog-content{
      padding: 18px 55px;
    }
  }
  .js-dialog-close {
    position: absolute;
    top: 8px;
    right: 12px;
    @include inline-block;
    height: 32px;
    width: 33px;
    background: url(../images/close-ico.png) 0 0 no-repeat;
    cursor: pointer;
    font-size: 0;
    content: ""; 
  }
  .js-scrollable {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .load-wrap {
    width: 100%;
    height: 100%;
    td {
      height: 100%;
      text-align: center;
      vertical-align: middle;
    }
  }
}

.js-mask {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000;
  @include opacity(.15);
}

/*anyChatIframe*/
iframe.anyChatIframe {
  filter: alpha(opacity=0);
  border: 0 none;
  position: absolute;
  visibility: inherit;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.layerbox {
  width: 100%;
  .confirmC {
    padding: 0;
    text-align: center;
    margin-top: 25px;
    a {
      float: none;
      //margin: 0;
    }
  }
  .hborder {
    height: 0;
  }
  .vborder {
    width: 0;
  }
  td {
    padding: 0;
  }
  .boxtitle {
    height: 40px;
    line-height: 40px;
    padding-left: 18px;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #fff;
    h2 {
      color: #12171d;
      font-size: 22px;
      text-align: center;
      padding-top: 10px;
    }
    .close {
      position: absolute;
      top: 8px;
      right: 12px;
      @include inline-block;
      height: 32px;
      width: 33px;
      background: url(../images/close-ico.png) 0 0 no-repeat;
      cursor: pointer;
      font-size: 0;
      content: "";
    }
  }
  .boxcont {
    background-color: #fff;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    &:after {
      clear: both;
      content: " ";
      display: block;
      height: 0;
    }
  }
}
