.ui-option {
  .alllistname {
    position: relative;
    margin: 20px 0px;
    .content-name {
      height: 60px;
      overflow: hidden;
      margin: 0px 100px 0px 110px;
      .attr-panl {
        max-height: 60px;
        padding: 5px;
        a {
          color: #a6a6a6;
          font-size: 12px;
          min-width: 175px;
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-bottom: 10px;
          .delete {
            display: inline-block;
            margin-left: 5px;
            width: 12px;
            height: 12px;
            vertical-align: middle;
            background: url(../images/delete-ico.png) 0 0 no-repeat;
            &.hide {
              display: none;
            }
          }
          .param-checkbox {
            display: inline-block;
            vertical-align: middle;
            width: 13px;
            height: 13px;
            margin-right: 5px;
            background: url(../images/icolist.png) -20px -80px no-repeat;
          }
          &.current {
            .param-checkbox {
              background: url(../images/icolist.png) 0px -80px no-repeat;
            }
          }
        }
      }
    }
    h3 {
      position: absolute;
      top: 5px;
      left: 0px;
      font-size: 14px;
      color: #6f7b91;
    }
    .option-name {
      position: absolute;
      top: 5px;
      right: 25px;
      .more {
        font-size: 12px;
        color: #6f7b91;
        span {
          background: url(../images/icolist.png) -81px -50px no-repeat;
          width: 13px;
          height: 8px;
          display: inline-block;
          vertical-align: middle;
          margin: 0px 0px 3px 8px;
          &.ico-arrow {
            background: url(../images/icolist.png) -80px -65px no-repeat;
          }
        }
      }
      .add {
        color: #3ecacb;
      }
      .reflash {
        display: inline-block;
        height: 28px;
        line-height: 28px;
        width: 60px;
        color: #3ecacb;
        border-radius: 5px;
        border: 1px solid #3ecacb;
        margin-right: 10px;
        text-align: center;
      }
    }
    .search-box {
      position: relative;
      top: 0px;
      height: 34px;
      width: 240px;
      background: url(../images/input.png);
      margin: 10px 0px 10px 110px;
      .search-label {
        display: inline-block;
        height: 34px;
        line-height: 34px;
        margin-left: 30px;
        input {
          height: 34px;
          line-height: 37px;
          border: none;
          font-size: 12px;
          color: #3a3d42;
          width: 200px;
          background: #e1e6ef;
          outline: none;
        }
      }
    }
    &.active {
      .content-name {
        .attr-panl {
          background: #e1e6ef;
          overflow-y: scroll;
          height: auto;
          a {
            color: #3a3d42;
          }
        }
      }
    }
  }
}
