.overflow-pop-up,.overflow-pop-down,.overflow-pop-scroll {
  @include text-overflow();
  @include box-sizing(content-box);
  cursor: default;
  text-indent: 0;
}
.float-tip,.float-tip-up,.float-tip-down,.float-tip-scroll {
  position: absolute;
  font-size: 14px;
  padding: 5px 10px;
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
  left: 50px;
  text-align: left;
  @include border-radius(2px);
  line-height: 150%;
  min-width: 150px;
  max-width: 240px;
  z-index: 997;
  @include box-shadow(0 0 3px 1px #d7d7d7) ;
  white-space: initial;
  em {
    border-width: 5px;
    position: absolute;
    border-style: solid dashed dashed;
    left: 10px;
  }
  span {
    border-width: 4px;
    position: absolute;
    border-style: solid dashed dashed;
    left: 11px;
  }
}
.float-tip {
  bottom: 48px;
}
.float-tip,.float-tip-up,.float-tip-scroll {
  em {
    bottom: -10px;
    border-color: #d7d7d7 transparent transparent;
  }
  span {
    bottom: -8px;
    border-color: #ffffff transparent transparent;
  }
}
.float-tip-down {
  em {
    top: -10px;
    border-color: transparent transparent #d7d7d7;
  }
  span {
    top: -8px;
    border-color: transparent transparent #ffffff;
  }
}
