.ui-pagenav {
  position: relative;
  margin: 20px 0;
  text-align: center;
  .page {
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    @include clearfix;
    li {
      margin-right: 6px;
      float: left;
      a {
        display: inline-block;
        background: $color-grey;
        font-size: 14px;
        color: #ffffff;
        border: solid 1px $color-grey;
        width: 36px;
        @include border-radius(3px);
      }
      .page-go {
        width: 60px;
        border: 1px solid $color-grey;
        border-radius: 5px;
        height: 36px;
        line-height: 36px;
        text-align: center;
      }
      &.thisPage {
        a {
          color: #ffffff;
          background: $theme-color;
          border: 1px solid $theme-color;
        }
      }
    }
    .page-up,
    .page-down {
      a {
        width: 70px;
      }
    }
  }
  .sum-num {
    position: absolute;
    top: 20px;
    right: 15px;
    color: #a6a6a6;
    font-size: 14px;
  }
}
