.ui-search {
  position: relative;
  .unit-content {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 0px;
    margin-right: 20px;
    a {
      margin-right: 3px;
      display: inline-block;
      height: 35px;
      line-height: 35px;
      width: 75px;
      text-align: center;
      border: 1px solid #3f88cc;
      color: #3f88cc;
      border-radius: 5px;
      font-size: 14px;
      &.active {
        background: #3f88cc;
        color: #fff;
      }
    }
  }
  .search-inner {
    display: inline-block;
    position: relative;
    top: 2px;
    left: 0px;
    a {
      margin-right: 3px;
      display: inline-block;
      height: 35px;
      line-height: 35px;
      width: 65px;
      text-align: center;
      border: 1px solid #3f88cc;
      color: #3f88cc;
      border-radius: 5px;
      font-size: 14px;
      &.active {
        background: #3f88cc;
        color: #fff;
      }
    }
  }
}
