.ui-table-info {
  position: relative;
  margin-bottom: 15px;
  .search-btn {
    top: 15px;
  }
  .table-title {
    font-size: 16px;
    color: #44c1de;
    margin: 15px 0 10px 0;
  }
  .edit-activity {
    vertical-align: baseline;
    margin-left: 30px;
  }
  table {
    background: #f0f5fb;
    th {
      padding: 20px 10px 10px 10px;
      font-weight: bold;
      color: #444;
      text-align: justify;
    }
    tbody {
      td {
        padding: 10px;
        &:nth-child(odd) {
          color: #6f7b91;
        }
        &:nth-child(even) {
          color: #4c4f54;
        }
        .license {
          cursor: pointer;
        }
        .more {
          color: #3f88cc;
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
  }
}
