.ui-tipbar {
  position: relative;
  height: 50px;
  line-height: 50px;
  margin-bottom: 30px;
  padding: 0 32px 0 17px;
  color: #646464;
  background-color: #ffefc3;
  overflow: hidden;
  &.multi {
    line-height: 20px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    .icon {
      position: absolute;
      left: 15px;
      top: 10px;
      z-index: 9;
    }
  }
  .btn-lw {
    margin-left: 20px;
  }
  .close {
    position: absolute;
    @include square(20px);
    top: 15px;
    right: 15px;
    background: url(../images/icon/icon-close.png) no-repeat center center;
    cursor: pointer;
  }
}
