<div class="ui-option">
{% for item in site.data.access-option %}
  <div class="alllistname" id="{{ item.id }}">
    <h3>{{ item.name }}</h3>
    <div class="search-box" style="display:none;">
      <label class="search-label" for="">
        <input type="text" name="" value="" class="search-input">
      </label>
    </div>
    <div class="content-name" id="attr-list">
      <div class="attr-panl">
        {% for child in item.child %}
          <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>{{ child }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
<script type="text/javascript">
  $('.attr-panl').find('a').click(function() {//多选选中状态
    if($(this).hasClass('current')) {
      $(this).removeClass('current');
    } else {
      $(this).addClass('current');
    }
  });
</script>
