<div class="analysis-top">
  <h1 class="analysis-title">产品分析</h1>
  <div class="button-content">
    <a class="btn btn-small btn-primary-white back-btn" href="{{ site.baseurl }}/default/mall/mall-product.html">返回</a>
    <button class="btn btn-small btn-fill output-btn">导出</button>
  </div>
  <div class="analysis-search">
    <span class="name"><span class="circle">商</span>产品概况</span>
    <div class="ui-search">
      <label>
        <input class="txt begin-time" type="text" placeholder="开始时间">
        <i></i>
      </label>
      <span class="pre">至</span>
      <label>
        <input class="txt end-time" type="text" placeholder="截止时间">
        <i></i>
      </label>
      <span>
        <select class="diy-select" id="method_list1" name="">
          <option selected value="-1">请选择接入方式</option>
          <option value="1">手机</option>
          <option value="2">PC端</option>
        </select>
      </span>
    </div>
  </div>
  <div class="tab-content">
    <a class="tab1" href="{{ site.baseurl }}/default/mall/product-trend.html">产品趋势</a>
    <a class="tab2" href="{{ site.baseurl }}/default/mall/mall-features.html">用户特征</a>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('.diy-select').diySelect();
    $('.begin-time').datepicker({
      onClose: function( selectedDate ) {
        $('.end-time').datepicker( "option", "minDate", selectedDate );
        }
    });
    $('.end-time').datepicker({
      onClose: function( selectedDate ) {
        $('.begin-time').datepicker( "option", "maxDate", selectedDate );
      }
    });
  });
</script>
