<dl class="dl-list">
    <dt>
    <p class="p-top">2017年第19期天天万利宝A款天天天天万利宝</p>
    </dt>
    <dd>
        <div class="left">
            <div class="level">中低风险等级</div>
        </div>
        <div class="right">
            <p class="p-right-top">基准利率/年化 <span class="col-red overflow-pop-up">啊离开酒店flak松井大辅</span></p>
            <p class="p-right-center">个人起购金额 ：5万元</p>
            <p class="p-right-center">机构起购金额 ：5万元</p>
            <p class="p-right-botton">产品阶段 ：持续开放中</p>
        </div>
    </dd>
</dl>
