<div class="ui-pagenav">
  <div class="page">
    <ul class="clearfix">
      <li class="page-up"><a href="javascript:void(0)"> < 上一页</a></li>
      <li class="page-num first-num"><a href="javascript:void(0)">1</a></li>
      <li class="page-num thisPage"><a href="javascript:void(0)">2</a></li>
      <li class="page-num"><a href="javascript:void(0)">3</a></li>
      <li>...</li>
      <li class="page-num page-right"><a href="javascript:void(0)">1900</a></li>
      <li>...</li>
      <li class="page-num page-right"><a href="javascript:void(0)">19997</a></li>
      <li class="page-num"><a href="javascript:void(0)">19998</a></li>
      <li class="page-num "><a href="javascript:void(0)">19999</a></li>
      <li class="page-down"><a href="javascript:void(0)">下一页> </a></li>
      <li>共20页，到第</li>
      <li><input class="page-go" type="text"></li>
      <li>页</li>
      <li  class="page-go-sure"><a href="">确定</a></li>
    </ul>
  </div>
</div>
