<div class="ui-option">
{% for item in site.data.three-option %}
  <div class="alllistname" id="{{ item.id }}">
    <h3>{{ item.name }}</h3>
    <div class="search-box" style="display:none;">
      <label class="search-label" for="">
        <input type="text" name="" value="" class="search-input">
      </label>
    </div>
    <div class="content-name" id="attr-list">
      <div class="attr-panl">
        {% for child in item.child %}
          <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>{{ child }}</a>
        {% endfor %}
      </div>
    </div>
    {% if item.id == 'partment_content' %}
      <div class="option-name">
        <a class="more" href="javascript:void(0)">更多
          <span class=""></span>
        </a>
      </div>
    {% endif %}
  </div>
{% endfor %}
</div>
<script type="text/javascript">
  var flag = true;//营业部
  $('.attr-panl').find('a').click(function() {//多选选中状态
    if($(this).hasClass('current')) {
      $(this).removeClass('current');
    } else {
      $(this).addClass('current');
    }
  });
  $('#partment_content').on('click', '.more', function(event) {//营业部多选更多和收起的切换
    event.preventDefault();
    /* Act on the event */
    if(flag) {
      $(this).html('收起 ').append('<span class="ico-arrow"></span>');
      $('#partment_content').addClass('active');
      $('#partment_content').find('.search-box').show();
      flag = false;
    } else {
      $(this).html('更多 ').append('<span class=""></span>');
      $('#partment_content').removeClass('active');
      $('#partment_content').find('.search-box').hide();
      flag = true;
    }
  });
</script>
