<div class="site-header">
    <div class="header-inner">
        <a href="#"><span></span>系统管理员<i></i>
            <ul>
                <li><a href="#"><i></i>修改密码</a></li>
                <li><a href="#"><i></i>退出登录</a></li>
                <li><a href="#"><i></i>任务提醒</a></li>
            </ul>
        </a>
    </div>
    <div class="site-nav">
    	<ul>
    		<li><a class="xtgg" href="#">系统公告</a></li>
    		<li><a class="spyz" href="#">视频验证</a></li>
    		<li><a class="zsbf" href="#">证书颁发</a></li>
    		<li><a class="khsh" href="#">开户审核</a></li>
    		<li><a class="khfh" href="#">开户复核</a></li>
    	</ul>      
    </div>
    <h1>中华证券网上开户业务管理系统</h1>   
</div>
