<!DOCTYPE html>
<html>
{% include head.html %}
<body {% if page.class %} class="page-{{ page.class }}"{% endif %}>
{% include header-cftrade.html %}
<div class="container container-cftrade">
  <div class="container-inner">
    {% include aside-cftrade.html %}
    <div class="ui-wrap ui-wrap-cftrade">
      {% include nav-cftrade.html %}
      <div class="shadow-div">
        <i class="loading-img"></i>
      </div>
      <div class="ui-content" id="iframeWrap">
        {{ content }}
      </div>
    </div>
  </div>
</div>
</body>
</html>
