<div id="institution_basic_info">
  <div class="ui-video-table">
    <h2>代理人</h2>
    <table class="operation-table">
      <tbody>
        <tr>
          <td class="title">姓名</td>
          <td class="name">张三</td>
        </tr>
        <tr>
          <td class="title">证件类型</td>
          <td class="name">居民身份证</td>
        </tr>
        <tr>
          <td class="title">身份证号</td>
          <td class="name">620502199109090099<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
        </tr>
        <tr>
          <td class="title">证件期限</td>
          <td class="name">2013.07.21至2023.07.21<a class="edit-name select" href="javascript:void(0)" style="display:none;"></a></td>
        </tr>
        <tr>
          <td class="title">手机号</td>
          <td class="name">18311112222<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ui-video-table">
    <h2>见证人</h2>
    <table class="operation-table">
      <tbody>
        <tr>
          <td class="title">姓名</td>
          <td class="name">张三</td>
        </tr>
        <tr>
          <td class="title">所属营业部</td>
          <td class="name">上海南路营业部<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
        </tr>
        <tr>
          <td class="title">身份证号</td>
          <td class="name">620502199109090099<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
        </tr>
        <tr>
          <td class="title">编号</td>
          <td class="name">123213123213</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="save-btn">
              <button class="btn-hollow btn-lg" href="javascript:void(0)">保存</button>
            <div>
          </td>
        </tr>
        <tr>
          <td class="title">备注</td>
          <td class="name">基本信息有误</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
