<div class="ui-table-info">
  <div class="main-table">
    <h2 class="table-title">机构基本信息</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td>证件类型</td>
          <td>营业执照</td>
          <td>地区</td>
          <td>中国</td>
        </tr>
        <tr>
          <td>证件类型</td>
          <td>组织机构代码</td>
          <td>证件号码</td>
          <td>130222199009091188</td>
        </tr>
        <tr>
          <td>证件有效期</td>
          <td>2015-11-11 至2-25-11-11</td>
          <td>证件地址</td>
          <td>地址1111</td>
        </tr>
        <tr>
          <td>行业</td>
          <td>XXXX</td>
          <td>企业属性</td>
          <td>XXXX</td>
        </tr>
        <tr>
          <td>国有属性</td>
          <td>XXXX</td>
          <td>上市属性</td>
          <td>XXXX</td>
        </tr>
        <tr>
          <td>资本属性</td>
          <td>XXXX</td>
          <td>机构类别（深圳）</td>
          <td>XXXX</td>
        </tr>
        <tr>
          <td>资本属性</td>
          <td>XXXX</td>
          <td>邮编</td>
          <td>XXXX</td>
        </tr>
        <tr>
          <td>行业代码</td>
          <td>XXXX</td>
          <td>手机号码</td>
          <td>XXXX</td>
        </tr>
        <tr>
          <td>联系地址</td>
          <td>XXXX</td>
        </tr>
        <tr>
          <td>经营范围</td>
          <td colspan="3">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
