<div id="institution_info" style="display:none">
  <div class="ui-video-table">
    <h2>机构基本资料</h2>
    <table class="operation-table">
      <tbody>
        <tr>
          <td class="title">公司名称</td>
          <td class="name">XXXXXX公司<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
        </tr>
        <tr>
          <td class="title">行业</td>
          <td class="name">XXXX</td>
        </tr>
        <tr>
          <td class="title">营业执照编号</td>
          <td class="name">6205021991090</td>
        </tr>
        <tr>
          <td class="title">组织机构代码</td>
          <td class="name">12321321</td>
        </tr>
        <tr>
          <td class="title">税务登记编号</td>
          <td class="name">183111122</td>
        </tr>
        <tr>
          <td class="title">开发许可证编号</td>
          <td class="name">183111122</td>
        </tr>
        <tr>
          <td class="title">发证机关</td>
          <td class="name">XXXX</td>
        </tr>
        <tr>
          <td class="title">邮政编码</td>
          <td class="name">XXXX</td>
        </tr>
        <tr>
          <td class="title">注册地址</td>
          <td class="name">XXXX</td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="save-btn">
              <button class="btn-hollow btn-lg" href="javascript:void(0)">保存</button>
            <div>
          </td>
        </tr>
        <tr>
          <td class="title">备注</td>
          <td class="name">基本信息有误</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
