<div class="ui-institution-table">
  <div class="tab-link" id="institution_link">
    <a href="javascript:void(0)">代理人</a>
    <a href="javascript:void(0)">见证人</a>
    <a class="active" href="javascript:void(0)">经办人</a>
    <a href="javascript:void(0)">法人</a>
    <a href="javascript:void(0)">联系人</a>
    <a href="javascript:void(0)">负责人</a>
    <a href="javascript:void(0)">控股股东</a>
  </div>
  <div class="ui-table-info" style="display:none">
    <div class="main-table">
      <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
        <tbody>
          <tr>
            <td>姓名</td>
            <td>张三</td>
            <td>国籍</td>
            <td>中国</td>
          </tr>
          <tr>
            <td>性别</td>
            <td>男</td>
            <td>年龄</td>
            <td>23</td>
          </tr>
          <tr>
            <td>证件类型</td>
            <td>居民身份证</td>
            <td>身份证号</td>
            <td>3241234214214124</td>
          </tr>
          <tr>
            <td>证件有效期至</td>
            <td>2025年1月12日</td>
            <td>联系地址</td>
            <td>地址地址地址</td>
          </tr>
          <tr>
            <td>代理权限</td>
            <td>weqweqweqwqw</td>
            <td>代理有效期至</td>
            <td>2015年12月12日</td>
          </tr>
          <tr>
            <td>固定电话</td>
            <td>010-1211321</td>
            <td>手机号码</td>
            <td>15321312312</td>
          </tr>
          <tr>
            <td>
              <p class="name">身份证反面</p>
              <img class="big-img" src="/images/video/temp3.png" width="120" height="80">
            </td>
            <td>
              <p class="name">身份证正面</p>
              <img class="big-img" src="/images/video/temp3.png" width="120" height="80">
            </td>
            <td>
              <p class="name">免冠照片</p>
              <img class="big-img" src="/images/video/temp3.png" width="120" height="80">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ui-table-info" style="display:none">
    <div class="main-table">
      <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
        <tbody>
          <tr>
            <td>姓名</td>
            <td>张三</td>
            <td>员工编号</td>
            <td>123123213123</td>
          </tr>
          <tr>
            <td>身份证号</td>
            <td>23213213123213213</td>
            <td>营业部</td>
            <td>上海南路营业部</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ui-table-info">
    <div class="main-table">
      <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
        <tbody>
          <tr>
            <td>姓名</td>
            <td>张三</td>
          </tr>
          <tr>
            <td>证件类型</td>
            <td>居民身份证</td>
            <td>身份证号</td>
            <td>3241234214214124</td>
          </tr>
          <tr>
            <td>证件有效期至</td>
            <td>2025年1月12日</td>
            <td>手机号码</td>
            <td>15321312312</td>
          </tr>
        </tbody>
      </table>
      <table width="100%" cellpadding="0" cellspacing="0" class="photo-table">
        <tbody>
          <tr>
            <td>
              <p class="name">身份证反面</p>
              <img class="big-img" src="/images/video/temp3.png" width="120" height="80">
            </td>
            <td>
              <p class="name">身份证正面</p>
              <img class="big-img" src="/images/video/temp3.png" width="120" height="80">
            </td>
            <td>
              <p class="name">现场合照</p>
              <img class="big-img" src="/images/video/temp3.png" width="120" height="80">
            </td>
            <td>
              <p class="name">读卡器及平面合照</p>
              <img class="big-img" src="/images/video/temp3.png" width="120" height="80">
            </td>
            <td>
              <p class="name">协议签字照片</p>
              <img class="big-img" src="/images/video/temp3.png" width="120" height="80">
            </td>
            <td>
              <p class="name">见证人和证件合影</p>
              <img class="big-img" src="/images/video/temp3.png" width="120" height="80">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ui-table-info" style="display:none">
    <div class="main-table">
      <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
        <tbody>
          <tr>
            <td>姓名</td>
            <td>张三</td>
          </tr>
          <tr>
            <td>证件类型</td>
            <td>居民身份证</td>
            <td>身份证号</td>
            <td>3241234214214124</td>
          </tr>
          <tr>
            <td>证件有效期至</td>
            <td>2025年1月12日</td>
            <td>手机号码</td>
            <td>15321312312</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ui-table-info" style="display:none">
    <div class="main-table">
      <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
        <tbody>
          <tr>
            <td>姓名</td>
            <td>张三</td>
          </tr>
          <tr>
            <td>证件类型</td>
            <td>居民身份证</td>
            <td>身份证号</td>
            <td>3241234214214124</td>
          </tr>
          <tr>
            <td>证件有效期至</td>
            <td>2025年1月12日</td>
            <td>手机号码</td>
            <td>15321312312</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ui-table-info" style="display:none">
    <div class="main-table">
      <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
        <tbody>
          <tr>
            <td>姓名</td>
            <td>张三</td>
          </tr>
          <tr>
            <td>证件类型</td>
            <td>居民身份证</td>
            <td>身份证号</td>
            <td>3241234214214124</td>
          </tr>
          <tr>
            <td>证件有效期至</td>
            <td>2025年1月12日</td>
            <td>手机号码</td>
            <td>15321312312</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ui-table-info" style="display:none">
    <div class="main-table">
      <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
        <tbody>
          <tr>
            <td>姓名</td>
            <td>张三</td>
          </tr>
          <tr>
            <td>证件类型</td>
            <td>居民身份证</td>
            <td>身份证号</td>
            <td>3241234214214124</td>
          </tr>
          <tr>
            <td>证件有效期至</td>
            <td>2025年1月12日</td>
            <td>手机号码</td>
            <td>15321312312</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('#institution_link').on('click', 'a', function(event) {
    event.preventDefault();
    /* Act on the event */
    $('#institution_link a').removeClass('active');
    $(this).addClass('active');
  });
</script>
