---
title: 审核内容
layout: default-jz
class: verify-info
---

{% include component/business-verify/item.html %}

{% include component/business-verify/assistant.html %}

{% include component/business-verify/user.html %}

{% include component/business-verify/photo.html %}

{% include component/business-verify/business-info.html %}

{% include component/business-verify/file.html %}

{% include component/business-verify/info.html %}

<!--<div class="verify-item last">-->
  <!--<h2>审核结论</h2>-->
  <!--<div class="ui-through-content">-->
    <!--<div class="button-content">-->
      <!--<button class="btn-lg btn-fill btn-primary">审核通过</button>-->
      <!--<button class="btn-lg ml-30 btn-primary verify-btn">审核打回</button>-->
    <!--</div>-->
    <!--<div class="no-through-content" style="display: none;">-->
      <!--<div class="no-through-inner">-->
        <!--<div class="no-through-item">-->
          <!--<span class="name">选择原因</span>-->
          <!--<span>-->
            <!--<select name="" id="result_1" class="diy-select" style="display: none;">-->
              <!--<option value="">请选择</option>-->
              <!--<option value="short_code">渠道短码</option>-->
              <!--<option value="channel_name">渠道名称</option>-->
            <!--</select>-->
            <!--<span class="js-select" id="result_1-select">请选择<i class="arrow"></i></span>-->
          <!--</span>-->
          <!--<label>-->
            <!--<span>备注：</span>-->
            <!--<input type="text" class="input" maxlength="20">-->
          <!--</label>-->
          <!--<a class="delete" href="javascript:void(0)">删除</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<a class="add-no-through" href="javascript:void(0)"><i></i>添加</a>-->
      <!--<div class="button-content">-->
        <!--<button class="btn-lg btn-fill" href="javascript:void(0)" onclick="handInfo();">提交</button>-->
      <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="verify-item last last1">
<h2 class="table-title">整改原因</h2>
<div class="reason-content">
  <ul class="clearfix">
    <li>
      <div class="reason-item">身份证照片不合格（需重新上传身份证）</div>
      <a class="reason-del" href="#">删除</a>
    </li>
    <li>
      <div class="reason-item">账户选择错误（需重新选择账户)</div>
      <a class="reason-del" href="#">删除</a>
    </li>
    <li>
      <div class="reason-item">基本资料有误（需重新填写资料）</div>
      <a class="reason-del" href="#">删除</a>
    </li>
    <li>
      <div class="reason-item">密码格式不正确（需重新设置密码）</div>
      <a class="reason-del" href="#">删除</a>
    </li>
    <li>
      <div class="reason-item">营业部选择有误（需重新选择开户营业部）</div>
      <a class="reason-del" href="#">删除</a>
    </li>
    <li>
      <div class="reason-item">三方存管有误（需重新绑定）</div>
      <a class="reason-del" href="#">删除</a>
    </li>
    <li>
      <div class="reason-item">视频不合格（需重新进行视频验证）</div>
      <a class="reason-del" href="#">删除</a>
    </li>
    <li>
      <div class="reason-item">风险测评结果不合格（需新填写风险测评）</div>
      <a class="reason-del" href="#">删除</a>
    </li>
  </ul>
  <p>备注:</p>
  <textarea class="remark"></textarea>
</div>
</div>
<script>
  $('.reason-content').on('click', '.reason-del', function (e) {
    e.preventDefault();
    if($(this).parent().parent().find(".reason-item").length == 1) {
      $("#commit").html('审核通过');
    }
    $(this).parent().remove();
  });
</script>

<div class="button-content">
  <button class="btn-fill btn-lg pointer" id="commit"href="#">审核打回</button>
</div>


<script type="text/javascript">
  $('.license').on('click', function(event) {
    //点击图片出现大图交互
    event.preventDefault();
    var src = $(this).attr("src");
    var img_big_screen = new Dialog(null,{
      title: '',
      width: '350',
      needDestroy: true,
      hasBtn: true,
      btnText: ["确定"],
      btnRole: ['confirm'],
      btnCls: ['confirm'],
      confirm: function() {
        //确定按钮事件
        img_big_screen.hide();
      },
      content: '<div class="dialog-content-bigimg">'+
      '<div class="big-img">'+
      '<img alt="img" src="'+ src +'" width="300" height="200">'+
      '</div>'+
      '</div>'
    });
  });

  var flag = 2;
  $(function(){
    $('.diy-select').diySelect();

    $('.button-content button').bind('click', function(){
      $(this).addClass('btn-fill').siblings().removeClass('btn-fill');
    });

    $('.ui-through-content').on('click', '.verify-btn', function(event) {
      $('.no-through-content').show();
    });

    $('.ui-through-content').on('click', '.delete', function(event) {
      //删除不通过理由交互
      event.preventDefault();
      /* Act on the event */
      $(this).parent().remove();
    });

    $('.ui-through-content').on('click', '.add-no-through', function(event) {
      //添加不通过理由交互
      event.preventDefault();
      /* Act on the event */
      var str = '<div class="no-through-item">'+
        '<span class="name">选择原因</span>\n'+
        '<span>'+
        '<select name="" id="result_'+flag+'" class="diy-select">'+
        '<option value="">请选择</option>'+
        '<option value="short_code">渠道短码</option>'+
        '<option value="channel_name">渠道名称</option>'+
        '</select>'+
        '</span>\n'+
        '<label>'+
        '<span>备注：</span>\n'+
        '<input type="text" class="input" maxlength="20">'+
        '</label>'+
        '<a class="delete" href="javascript:void(0)">删除</a>'+
        '</div>'+
        '</div>';
      $('.no-through-inner').append(str);
      $('.diy-select').diySelect();
      flag++;
    });
  });

  function handInfo(){
    var businflow_no = 1000;
    var result = "";
    if(businflow_no=="1000" || businflow_no == "1001" || businflow_no == "1004"){
      for(i=1;i<flag;i++){
        if(i<flag-1){
          var remaker= $("#result_"+i).parent().next().find("input").val();
          if(remaker==""){
            alert("请填写打回原因!");
            return;
          }
          result+=$("#result_"+i).val()+":"+remaker+";";
        }else{
          var remaker= $("#result_"+i).parent().next().find("input").val();
          if(remaker==""){
            alert("请填写打回原因!");
            return;
          }
          result+=$("#result_"+i).val()+":"+remaker;
        }
      }
    }else{
      result=$("#failReason").val();
    }

    $.ajax({
      type: "post",
      traditional: true,
      data: {
        operator_no:"000000",
        request_no:"12",
        en_column_name:[result]
      },
      dataType: "json",
      url: "/handleAuditFail.json?rnd=" + new Date().getTime(),
      success: function (data) {
        if(data.error_no==0) {
          alert("打回成功");
          location.href="check.htm";
        }else{
          alert(data.error_info);
        }
      }
    });
  }

  function checkSubmit(){
    var businflow_no ="1000";
    var valid_date = $("#validDate").val();
    var channelValidDate = $("#channelValidDate").val();
    if(businflow_no==1003){
      var channel_validdate ="";
      valid_date =valid_date.replace("-","").replace("-","");
      if(parseInt(valid_date)>parseInt(channel_validdate)){
        alert("授权码有效期不能大于渠道有效期！");
        return;
      }
      $.ajax({
        type: "post",
        data: {
          operator_no:"000000",
          businflow_no: businflow_no,
          user_id:"100008",
          valid_date: valid_date
        },
        dataType: "json",
        url: "/updateReqParamsByOperator.json?rnd=" + new Date().getTime(),
        success: function (data) {
          if(data.error_no==0){
            $.ajax({
              type: "post",
              data: {
                operator_no:"000000",
                request_no: "12"
              },
              dataType: "json",
              url: "/handleAuditSuccess.json?rnd=" + new Date().getTime(),
              success: function (data) {
                if(data.error_no==0) {
                  alert("修改成功");
                  location.href="check.htm";
                }else{
                  alert(data.error_info);
                }
              }
            });
          }else{
            alert(data.error_info);
          };
        }
      });
    }else if(businflow_no==1004){
      $.ajax({
        type: "post",
        data: {
          operator_no:"000000",
          request_no: "12"
        },
        dataType: "json",
        url: "/handleAuditSuccess.json?rnd=" + new Date().getTime(),
        success: function (data) {
          if(data.error_no==0) {

          }else{
            alert(data.error_info);
          }
        }
      });

      $.ajax({
        type: "post",
        data: {
          broker_id: "100008"
        },
        dataType: "json",
        url: "/updPhoto.json?rnd=" + new Date().getTime(),
        success: function (data) {
          if(data.error_no==0) {
            alert("修改成功");
            location.href="check.htm";
          }else{
            alert(data.error_info);
          }
        }
      });

    }else if(businflow_no==1005){
      $.ajax({
        type: "post",
        data: {
          operator_no:"000000",
          businflow_no: businflow_no,
          user_id:"100008",
          channel_validdate: channelValidDate
        },
        dataType: "json",
        url: "/updateReqParamsByOperator.json?rnd=" + new Date().getTime(),
        success: function (data) {
          if(data.error_no==0){
            $.ajax({
              type: "post",
              data: {
                operator_no:"000000",
                request_no: "12"
              },
              dataType: "json",
              url: "/handleAuditSuccess.json?rnd=" + new Date().getTime(),
              success: function (data) {
                if(data.error_no==0) {
                  alert("修改成功");
                  location.href="check.htm";
                }else{
                  alert(data.error_info);
                }
              }
            });
          }else{
            alert(data.error_info);
          };
        }
      });
    }
  }
</script>

<script type="text/javascript">
  $(function(){
    $('.button-content').on('click', '#submit_btn', function(event) {
      //提交按钮弹出层
      event.preventDefault();
      /* Act on the event */
      var submit_screen = new Dialog(null,{
        title: '复核结果',
        width: '500',
        needDestroy: true,
        hasBtn: true,
        btnText: ["确定"],
        btnRole: ['confirm'],
        confirm: function() {
          //确定按钮事件
          submit_screen.hide();
        },
        content: '<div class="dialog-content-recheck">'+
                  '<p class="result"><i class="success"></i>复核成功</p>'+
                  '<p class="result"><i class="success"></i>上传身份证正面照成功</p>'+
                  '<p class="result"><i class="success"></i>上传身份证反面照成功</p>'+
                  '<p class="result"><i class="error"></i>上传客户免冠照失败</p>'+
                  '<p class="result"><i class="success"></i>上传身份证反面照成功</p>'+
                  '<p class="result"><i class="success"></i>上传身份证反面照成功</p>'+
                 '</div>'
      });
    });
    $('.opinion-content').on('click', '.verify-btn', function(event) {
      //通过不通过按钮交互
      event.preventDefault();
      /* Act on the event */
      $('.opinion-content').find('.verify-btn').removeClass('current');
      $(this).addClass('current');
      if($(this).hasClass('nothrough-btn')) {
        $('.no-through-content').hide();
        $('.reform-content').show();
      } else if($(this).hasClass('transfer-btn')) {
        $('.no-through-content').hide();
        $('.transfer-content').show();
      } else {
        $('.no-through-content').hide();
      }
    });
    $('.opinion-content').on('click', '.reason-btn', function(event) {
      //不通过理由交互
      event.preventDefault();
      /* Act on the event */
      if($(this).hasClass('active')) {
        $(this).removeClass('active');
      } else {
        $(this).addClass('active');
      }
    });
  });
</script>
