---
title: 审核详情
layout: default-jz
class: verify-info
---

{% include component/business-verify/business-type.html %}

{% include component/business-verify/assistant.html %}

{% include component/business-verify/user.html %}

{% include component/business-verify/photo.html %}

{% include component/business-verify/business-info.html %}

{% include component/business-verify/file.html %}

{% include component/business-verify/info.html %}

<div class="verify-item last">
  <h2>审核结论</h2>
  <div class="ui-through-content">
    <div class="button-content">
      <button class="btn-lg btn-primary">审核通过</button>
    </div>
  </div>
  <div class="ui-through-content no-through-content">
    <div class="button-content">
      <button class="btn-lg btn-primary">审核不通过</button>
    </div>
    <div class="no-through-advice">
      <p>整改意见</p>
      <textarea></textarea>
    </div>
  </div>
  <div class="button-content">
    <button class="btn-lg btn-primary btn-fill" href="javascript:void(0)" onclick="handInfo();">确认</button>
  </div>
</div>

<script type="text/javascript">
  $('.license').on('click', function(event) {
    //点击图片出现大图交互
    event.preventDefault();
    var src = $(this).attr("src");
    var img_big_screen = new Dialog(null,{
      title: '',
      width: '350',
      needDestroy: true,
      hasBtn: true,
      btnText: ["确定"],
      btnRole: ['confirm'],
      btnCls: ['confirm'],
      confirm: function() {
        //确定按钮事件
        img_big_screen.hide();
      },
      content: '<div class="dialog-content-bigimg">'+
      '<div class="big-img">'+
      '<img alt="img" src="'+ src +'" width="300" height="200">'+
      '</div>'+
      '</div>'
    });
  });
</script>
