---
title: 接口数据
layout: default
class: statistics
---
<div class="main-content">
  {% include component/search.html %}
  <div id="all_search_list">
    {% include component/two-option.html %}
    <div class="button-content">
      <button class="btn btn-fill btn-lg" href="#">查询</button>
      <button class="btn btn-small btn-primary output" href="#">输出报表</button>
    </div>
  </div>
</div>

<div class="border-content">
  <div class="data-content">
    <dl>
      <dt><div class="security"><b>68%</b><p>成功率</p></div></dt>
      <dd class="data-inner">
        <h1>公安验证</h1>
        <p>成功<span>2212</span></p>
        <p>失败<span>2212</span></p>
        <p>总数<span class="sum">2222</span></p>
      </dd>
    </dl>
    <dl>
      <dt><div class="zhongdeng"><b>68%</b><p>成功率</p></div></dt>
      <dd class="data-inner">
        <h1>中登查询</h1>
        <p>成功<span>2212</span></p>
        <p>失败<span>2212</span></p>
        <p>总数<span class="sum">2222</span></p>
      </dd>
    </dl>
    <dl>
      <dt><div class="message"><b>68%</b><p>成功率</p></div></dt>
      <dd class="data-inner">
        <h1>短信接口</h1>
        <p>成功<span>2212</span></p>
        <p>失败<span>2212</span></p>
        <p>总数<span class="sum">2222</span></p>
      </dd>
    </dl>
  </div>
</div>

<div class="main-table">
  <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
    <thead>
      <tr>
        <th width="20%">接口类型</th>
        <th width="20%">营业部</th>
        <th width="15%">总数</th>
        <th width="15%">成功</th>
        <th width="15%">失败</th>
        <th width="15%">成功率</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>公安验证</td>
        <td>杭州庆春路营业部</td>
        <td>2000</td>
        <td>1500</td>
        <td>1000</td>
        <td>88%</td>
      </tr>
      <tr class="even">
        <td>公安验证</td>
        <td>杭州庆春路营业部</td>
        <td>2000</td>
        <td>1500</td>
        <td>1000</td>
        <td>88%</td>
      </tr>
      <tr>
        <td>公安验证</td>
        <td>杭州庆春路营业部</td>
        <td>2000</td>
        <td>1500</td>
        <td>1000</td>
        <td>88%</td>
      </tr>
    </tbody>
  </table>
</div>
{% include component/pagenav.html %}

