---
title: 接口数据
layout: default
class: statistics
---
<div class="main-content">
  {% include component/search.html %}
  <div id="all_search_list">

    <div class="alllistname">
      <h3>接入方式</h3>
      <div class="content-name" id="attr-list">
        <div class="attr-panl">
          <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>网厅开户PC端</a>
          <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>网厅开户PC端</a>
          <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>网厅开户PC端</a>
          <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>网厅开户PC端</a>
          <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>网厅开户PC端</a>
        </div>
      </div>

      <div class="alllistname" id="partment_content">
        <h3>营业部</h3>
        <div class="search-box" id="search_yyb" style="display:none;">
          <label class="search-label" for="parment">
            <input type="text" name="" value="北京营业部" class="search-input parment">
          </label>
        </div>
        <div class="content-name" id="attr-parment">
          <div class="attr-panl">
            <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>全部</a>
            <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>北京营业部</a>
            <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>北京营业部</a>
            <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>北京营业部</a>
            <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>北京营业部</a>
            <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>北京营业部</a>
            <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>北京营业部</a>
            <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>北京营业部</a>
            <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>北京营业部</a>
            <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>北京营业部</a>
            <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>北京营业部</a>
            <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>北京营业部</a>
            <a href="javascript:void(0)" class=""><span class="param-checkbox"></span>北京营业部</a>
          </div>
        </div>
        <div class="option-name">
          <a id="more_partment" href="javascript:void(0)">更多
            <span class=""></span>
          </a>
        </div>
      </div>
      <div class="button-content">
        <button class="btn-fill btn-lg" href="#">查询</button>
        <button class="btn-primary output" href="#">输出报表</button>
      </div>
    </div>
  </div>
</div>

<div class="border-content">
  <div class="data-content">
    <dl>
      <dt><div></div></dt>
      <dd class="data-inner">
        <h1>公安验证</h1>
        <p>成功<span>2212</span></p>
        <p>失败<span>2212</span></p>
        <p>总数<span>2222</span></p>
      </dd>
    </dl>
    <dl>
      <dt><div></div></dt>
      <dd class="data-inner">
        <h1>中登查询</h1>
        <p>成功<span>2212</span></p>
        <p>失败<span>2212</span></p>
        <p>总数<span>2222</span></p>
      </dd>
    </dl>
    <dl>
      <dt><div></div></dt>
      <dd class="data-inner">
        <h1>短信接口</h1>
        <p>成功<span>2212</span></p>
        <p>失败<span>2212</span></p>
        <p>总数<span>2222</span></p>
      </dd>
    </dl>
  </div>
</div>

<div class="main-table">
  <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
    <thead>
      <tr>
        <td width="20%">接口类型</td>
        <td width="20%">营业部</td>
        <td width="15%">总数</td>
        <td width="15%">成功</td>
        <td width="15%">失败</td>
        <td width="15%">成功率</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>公安验证</td>
        <td>杭州庆春路营业部</td>
        <td>2000</td>
        <td>1500</td>
        <td>1000</td>
        <td>88%</td>
      </tr>
       <tr>
        <td>公安验证</td>
        <td>杭州庆春路营业部</td>
        <td>2000</td>
        <td>1500</td>
        <td>1000</td>
        <td>88%</td>
      </tr>
       <tr>
        <td>公安验证</td>
        <td>杭州庆春路营业部</td>
        <td>2000</td>
        <td>1500</td>
        <td>1000</td>
        <td>88%</td>
      </tr>
    </tbody>
  </table>
</div>
{% include component/pagenav.html %}

