---
title: 地区分布
layout: default
class: statistics
---
<div class="main-content">
  {% include component/search.html %}
</div>
<div class="border-content">
</div>
<div class="main-table">
  <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
    <thead>
      <tr>
        <td width="25%">地区</td>
        <td width="25%">注册人数</td>
        <td width="25%">开户人数</td>
        <td width="25%">占比</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>浙江省</td>
        <td>3098</td>
        <td>2000</td>
        <td>88%</td>
      </tr>
       <tr>
        <td>浙江省</td>
        <td>3098</td>
        <td>2000</td>
        <td>88%</td>
      </tr>
       <tr>
        <td>浙江省</td>
        <td>3098</td>
        <td>2000</td>
        <td>88%</td>
      </tr>
    </tbody>
  </table>
</div>
{% include component/pagenav.html %}
