---
title: 按营业部统计
layout: default
class: statistics
---

<div class="tab-content">
  <div class="tab">
    <a class="tab1 active" href="{{ site.baseurl }}/default/statistics/workload.html">按营业部统计</a>
    <a class="tab2" href="{{ site.baseurl }}/default/statistics/workload-operator.html">按操作员统计</a>
  </div>
</div>
<div class="main-content">
	{% include component/search.html %}

  <div class="search-group">
    <dl class="search-dl">
     <dt>接入来源</dt>
     <dd>
       <span>
        <select name="" id="type_list" class="diy-select" style="display: none;">
         <option selected="" value="1">全部</option>
         <option value="2">视频见证</option>
         <option value="2">网上开户</option>
       </select>
     </span>
   </dd>
 </dl>
 <dl class="search-dl">
  <dt>营业部</dt>
  <dd>
    <span>
      <select name="" id="partment_list" class="diy-select" style="display: none;">
        <option selected="" value="1">全部</option>
        <option value="2">营业部1</option>
      </select>
    </span>
  </dd>
</dl>
</div>
<div class="button-content">
  <button class="btn btn-fill btn-lg" href="#">查询</button>
  <button class="btn btn-small btn-primary output" href="#">输出报表</button>
</div>
</div>
<div class="main-table">
  <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
    <thead>
      <tr>
        <th width="9%">统计总数</th>
        <th width="16%">操作营业部</th>
        <th width="9%">视频见证</th>
        <th width="15%">视频见证（通过）</th>
        <th width="15%">视频见证通过率</th>
        <th width="9%">网厅视频</th>
        <th width="9%">开户审核</th>
        <th width="9%">网厅审核</th>
        <th width="9%" class="text-c">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>112322</td>
        <td>上海南京路营业部</td>
        <td>12345</td>
        <td>12322</td>
        <td>70%</td>
        <td>23232</td>
        <td>12322</td>
        <td>12321%</td>
        <td class="text-c"><a class="btn btn-fill btn-small detail-btn" href="javascript:void(0)">详情</a></td>
      </tr>
      <tr class="even">
        <td>112322</td>
        <td>上海南京路营业部</td>
        <td>12345</td>
        <td>12322</td>
        <td>70%</td>
        <td>23232</td>
        <td>12322</td>
        <td>12321%</td>
        <td class="text-c"><a class="btn btn-fill btn-small detail-btn" href="javascript:void(0)">详情</a></td>
      </tr>
      <tr>
        <td>112322</td>
        <td>上海南京路营业部</td>
        <td>12345</td>
        <td>12322</td>
        <td>70%</td>
        <td>23232</td>
        <td>12322</td>
        <td>12321%</td>
        <td class="text-c"><a class="btn btn-fill btn-small detail-btn" href="javascript:void(0)">详情</a></td>
      </tr>
    </tbody>
  </table>
</div>
{% include component/pagenav.html %}
<script type="text/javascript">
$(function () {
	$('#type_list').diySelect();
	$('#partment_list').diySelect();
  $('.data-table').on('click', '.detail-btn', function(event) {
    //详情弹出层
    event.preventDefault();
    /* Act on the event */
    var workload_screen = new Dialog(null,{
      title: '详情',
      width: '780',
      needDestroy: true,
      hasBtn: true,
      btnText: ["确定"],
      btnRole: ['confirm'],
      btnCls: ['confirm'],
        confirm: function() {
          //确定按钮事件
          workload_screen.hide();
        },
      content:'<div class="dialog-content-workload">'+
                '<div class="sum-content">'+
                  '<span class="name">统计总数</span>'+
                  '<span class="number">1232233</span>'+
                '</div>'+
                '<table width="100%" cellpadding="0" cellspacing="0" class="detail-table">'+
                  '<tbody>'+
                    '<tr>'+
                    '<td>操作员姓名</td>'+
                    '<td>杭州庆春路营业部</td>'+
                    '<td>操作员营业部</td>'+
                    '<td>杭州庆春路营业部杭州庆春路营业部</td>'+
                    '</tr>'+
                    '<tr>'+
                    '<td>视频见证</td>'+
                    '<td>123221</td>'+
                    '<td>视频见证（通过）</td>'+
                    '<td>1232</td>'+
                    '</tr>'+
                    '<tr>'+
                    '<td>视频见证通过率</td>'+
                    '<td>90%</td>'+
                    '<td>网厅视频</td>'+
                    '<td>12232</td>'+
                    '</tr>'+
                    '<tr>'+
                    '<td>视频见证</td>'+
                    '<td>123221</td>'+
                    '<td>视频见证（通过）</td>'+
                    '<td>1232</td>'+
                    '</tr>'+
                    '<tr>'+
                    '<td>视频见证通过率</td>'+
                    '<td>90%</td>'+
                    '<td>网厅视频</td>'+
                    '<td>12232</td>'+
                    '</tr>'+
                  '</tbody>'+
                '</table>'+
              '</div>'
    });
  });
});
</script>
