<div class="ui-video-photo">
  <div class="tab">
    <a class="col-20 current business" href="javascript:void(0)">工商</a>
    <a class="col-20 tax" href="javascript:void(0)">税务</a>
    <a class="col-20 organization" href="javascript:void(0)">机构</a>
    <a class="col-20 bank" href="javascript:void(0)">银行</a>
    <a class="col-20 entrust" href="javascript:void(0)">委托</a>
  </div>
  <div class="photo-content photo-business">
    <img class="photo" src="../images/video/temp5.png" width="284" height="214">
    <a class="take-photo" href="javascript:void(0)"></a>
  </div>
  <div class="photo-content photo-tax" style="display:none;">
    <img class="photo" src="../images/video/temp2.png" width="284" height="214">
  </div>
  <div class="photo-content photo-organization" style="display:none;">
    <img class="photo" src="../images/video/temp3.png" width="284" height="214">
  </div>
  <div class="photo-content photo-bank" style="display:none;">
    <img class="photo" src="../images/video/temp5.png" width="284" height="214">
    <a class="take-photo" href="javascript:void(0)"></a>
  </div>
  <div class="photo-content photo-entrust" style="display:none;">
    <img class="photo" src="../images/video/temp2.png" width="284" height="214">
  </div>
</div>
