<div class="ui-video-table">
  <table class="operation-table">
    <tbody>
      <tr>
        <td class="title">姓名</td>
        <td class="name">张三<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
      </tr>
      <tr>
        <td class="title">性别</td>
        <td class="name">男<a class="edit-name radio" href="javascript:void(0)" style="display:none;"></a></td>
      </tr>
      <tr>
        <td class="title">身份证号</td>
        <td class="name">620502199109090099<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
      </tr>
      <tr>
        <td class="title">证件期限</td>
        <td class="name">2013.07.21至2023.07.21<a class="edit-name select" href="javascript:void(0)" style="display:none;"></a></td>
      </tr>
      <tr>
        <td class="title">发证机关</td>
        <td class="name">浦东新区张江公安局<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
      </tr>
      <tr>
        <td class="title">证件地址</td>
        <td class="name">上海市浦东新区张江公寓14-210上海市浦东新区张江公寓<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
      </tr>
      <tr>
        <td class="title">联系地址</td>
        <td class="name">上海市浦东新区张江公寓14-210<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
      </tr>
      <tr>
        <td class="title">邮政编码</td>
        <td class="name">231321<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
      </tr>
      <tr>
        <td class="title">国籍</td>
        <td class="name">中国<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
      </tr>
      <tr>
        <td class="title">营业部</td>
        <td class="name">上海南路营业部<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
      </tr>
      <tr>
        <td class="title">手机号码</td>
        <td class="name">189888866666<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
      </tr>
      <tr>
        <td class="title">民族</td>
        <td class="name">汉<a class="edit-name input" href="javascript:void(0)" style="display:none;"></a></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="save-btn">
            <button class="btn-hollow btn-lg btn-gray" href="javascript:void(0)">保存</button>
          <div>
        </td>
      </tr>
      <tr>
        <td class="title">历史记录</td>
        <td class="name">基本信息有误</td>
      </tr>
    </tbody>
  </table>
</div>
