<div class="ui-video-opration">
  <div class="opration-inner">
    <div class="video-photo">
      <img src="../images/video/temp4.jpg" width="155" height="130">
    </div>
    <div class="video-btn-all">
      <div class="audio-content">
        <a href="javascript:void(0)" title="播放">
          <i class="icon icon-play"></i>
        </a>
        <span class="time">05:12</span>
      </div>
      <div class="opration-btn">
        <a href="javascript:void(0)" title="设置"><i class="icon icon-set"></i></a>
        <a href="javascript:void(0)" title="旋转"><i class="icon icon-rotate"></i></a>
        <a href="javascript:void(0)" title="翻转"><i class="icon icon-turn"></i></a>
      </div>
      <div class="btn-content">
        <a href="#" class="btn-normal btn-hollow">上传</a>
        <a href="#" class="btn-normal btn-fill">开始录制</a>
      </div>
    </div>

  </div>
</div>
