<div class="ui-video-table">
  <table>
    <tbody>
      <tr>
        <td>张三<a class="edit-name" href="#"></a></td>
        <td  colspan="3" class="text-r">男</td>
      </tr>
      <tr>
        <td colspan="4">
          <p class="idcard">
            <span class="title">身份证号</span>
            <span class="name">620502199109090099</span>
          </p>
          <div class="show-result">
            <img src="../images/video/temp6.png" width="131" height="174">
            <div class="result-inner">
              <p class="error">未进行公安验证</p>
              <a href="#" class="btn btn-fill">公安认证</a>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="title">证件期限</td>
        <td class="name" colspan="3">2013.07.21至2023.07.21</td>
      </tr>
      <tr>
        <td class="title">发证机关</td>
        <td class="name" colspan="3">浦东新区张江公安局</td>
      </tr>
      <tr>
        <td class="title">证件地址</td>
        <td class="name" colspan="3">上海市浦东新区张江公寓14-210</td>
      </tr>
      <tr>
        <td class="title">联系地址</td>
        <td class="name" colspan="3">上海市浦东新区张江公寓14-210</td>
      </tr>
      <tr>
        <td class="title">邮政编码</td>
        <td class="name">231321</td>
        <td class="title">手机号码</td>
        <td class="name">189888866666</td>
      </tr>
      <tr>
        <td class="title">国籍</td>
        <td class="name">中国</td>
        <td class="title">民族</td>
        <td class="name">汉</td>
      </tr>
      <tr>
        <td class="title">营业部</td>
        <td class="name" colspan="3">上海南路营业部</td>
      </tr>
    </tbody>
  </table>
</div>
