<div class="ui-video-tab">
  <div class="tab">
    <a class="current" href="#">在线视频</a>
    <a href="#">信息聊天</a>
  </div>
  <div class="video-inner">
    <div class="video-photo">
      <img src="../images/video/temp4.jpg" width="115" height="89">
    </div>
    <div class="video-btn-all">
      <div>
        <a href="javascript:void(0)"><i class="icon"></i></a>
        <a href="javascript:void(0)"><i class="icon"></i></a>
        <a href="javascript:void(0)"><i class="icon"></i></a>
      </div>
      <div>
        <label><input type="checkbox">自动录制</label>
      </div>
      <div>
        <a href="javascript:void(0)"><i class="icon"></i></a>
        <span>05:12</span>
      </div>
    </div>
    <div>
      <a href="#" class="btn btn-fill">开始录制</a>
      <a href="#" class="btn btn-hollow">上传</a>
    </div>
  </div>
  <div>
    <div>
      <img src="../images/video/temp5.png">
    </div>
    <div>
      <a href="#" class="btn btn-fill">拍照</a>
    </div>
  </div>
</div>
