<div class="ui-video-verify">
  <div class="show-result">
    <div class="result-inner">
      <p class="error">未进行公安验证</p>
      <a href="javascript:void(0)" class="btn btn-fill identification">公安认证</a>
    </div>
    <img src="../images/video/temp6.png" width="121" height="137">
  </div>
</div>
<script type="text/javascript">
  $('.result-inner').on('click', '.identification', function(event) {
    //公安认证
    event.preventDefault();
    /* Act on the event */
    $(this).addClass('default');
  });
</script>
