<div class="ui-video-info">
  <div class="info-content" style="display:none;">
    <div class="guest">
      <span class="people">客户</span>
      <p class="info-txt"><i class="icon"></i>为什么我听不到声音？</p>
    </div>
    <div class="me">
      <span class="people">我</span>
      <p class="info-txt">提问提问提问提问提问提问提问提问提问提问提问<i class="icon"></i></p>
    </div>
  </div>
  <div class="send-message">
    <div class="message-content">
      <input class="message" type="text">
      <a class="sent-btn" href="javascript:void(0)">发送</a>
    </div>
    <div class="more-message">
      <a class="more-main" href="javascript:void(0)">
        <i class="more"></i>
        <ol class="common-info" style="display:none;">
          <li>无法听到您的声音，请查看一下您的话筒设备</li>
          <li class="active">无法听到您的声音，请查看一下您的话筒设备</li>
          <li>无法听到您的声音，请查看一下您的话筒设备</li>
          <li>无法听到您的声音，请查看一下您的话筒设备无法听到您的声音，请查看一下您的话筒设备无法听到您的声音，请查看一下您的话筒设备</li>
        </ol>
      </a>
    </div>
  </div>
</div>
