<div class="ui-video-table">
  <h2>历史资料</h2>
  <table class="operation-table">
    <tbody>
      <tr>
        <td class="title">姓名</td>
        <td class="name">张三</td>
      </tr>
      <tr>
        <td class="title">性别</td>
        <td class="name">男</td>
      </tr>
      <tr>
        <td class="title">身份证号</td>
        <td class="name">620502199109090099</td>
      </tr>
      <tr>
        <td class="title">证件期限</td>
        <td class="name">2013.07.21至2023.07.21</td>
      </tr>
      <tr>
        <td class="title">发证机关</td>
        <td class="name">浦东新区张江公安局</td>
      </tr>
      <tr>
        <td class="title">证件地址</td>
        <td class="name">上海市浦东新区张江公寓14-210上海市浦东新区张江公寓</td>
      </tr>
    </tbody>
  </table>
</div>
