<div class="ui-video-photo">
  <div class="tab">
    <a class="current barehead" href="javascript:void(0)">免冠照片</a>
    <a class="front" href="javascript:void(0)">身份证正面</a>
    <a class="back" href="javascript:void(0)">身份证反面</a>
  </div>
  <div class="photo-content photo-barehead">
    <img class="photo" src="../images/video/temp5.png" width="284" height="214">
    <a class="take-photo" href="javascript:void(0)"></a>
  </div>
  <div class="photo-content photo-front" style="display:none;">
    <img class="photo" src="../images/video/temp2.png" width="284" height="214">
  </div>
  <div class="photo-content photo-back" style="display:none;">
    <img class="photo" src="../images/video/temp3.png" width="284" height="214">
  </div>
</div>
