<div class="ui-video-opration">
  <div class="opration-inner">
    <div class="video-photo">
      <img src="../images/video/temp4.jpg" width="155" height="130">
    </div>
    <div class="video-btn-all">
      <div class="audio-content">
        <a href="javascript:void(0)" title="播放">
          <i class="icon icon-play"></i>
        </a>
        <span class="time" id="time">05:12</span>
      </div>
      <div class="opration-btn">
        <a href="javascript:void(0)" title="自动"><i class="icon icon-set"></i></a>
        <a href="javascript:void(0)" title="旋转"><i class="icon icon-rotate"></i></a>
        <a href="javascript:void(0)" title="翻转"><i class="icon icon-turn"></i></a>
      </div>
      <div class="btn-content">
        <a href="javascript:void(0)" class="btn-normal btn-hollow" id="upload_video">上传</a>
        <a href="#" class="btn-normal btn-fill">开始录制</a>
      </div>
    </div>

  </div>
</div>
<script>
  $('.btn-content').on('click', '#upload_video', function(event) {
    //视频上传按钮
    event.preventDefault();
    /* Act on the event */
    DIALOG.show({
      dragable:true,
      title: '提示',
      width: '500',
      html: '<div class="dialog-content-upload">'+
                '<p class="progress-bar">90%</p>'+
                '<div class="upload-button">'+
                  '<button class="btn-fill upload">取消上传</button>'+
                '</div>'+
               '</div>'
    });
    $('.dialog-content-upload').on('click', '.upload', function(event) {
      event.preventDefault();
      /* Act on the event */
      $(this).html('完成');
    });
  });
  var play = $('.icon-play');
  var t = $('#time');
  var run = true;
  var timer;
  play.on('click',function(){
     var i = 0;
      if(!run){
        clearInterval(timer);
        run = true;
      }
      else{
        run = false
         timer = setInterval(function(){
          i++;
         var s = i%60;
         var m = parseInt(i/60);
          if(s<10){
             t.html("0"+m+":"+"0"+s)
          }
          else if(s>=10&&m<10){
            t.html("0"+m+":"+s)
          }
          else{
            t.html(m+":"+s)
          }
         },1000)
      }
  })




</script>
