<div class="ui-video-photo" id="basic_photo">
  <div class="tab">
    <a class="current barehead" href="javascript:void(0)">免冠照片</a>
    <a class="front" href="javascript:void(0)">身份证正面</a>
    <a class="back" href="javascript:void(0)">身份证反面</a>
  </div>
  <div class="photo-content photo-barehead">
    <img class="photo" src="../images/video/temp5.png" width="284" height="214">
    <!-- <a class="take-photo" href="javascript:void(0)"></a> -->
  </div>
  <div class="photo-content photo-front" style="display:none;">
    <img class="photo" src="../images/video/temp2.png" width="284" height="214">
  </div>
  <div class="photo-content photo-back" style="display:none;">
    <img class="photo" src="../images/video/temp3.png" width="284" height="214">
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('.photo-content').on('click', 'img', function(event) {
      event.preventDefault();
      /* Act on the event */
      DIALOG.show({
          dragable:true,
          title: '查看照片',
          width: '555',
          hasBtn:true,
          needIframe:true,
          btnText: ["保存"],
          html: '<div class="dialog-content-photo">'+
                  '<div class="tab" id="dialog_tab">'+
                    '<a class="active" href="javascript:void(0)">照片1</a>'+
                    '<a class="" href="javascript:void(0)">照片2</a>'+
                    '<a class="" href="javascript:void(0)">照片3</a>'+
                  '</div>'+
                  '<div class="photo-content">'+
                    '<img class="photo" src="../images/video/temp5.png" width="485" height="320">'+
                  '</div>'+
                  '<div class="photo-content" style="display:none;">'+
                    '<img class="photo" src="../images/video/temp2.png" width="485" height="320">'+
                  '</div>'+
                  '<div class="photo-content" style="display:none;">'+
                    '<img class="photo" src="../images/video/temp3.png" width="485" height="320">'+
                  '</div>'+
                  '<div class="photo-operate">'+
                    '<div class="float-l">'+
                      '<i class="turn-l"></i>'+
                      '<i class="turn-r"></i>'+
                    '</div>'+
                    '<div class="float-r">'+
                      '<span>照片名称：</span>'+
                      '<select name="" id="photo_list" class="diy-select">'+
                        '<option selected="" value="1">身份证正面</option>'+
                        '<option value="2">身份证反面</option>'+
                      '</select>'+
                    '</div>'+
                  '</div>'+
                  '<p class="info">照片名称重复，请检查修改后保存！</p>'+
                '</div>'
          });
          $('.diy-select').diySelect();
    });
  $(document).on('click', '#dialog_tab a', function(event) {
    event.preventDefault();
    /* Act on the event */
    $('#dialog_tab').find('a').removeClass('active');
    $(this).addClass('active');
  });
  });
</script>
