---
title: 开户复核
layout: default
class: verify
---

<div class="ui-reason-content">
  <span class="name">复核通过原因</span>
  <span class="reason">身份证照片不合格</span>
</div>

{% include component/institution/institution.html %}
{% include component/institution/institution-photo.html %}
{% include component/institution/institution-table.html %}
{% include component/institution/institution-data.html %}
<div class="ui-account-info">
  <div class="main-table">
    <h2 class="table-title">已选择账户</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td>股东账户</td>
          <td class="modify">
            <span>上海A股<b class="status">（23123123）</b></span>
            <span>深圳A股<b class="status">（23213123）</b></span>
            <div class="edit"><i class="edit-name"></i></div>
          </td>
        </tr>
        <tr>
          <td>基金公司</td>
          <td class="modify">
            <span>中登98公司</span>
            <span>中登99公司</span>
            <div class="edit"><i class="edit-name"></i></div>
          </td>
        </tr>
        <tr>
          <td>委托方式</td>
          <td class="modify">
            <span>电话委托</span>
            <span>柜台委托</span>
            <span>自助委托</span>
            <span>驻留委托</span>
            <span>远程委托</span>
            <span>网上委托</span>
            <span>手机委托</span>
            <div class="edit"><i class="edit-name"></i></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% include component/info/stock.html %}
<div class="opinion-content">
  <div class="button-content">
    <button class="btn-lg through-btn verify-btn" href="#">复核通过</button>
    <button class="btn-lg ml-30 nothrough-btn verify-btn" href="#">需要整改</button>
  </div>
  <div class="no-through-content reform-content" style="display:none;">
    <div class="wrap" style="width: 730px;margin: 0 auto;">
      <div class="no-through-item">
        <p>整改意见</p>
        <textarea style="margin-top: 15px;border-radius: 5px;outline: none;width: 200px;height: 100px;border: none;background: #e1e6ef;line-height: 20px;padding: 10px;resize: none;"></textarea>
      </div>
    </div>
  </div>
</div>
<div class="button-content">
  <button class="btn-lg btn-fill" href="#" id="submit_btn">提交</button>
</div>
<div class="main-table">
  <h2 class="table-title">客服操作流水</h2>
  <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
    <thead>
      <tr>
        <th width="25%">操作人</th>
        <th width="25%">操作</th>
        <th width="25%">操作内容</th>
        <th width="25%">操作时间</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
      <tr class="even">
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
      <tr>
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
      <tr class="even">
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(function(){
    $('.modify').hover(function(){
        $(this).find('.edit').css('display','inline-block');
    },function(){
        $(this).find('.edit').hide();
    });
    $('.opinion-content').on('click', '.verify-btn', function(event) {
      event.preventDefault();
      /* Act on the event */
      $('.opinion-content').find('.verify-btn').removeClass('current');
      $(this).addClass('current');
      if($(this).hasClass('nothrough-btn')) {
        $('.no-through-content').show();
      } else {
        $('.no-through-content').hide();
      }
    });
    $('.button-content').on('click', '#submit_btn', function(event) {
      //提交按钮弹出层
      event.preventDefault();
      /* Act on the event */
      var submit_screen = new Dialog(null,{
        title: '复核结果',
        width: '500',
        needDestroy: true,
        hasBtn: true,
        btnText: ["确定"],
        btnRole: ['confirm'],
        confirm: function() {
          //确定按钮事件
          submit_screen.hide();
        },
        content: '<div class="dialog-content-recheck">'+
                  '<p class="result"><i class="success"></i>复核成功</p>'+
                  '<p class="result"><i class="success"></i>上传身份证正面照成功</p>'+
                  '<p class="result"><i class="success"></i>上传身份证反面照成功</p>'+
                  '<p class="result"><i class="error"></i>上传客户免冠照失败</p>'+
                  '<p class="result"><i class="success"></i>上传身份证反面照成功</p>'+
                  '<p class="result"><i class="success"></i>上传身份证反面照成功</p>'+
                 '</div>'
      });
    });
  });

</script>
