.qcode-content {
	position: relative;
	margin: -15px 0px 0px 130px;
}
.qcode-content .dia-qcode {
	display: block;
	float: left;
	border: 1px solid #ccc;
	margin-right: 20px;
}
.qcode-download {
	display: block;
	width: 100px;
	border: 1px solid #0099ff;
	color: #0099ff;
	height: 25px;
	line-height: 25px;
	margin: 15px 143px;
	text-align: center;
}
.qcode-logo {
	position: absolute;
	top: 50px;
	left: 48px;
}
.upload-qcodelogo {
	position: relative;
	margin-top: 15px;
}
.upload-qcodelogo .upload-file {
	position: absolute;
	top: 0px;
	left: 143px;
	width: 100px;
	filter: alpha(opacity:0);
	opacity: 0;
	height: 28px;	
	line-height: 28px;
	cursor: pointer !important;
}

.upload-qcodelogo img {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 10px;
}
.upload-qcodelogo .upload-btn {
	display: inline-block;
	width: 100px;
	height: 27px;
	line-height: 27px;
	color: #0099ff;
	border: 1px solid #ccc;
	text-align: center;
	z-index: -1;
}
#images_upload_main {
	position: absolute;
	left: 175px;
	bottom: 15px;
	z-index: 999;
}
.marketing-info {
	position: relative;
}
.marketing-info b {
	display: inline-block;
	width: 115px;
	text-align: left;
	padding-left: 10px;
}
.shuoming-content {
	margin-left: 125px;
	margin-top: -15px;
	width: 550px;
}
.param-radio {
	background: url(/images/radio.png) 0px 0px no-repeat;
	width: 13px;
	height: 13px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
.attr-panl-radio a:hover .param-radio {
	background: url(/images/radio.png) 0px -20px no-repeat;
}
.attr-panl-radio .param-radio.icon-hover {
	background: url(/images/radio.png) 0px -20px no-repeat;
}
.submit-btn {
	margin: 20px 0 0 300px;
	display: inline-block;
	width: 200px;
	color: #fff;
	height: 45px;
	line-height: 45px;
	background: #0098e3;
	text-align: center;
	font-size: 16px;
}