/* 搜索相同样式 */
.tableSearch {
  border: 1px solid #ccc;
  border-bottom: none;
  padding-bottom: 1px;
  padding: 8px 0;
  background: url("/images/tile.jpg") 0 -84px repeat-x;
  position: relative;
}
.tableSearch b {
  padding: 0 10px;
}
.tableSearch dl {
  height: 64px;
  padding: 12px 0 0 10px;
  display: inline-block;
}
.tableSearch dl {
  *display: inline;
}
.tableSearch dt {
  font-weight: bold;
  margin-bottom: 8px;
}
.tableSearch .btn {
  display: inline-block;
  float: none;
  margin-top: 0;
}
.tableSearch .btn em {
  display: inline-block;
  float: none;
}
.tableSearch .btn {
  *display: inline;
  *margin-top: -28px;
}
.tableSearch .btn em {
  *display: inline;
}
.inline-search .btn {
  display: inline-block;
  float: none;
  margin-top: 0;
}
.inline-search .btn {
  *display: inline;
}
.tableSearch span.posi {
  padding: 7px 6px 0 6px;
}
.tableSearch #brches-select {
  margin-right: 10px;
}
.tableSearch div.slct {
  display: inline-block;
}
.tableSearch div.slct {
  *display: inline;
}
.right_link {
  display: inline-block;
  margin-left: 30px;
  text-decoration: underline;
}
.right_btn {
  display: inline-block;
  margin-left: 40px;
}
.otherBtns {
  padding: 15px 0;
}
