/* 视频验证 */
.newIncoming{background: #ffe897;border: 1px solid #d79d38;padding: 10px 20px;margin: 0 0 10px 0;overflow: hidden;height: 30px;line-height: 30px;}
.newIncoming b{font-weight: normal;float: left;}
#videoVerify .applyVerify{height: 36px;line-height: 36px;text-align: center;background: #ffe897;border: 1px solid #d79d38;}
.applyVerify span{padding: 0 10px;}
#videoVerify .tableStyle .edit{display:none; vertical-align: top;width: 17px;height: 17px;background: url(/images/check.jpg) -40px 0 no-repeat;cursor: pointer;}
#videoVerify .tableStyle .check{display: inline;vertical-align: middle;margin-left: 4px;}
#videoVerify .tableStyle td {height: 28px;padding: 4px 8px 4px 8px;}
#videoVerify td.vid-usr-cp,#videoVerify td.contactAD {width: 292px;}
.saver {text-align: center;}
.saver .btn{float: none;_float:left;_margin-left:130px;}
.communication .confirmC {padding: 0}
.background{position:fixed;_position:absolute;z-index:998;top:0px;left:0px;width:100%;_width:expression(document.documentElement.clientWidth);height:100%;_height:expression(document.documentElement.clientHeight);background:rgb(50,50,50);background:rgba(0,0,0,0.5);}
.img-wrap {width:384px;height:17px;position:absolute;top:50%;left:50%;margin-left:-192px;margin-top:-9px;z-index:10000}
.cameraOp {margin-top: 10px}
.small_window{border:1px solid #ccc;width: 100px;height: 75px;float: left;}
.vid_mid {float: left;}
.reverse,.turn-left-right,.turn-auto-operation {display: inline;padding: 0px 7px;}
.reverse a{
	display: inline-block;
	background: url('/images/turn_ico.png') 0px -136px no-repeat;
	width: 24px;
	height: 35px;
	vertical-align: middle;
}
.reverse a:hover{
	background: url('/images/turn_ico.png') -37px -136px no-repeat;
}
.turn-left-right a{
	display: inline-block;
	background: url('/images/turn_ico.png') 0px -86px no-repeat;
	width: 24px;
	height: 35px;
	vertical-align: middle;
}
.turn-left-right a:hover{
	background: url('/images/turn_ico.png') -37px -86px no-repeat;
}
 
.turn-auto-operation a
{
	display: inline-block;
	background: url('/images/turn_ico.png') 0px -43px no-repeat;
	width: 24px;
	height: 35px;
	vertical-align: middle;
}
.turn-auto-operation a:hover{
	background: url('/images/turn_ico.png') -37px 0px no-repeat;
}
.turn-auto-operation .checked-ico-video{
	background: url('/images/turn_ico.png') 0px 0px no-repeat;
}
.turn-auto-operation .checked-ico-video:hover{
	background: url('/images/turn_ico.png') -37px -43px no-repeat;
}
.upload {background-position: right -648px;margin: 10px 0 0 15px;padding-right: 33px; }
.upload em {background-position: left -620px;padding-left: 33px;font-weight: normal;}
.state_tip {text-align: center;font-size: 14px;}
.state_tip i {
    width: 31px;height: 31px;display: inline-block;margin-right: 6px;vertical-align: middle;background: url(/images/CRMcheck.jpg) 0 0 no-repeat;
}
.state_tip i.suc_ico {background-position: 0 0 }
.state_tip i.warn_ico {background-position: 0 -62px; }
/* 发消息 */
.input-msg {position: relative;}
.input-msg .select-btn {background: url(/images/selectBtn.png) 0 0 no-repeat;width: 90px;height: 28px;display: inline-block;margin-left: 10px;overflow: hidden;float: left;}
.input-msg .select-btn a.send {color: #4d4d4d;text-decoration: none;padding: 5px 14px;float: left;}
.input-msg .select-btn a.more-message {text-decoration: none;float: left;width: 22px;height: 28px;margin-left: 4px;cursor: pointer}
.input-msg .selectHover {background-position:0 -28px;}
.phrases {position: absolute;left: 0;top: 27px;background: #fff;width: 298px;max-height:195px;overflow:auto;border: 1px solid #ccc;padding: 4px 12px 4px 24px;list-style: decimal;}
.phrases li {line-height: 24px;color: #4d4d4d;list-style: decimal;position: relative;}
.phrases li span{position: absolute;top: 0;right:-10px;cursor: pointer;display: none;font-size: 18px}
.phrases li.hoverGray {background: #eee;}
.input-msg input.re-input {width: 268px;}
.re-phrases {width: 346px;}
.txt-cont b {float: left;width: 40px;}
.txt-cont p a {float: right;}
.txt-cont li {overflow: hidden;padding: 0 10px;}
.dia_wrap {padding-left: 40px;}
.txt-cont {display:none}
    /* 左边 */
.videoPart{padding: 16px 0;border: 1px solid #ccc;width: 800px;margin-top: 10px;}
.cameraPart{width: 332px;border-right:1px solid #ccc;padding:0 20px;}
.camera{width: 320px; height:240px;border: 1px solid #ccc;padding: 5px;}
.cameraOpR{float: right;}
.startRec {width:90px;height:38px;display:inline-block;line-height:38px;text-align:center;font-size:14px;color:#4d4d4d;margin: 0 2px 0 15px;background:url(/images/videoBtn.jpg) 0 0 no-repeat;*margin-left: 10px;}
.picLi .btn {background-position: right -648px}
.picLi .btn em {background-position: left -620px;font-weight: normal;}
#policeV {background-position: right -648px}
#policeV em {background-position: left -620px;font-weight: normal;}
.cameraOp a.takePic,.cameraOp a.chgCamera,.recording span,.recording b {float: left;margin: 0 10px 0 0 ;}
.vid_mid {margin: 0 0 0 10px;*margin:0 0 0 2px;width: 113px;*width: 126px;}
.recording {visibility: hidden;height: 24px;margin: 4px 0 0 0}
.recording b {margin-right: 2px}
.recording span{margin-right: 0}
.recording span,.recording b{color: #ff3030;}
.cameraOp a.chgCamera{margin:10px 0 0 6px;}
.chgCamera em {font-weight: normal;}
.re-txt-cont {height: 60px;overflow: auto;margin-top: 6px;overflow: hidden;}
.re-txt-cont time,.txt-cont time{color: #999;}
.re-txt-cont li {line-height: 30px;}
.re-txt-cont li input,.txt-cont li input {border: 0 none;width: 205px;}
.cameraOp span.horn{width: 14px;height: 16px;background: url(/images/horn.png) 0 0 no-repeat;float: left;margin: 16px 10px 0 0;}
#slider{width: 60px;float: left;margin-top: 18px}
.ui-slider a.ui-slider-handle{width: 12px;height: 12px;margin-top: 2px;}
.cameraPart dl{margin: 12px 0; }
.recList dt{float: left;}
.recList img{cursor: pointer;vertical-align: middle;}
.picList dd li.picLi{margin: 10px 0}
.picList dd li.picLi a{margin-top: 4px;}
.picList dd li.picLi a.btn em{font-weight: normal;}
.picList dd li.picLi img{margin:0 35px;}
.picLi a {float:  none;padding-right: 33px}
.picLi a em {float:  none;padding-left: 33px}
.cameraPart dl li.picLi img{vertical-align: middle;cursor: url(/images/zoom-in.cur),default;}
.bigPicShow {text-align: center;padding: 8px;}
.bigPicShow img {display: block;}
.pic_check a {margin: 0 0 0 242px;background-position: right -648px;padding-right: 21px}
.pic_check a em {background-position: left -620px;font-weight: normal;padding-left: 21px}
    /* 右边 */

.communication img{vertical-align: middle;cursor: url(/images/zoom-in.cur),default;}
.cameraPart dl dd ul li.picLi span.del{width: 7px;height: 7px;background: url(/images/global.png) no-repeat -20px -20px;display: inline-block;cursor: pointer;margin-left: 4px;}
.cameraPart dl dd{float: left;}
.communication{width: 380px;padding: 0 20px;}
ul.txt-cont {height: 100px;overflow: auto;border: 1px solid #ccc;margin-bottom: 4px;overflow: auto;}
.txt-cont li {line-height: 24px;}
.txt-cont time {color: #999}
#sendMsg{overflow: hidden;}
.communication .reslt {background: #eaeaea;border: 1px solid #ccc;width: 236px;float: left;padding: 0 10px;height: 38px;line-height: 38px;margin-right: 10px;}
input.msg-box{width: 220px;}
input.re-msg-box{width: 290px;float: left;}
.textResult{padding: 10px;}
.verifyConf{margin-left: 166px;margin-top: 10px;}
.infoCont .ID {float: left;}
.infoCont .btn {float: right;margin: 0 }
.msg-box {float: left;}
#editBox .PCN .txt {width: 354px;}
.IDVali cite {padding: 0 4px;}
    /* table */
.tableStyle tbody {border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
.tableStyle tbody tr td {padding: 10px 0 10px 10px;text-align: left;}
.vid-usr-name,.vid-usr-cp,.vid-usr-id {font-weight: bold;}
.tableStyle td.policetd {border-left: none;padding: 0;*border-left: 0 none;}
.tableStyle td.idnum {*border-right: 0 none;}
.tableStyle #policeV {margin:0 10px 0 0;float: none;}
.tableStyle tr td.vid-usr-id {position:relative;*border-top: none;*border-left: none;}
.tableStyle td.bgGray {width: 50px;padding-right: 10px;}
.tableStyle td.vid-usr-name {width: 104px;padding-right: 10px;}
.dragBox{position:absolute;z-index:999;padding:8px;border:solid 1px #000;background:rgba(10,10,10,0.5);overflow: hidden;top: 50%;left: 50%;}
.dragBox .inside{background-color:#FFFFFF;overflow: hidden;text-align: center;}
.dragBox .inside img {display: block;margin: 0 auto}
.dragBox .inside .mainlist {text-align: left;}
.dragBox .inside h1{-moz-user-select:none;-webkit-user-select:none;position:relative;display:block;margin:0;padding:0;font-size:13px;line-height:30px;height:30px;padding-left:5px;font-family:Arial;background:#F1F7FC;font-weight:normal;cursor:move;font-weight:800;color:#000;text-align: left;}
.dragBox .inside h1 a{ background: url(/images/global.png) no-repeat 0 -20px;display: inline-block;height: 10px;overflow: hidden;position: absolute;right: 12px;text-indent: -9999em;top: 12px;width: 10px;}
.img-wrap {width:384px;height:17px;position:absolute;top:50%;left:50%;margin-left:-192px;margin-top:-9px;z-index:10000}/* 编辑身份证 */
#IDveri {text-align: center;overflow: hidden;}
#IDveri input {width: 100px;}
#IDveri cite {margin: 0 4px;}
#IDveri a {float: none;margin: 0}


    /* 列表 */
#videoForSure .confirmC,#videoForDeny .confirmC{padding-left: 20px;}
.cenForDeny{padding-left: 20px;text-align:left;}
#videoForDeny li {line-height: 26px;}
#videoForDeny li input {vertical-align: middle; margin-right: 4px;}
#videoVerList .VIDEOCont img {vertical-align: middle;margin-right: 4px;cursor: pointer;}
#videoVerList .PICTURECont img {vertical-align: middle;margin-right: 5%;cursor: url(/images/zoom-in.cur),default;}
.wrongWarn {margin: 10px 0 0 300px;}
.wrongWarn span{width: 16px;height: 14px;background: url(/images/wrong.jpg) 0 0 no-repeat;display: inline-block;vertical-align: middle;}


/* html5视频 */
.videos_wrap {margin-bottom: 10px;}
.bigPicShow button {padding:0 6px;margin-right: 8px}
.bigPicShow #progressbar,.bigPicShow #progressbarS{border:1px solid #aaa; color:#fff; width: 648px; height: 20px; border-radius: 5px; cursor: pointer; display: inline-block;text-align: left;margin-bottom: 10px;}
.bigPicShow #played,.bigPicShow #playedS{background: #aaa; height: 18px; display: inline-block; border-bottom:1px solid #aaa;border-top:1px solid #aaa; }

input.btn{display: inline-block;float:left;vertical-align: middle;background: url(/images/input-btns.jpg) 0 0 repeat-x;font-weight: normal;overflow: visible;margin: 24px 0 0 10px;cursor: pointer;height: 28px;line-height: 28px;border:0 none;border: 1px solid #d79f3e;text-align: center;padding-right: 0;width: 88px;outline: 0;margin-left: 15px}
/*上传进度条 */
.graphVideo{ 
width:380px; 
border:1px solid #ADD8E6; 
height:25px; 
} 
#uploadBar{ 
display:block; 
background:#ADD8E6; 
float:left; 
height:100%; 
text-align:center; 
}
/*视频验证页修改以及查看队列 css*/
.oprate a,.chuli{
	color: #0098e3;
}
.oprate a{
	display: block;
}
.chuli-ing{
	color: #da373a;
}
#queue-list tr td{
	text-align: center;
}
.auto-refresh{
	vertical-align: middle;
}
.refresh-head{
	height: 55px;
	line-height: 55px;
}
.refresh-div{
	float: right;
}
.refresh-hand{
	display: inline-block;
	background: #fbe7cd;
	border: 1px solid #e29839;
	border-radius: 4px;
	line-height: 28px;
	padding: 0px 15px;
	color: #4d4d4d;
	margin-left: 15px;
}