.ui-data-tables {
  @include clearfix;
  overflow: hidden;
  .main-table {
    float: left;
    width: 30%;
    margin-right: 3.333%;
    &:last-child {
      margin-right: 0;
    }
    .table-title {
      font-size: 16px;
      color: #44c1de;
      margin: 20px 0 10px 0;
    }
    .info-table {
      background: #f0f5fb;
      tbody {
        td {
          padding: 10px;
          &:nth-child(odd) {
            color: #6f7b91;
            width: 15%;
          }
          &:nth-child(even) {
            color: #4c4f54;
            width: 35%;
          }
        }
        .detail-btn {
          color: #44c1de;
        }
      }
    }
  }
}
