.ui-table-info {
  .main-table {
    .table-title {
      font-size: 16px;
      color: #44c1de;
      margin: 20px 0 10px 0;
    }
    .info-table {
      background: #f0f5fb;
      td {
        padding: 10px;
        &:nth-child(odd) {
          color: #6f7b91;
        }
        &:nth-child(even) {
          color: #4c4f54;
        }
      }
    }
    .photo-table {
      td {
        &:nth-child(odd),
        &:nth-child(even) {
          width: 16%;
          color: #6f7b91;
        }
        .name {
          margin-bottom: 15px;
        }
      }
    }
  }
}
