.ui-institution-photo {
  background: #f0f5fb;
  margin-top: 20px;
  padding: 20px 10px;
  .photo-table {
    td {
      position: relative;
    }
    .name {
      margin-bottom: 15px;
    }
    .code-content {
      position: absolute;
      bottom: 0px;
      left: 130px;
    }
    .big-img {
      cursor: pointer;
    }
  }
}
