.protocol-table-info {
  h2 {
    font-size: 16px;
    color: #44c1de;
    margin: 20px 0 15px 15px;
  }
  .protocol-content{
    background: #f0f5fb;
    padding: 15px 20px;
    a {
      color: #44c1de;
      display: inline-block;
      margin-right: 15px;
      line-height: 20px;
    }
  }
}
