.ui-stock-info {
  .table-title {
    font-size: 16px;
    color: #44c1de;
    margin: 20px 0 10px 0;
  }
  .main-table {
    background: #f0f5fb;
  }
  .info-table {
    margin-bottom: 20px;
    tbody {
      td {
        padding: 10px;
        &:nth-child(odd) {
          color: #6f7b91;
          width: 20%;
        }
        &:nth-child(even) {
          color: #4c4f54;
          width: 20%;
        }
      }
      .status {
        width: 115px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 5px;
        border: 1px solid #c9d2dc;
        color: #6f7b91;
        &.current {
          border: 1px solid #3f88cc;
          color: #3f88cc;
        }
      }
    }
  }
}
