.ui-verify-table {
  @include clearfix;
  overflow: hidden;
  background: #f0f5fb;
  padding: 15px;
  .back,
  .front,
  .face,
  .verify,
  .contrast,
  .video {
    float: left;
  }
  .back,
  .front,
  .face {
    margin-right: 60px;
  }
  .verify-inner,
  .video-inner {
    @include clearfix;
    overflow: hidden;
    img {
      float: left;
    }
  }
  .verify-txt,
  .video-txt {
    float: left;
    margin-left: 10px;
  }
  .verify-txt {
    .info {
      //margin: 10px 0 10px 0;
    }
    .through {
      color: #3a3d42;
      font-size: 16px;
    }
  }
  .video-txt {
    .info {
      margin-top: 50px;
    }
    .verify-code {
      color: #3a3d42;
    }
  }
  .contrast {
    margin: 110px 10px 0 10px;
    .contrast-btn {
      display: inline-block;
      width: 68px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      color: #3f88cc;
      border-radius: 5px;
      border: 1px solid #3f88cc;
      font-size: 12px;
    }
  }
  img {
    border-radius: 5px;
    cursor: pointer;
  }
  .v-title {
    margin-bottom: 30px;
  }
  .modify{
    position: relative;
    .edit{
      position: absolute;
      right: 0;
      bottom: 3px;
      margin-left:10px;
      display:inline-block;
      cursor:pointer;
      display:none;
      .edit-name{
        display: inline-block;
        vertical-align: middle;
        content: "";
        font-size: 0;
        width: 15px;
        height: 16px;
        background: url(../images/video/video-list.png) 0 -95px no-repeat;
      }
    }
    .w-320{
      width:80%;
      .txt{
        width:100%;
      }
    }
    .time{
      width:36%;
      width:calc((80% - 22px)/2);
      .txt{
        width:100%;
      }
    }
    >span{
      .js-select{
        width: 79%;
        width: calc(80% - 20px);
        width: -webkit-calc(80% - 20px);
      }
      .js-option{
        min-width: 411px;
      }
    }
  }
}
.ui-verify-table2 {
  @include clearfix;
  overflow: hidden;
  background: #f0f5fb;
  padding: 15px;
  .face,
  .verify,
  .video {
    float: left;
  }
  .face,
  .verify {
    margin-right: 20px;
  }
  .verify-inner,
  .video-inner {
    @include clearfix;
    overflow: hidden;
    img {
      float: left;
    }
  }
  .verify-txt,
  .video-txt {
    float: left;
    margin-left: 10px;
  }
  .verify-txt {
    .info {
      font-size: 12px;
      margin-top: 13px;
    }
  }
  .video-txt {
    font-size: 12px;
    .info {
      margin-top: 20px;
    }
    .verify-code {
      color: #3a3d42;
    }
  }
  .btn-content {
    text-align: center;
    margin-top: 13px;
    a {
      display: inline-block;
      color: #3ecacb;
      border: 1px solid #3ecacb;
      border-radius: 5px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      width: 80px;
      font-size: 12px;
      &.verify-btn {
        width: 160px;
      }
    }
  }
  img {
    border-radius: 5px;
  }
  .v-title {
    margin-bottom: 10px;
  }
}
