---
title: 在线视频
layout: default
class: video
---
<div class="video-main">
  <div class="tab-link">
    <a class="active basic-link" href="javacript:void(0)">基本信息</a>
    <a class="institution-link" href="javacript:void(0)">机构信息</a>
  </div>
  <div class="video-inner">
    <div class="video-top">
      <div class="video-left">
        {% include component/video/video-area.html %}
        {% include component/video/video-operation.html %}
      </div>
      <div class="video-center" style="margin-top: 50px;">
        <!-- 基本信息的照片3张 -->
        {% include component/video/video-photo.html %}
        <!-- 机构信息的5张照片 -->
        {% include component/video/institution-photo.html %}
        {% include component/video/video-verify.html %}
      </div>
    </div>
    {% include component/video/video-info.html %}
  </div>
  <div class="video-right" style="margin-top: 50px;">
    {% include component/institution/basic-info.html %}
    {% include component/institution/institution-info.html %}
    </div>
  </div>
<div class="button-content">
  <button class="btn-fill btn-lg" href="#">验证通过</button>
  <button class="btn-fill btn-lg ml-30" href="#">验证通过并补传视频</button>
  <button class="btn-hollow btn-lg ml-30" href="#" id="not_through">验证不通过</button>
</div>
<pre id="words_content" style="display:none">
您好，我是XX证券呼叫中心视频验证人员武
汉测试，您可以通过我公司官网或客服热线核
实我的身份，并可通过中国证券业协会网站核
实我的执业资格。
1、请问您是张大民本人吗？
2、您是本人自愿申请数字证书并进行网上开户，
并已阅读理解和接受相关责任条款对吗？
好的，本次视频验证通过后，您可以根据系统提
示，安装数字证书，自行设置证书密码并妥善保
管好吗？
感谢您的配合！（视频录制完毕，视频验证人员
点击结束录像，系统自动进行视频上传。）
</pre>
<script type="text/javascript">
  $(function(){
    $('.more-main i').hover(function() {
      //鼠标滑过更多icon消息时，常用语句出现
      $('.common-info').show();
    });
    $('.common-info').mouseleave(function(event) {
      //鼠标离开常用语句内容块自己消失
      /* Act on the event */
      $('.common-info').hide();
    });
    $('.common-info').on('mousedown', 'li', function() {
      //常用语句点击效果
      $('.common-info li').removeClass('active');
      $(this).addClass('active');
      $('.message').val($(this).text());
      $('.common-info').hide();
    });
    $('.ui-video-info').on('click', '.sent-btn', function(event) {
      //发送按钮交互，模拟了两条数据
      event.preventDefault();
      /* Act on the event */
      if($('.message').val() != "") {
        $('.info-content').show();
        $('.info-content').append('<div class="me">'+
                                    '<span class="people">我</span>'+
                                    '<p class="info-txt">'+$('.message').val()+'<i class="icon"></i></p>'+
                                  '</div>');
      }
    });
    $('.ui-video-photo').on('click', '.tab a', function(event) {
      //免冠照片、身份证正面、身份证反面切换交互
      event.preventDefault();
      /* Act on the event */
      $('.ui-video-photo .tab').find('a').removeClass('current');
      $(this).addClass('current');
      if($(this).hasClass('barehead')) {
        //免冠照片显示
        $('.photo-content').hide();
        $('.photo-barehead').show();
      } else if($(this).hasClass('front')) {
        //身份证正面显示
        $('.photo-content').hide();
        $('.photo-front').show();
      } else if($(this).hasClass('back')) {
        //身份证反面显示
        $('.photo-content').hide();
        $('.photo-back').show();
      }
    });
    var status = 0;//未点击拍照按钮状态
    $('.photo-content').on('click', '.take-photo', function(event) {
      //拍照按钮交互
      event.preventDefault();
      /* Act on the event */
      $('.take-photo').addClass('re-take');
      status = 1;
    });
    $('.photo-content .take-photo').hover(function() {
      //重拍按钮鼠标浮上去效果
      if(status == 1) {
        $(this).removeClass('re-take');
      }
    }, function() {
      if(status == 1) {
        $(this).addClass('re-take');
      }
    });
    $('.operation-table .name').hover(function() {
      //表格可编辑情况交互
      /* Stuff to do when the mouse enters the element */
      $(this).find('.edit-name').show();
    }, function() {
      /* Stuff to do when the mouse leaves the element */
      $(this).find('.edit-name').hide();
    });
    $('.operation-table').on('click', '.edit-name', function(event) {
      //编辑按钮效果
      event.preventDefault();
      /* Act on the event */
      if($(this).hasClass('input')) {
        DIALOG.show({
          dragable:true,
          title: '',
          width: '450',
          hasBtn:true,
          btnText: ["确定", "取消"],
          html: '<div class="dialog-content-input dialog-center">'+
            '<span>'+$(this).parent().parent().find('.title').text()+'：</span>'+
            '<input type="text" class="txt" value="'+$(this).parent().parent().find('.name').text()+'">'+
            '</div>'
          });
        $("#clos").click(function(){
          alert('此处可写点击关闭图标事件！');
        });
        $('.btn-confirm').click(function() {
          /* Act on the event */
          alert('此处可写点击确定按钮事件！');
        });
        $('.btn-cancel').click(function() {
          /* Act on the event */
          alert('此处可写点击取消按钮事件！');
        });
      } else if($(this).hasClass('radio')) {
        DIALOG.show({
          dragable:true,
          title: '',
          width: '400',
          hasBtn:true,
          btnText: ["确定"],
          html: '<div class="dialog-content-radio dialog-center">'+
          '<span>'+$(this).parent().parent().find('.title').text()+'：</span>'+
          '<label><input type="radio" name="sex" checked="checked">男</label>'+
          '<label><input type="radio" name="sex">女</label>'+
          '</div>'
          });
      } else if($(this).hasClass('select')) {
        DIALOG.show({
          dragable:true,
          title: '',
          width: '450',
          hasBtn:true,
          btnText: ["确定"],
          html: '<div class="dialog-content-select dialog-center">'+
          '<span>'+$(this).parent().parent().find('.title').text()+'：</span>'+
          '<input type="text" class="txt" id="beginTime" value="2015-07-21">'+
          '<span> 至 </span>'+
          '<input type="text" class="txt" id="endTime" value="2015-07-21">'+
          '</div>'
          });
        $('#beginTime').datepicker({
          onClose: function( selectedDate ) {
            $('#endTime').datepicker( "option", "minDate", selectedDate );
          }
        });
        $('#endTime').datepicker({
          onClose: function( selectedDate ) {
              $('#beginTime').datepicker( "option", "maxDate", selectedDate );
            }
        });
      }
    });
    $('.button-content').on('click', '#not_through', function(event) {
      //不通过按钮事件
      event.preventDefault();
      /* Act on the event */
      var error_screen = new Dialog(null,{
          title: '',
          width: '400',
          needDestroy: true,
          hasBtn: true,
          btnText: ["取消","确定"],
          btnRole: ['cancel','confirm'],
          btnCls: ['cancel', 'confirm'],
          confirm: function() {
            //确定按钮事件
            error_screen.hide();
          },
          content: '<div class="dialog-content-through dialog-center">'+
          '<p class="reason"><a class="current" href="javascript:void(0)">身份证照片不合格</a></p>'+
          '<p class="reason"><a href="javascript:void(0)">公安认证信息不一致</a></p>'+
          '<p class="reason"><a href="javascript:void(0)">基本资料有误</a></p>'+
          '<p class="reason"><a href="javascript:void(0)">用户中断</a></p>'+
          '<p class="reason"><a href="javascript:void(0)">头像照采集失败</a></p>'+
          '<p class="reason"><a class="other" href="javascript:void(0)">其他</a></p>'+
          '<textarea style="display:none"></textarea>'+
          '</div>'
        });
      $('.reason').on('click', 'a', function(event) {
        //验证不通过理由交互
        event.preventDefault();
        /* Act on the event */
        $('.reason a').removeClass('current');
        $(this).addClass('current');
        if ($(this).hasClass('other')) {
          $('.dialog-content-through textarea').show();
        }
      });
    });
    $('.message-content').on('click', '.open-words', function(event) {
      //打开话术交互
      var str = $('#words_content').html();
      event.preventDefault();
      /* Act on the event */
      DIALOG.show({
        dragable: true,
        width: 350,
        title: '话术',
        html: '<div class="dialog-content-words">'+
          '<i class="edit-words"></i>'+
          '<textarea>'+ str +'</textarea>'+
          '<a class="btn-fill save-words" style="display:none">保存</a>'+
        '</div>'
      });
      $('.dialog-content-words').on('click', '.edit-words', function(event) {
        event.preventDefault();
        /* Act on the event */
        $(this).hide();
        $('.save-words').show();
        $('.dialog-content-words').find('textarea').addClass('edit');
      });
      $('.dialog-content-words').on('click', '.save-words', function(event) {
        event.preventDefault();
        /* Act on the event */
        $(this).hide();
        $('.edit-words').show();
        $('.dialog-content-words').find('textarea').removeClass('edit');
      });
    });
    $('.tab-link').on('click', '.basic-link', function(event) {
      //基本信息点击交互
      event.preventDefault();
      /* Act on the event */
      $('.tab-link a').removeClass('active');
      $(this).addClass('active');
      $('#institution_basic_info').show();
      $('#institution_info').hide();
      $('#institution_photo_five').hide();
      $('#basic_photo').show();
    });
  });
  $('.tab-link').on('click', '.institution-link', function(event) {
      //机构信息点击交互
      event.preventDefault();
      /* Act on the event */
      $('.tab-link a').removeClass('active');
      $(this).addClass('active');
      $('#institution_basic_info').hide();
      $('#institution_info').show();
      $('#institution_photo_five').show();
      $('#basic_photo').hide();
    });
</script>
