---
title: 视频上传
layout: default
class: upload
---
<div class="upload-main">
  <div class="upload-content">
    <div class="upload-left">
      <div class="upload-top">
        <div class="front">
          <img src="../images/video/temp2.png" width="330" height="228">
        </div>
        <div class="back">
          <img src="../images/video/temp3.png" width="330" height="228">
        </div>
      </div>
      <div class="upload-center">
        <div class="upload-inner">
          <div class="upload-video">
            <img src="../../images/video/temp1.jpg" width="163" height="134">
            <a href="#">上传视频</a>
          </div>
          <div class="upload-img">
            <img src="../../images/video/temp5.png" width="163" height="134">
            <a href="#">上传免冠头像</a>
          </div>
        </div>
        <div class="upload-verify">
          {% include component/video/video-verify.html %}
        </div>
      </div>
    </div>
    <div class="upload-right">
      <div class="v-title">
        <p class="method">
          <span class="name">接入方式</span>
          <span class="info">手机开户</span>
        </p>
        <p class="type">
          <span class="name">视频类型</span>
          <span class="info">股东开户</span>
        </p>
      </div>
      {% include component/video/upload-data.html %}
    </div>
  </div>
</div>
<div class="opinion-content">
  <div class="button-content">
    <button class="btn-lg through-btn verify-btn" href="#">验证通过</button>
    <button class="btn-lg ml-30 nothrough-btn verify-btn" href="#">验证不通过</button>
  </div>
  <div class="no-through-content" style="display:none">
    <div class="no-through-item">
      <a class="reason-btn" href="javascript:void(0)">身份证照片不合格</a>
      <label>
        <span>备注：</span>
        <input type="text" class="input">
      </label>
    </div>
    <div class="no-through-item">
      <a class="reason-btn" href="javascript:void(0)">公安认证信息不一致</a>
      <label>
        <span>备注：</span>
        <input type="text" class="input">
      </label>
    </div>
    <div class="no-through-item">
      <a class="reason-btn" href="javascript:void(0)">基本资料有误</a>
      <label>
        <span>备注：</span>
        <input type="text" class="input">
      </label>
    </div>
    <div class="no-through-item">
      <a class="reason-btn" href="javascript:void(0)">用户中断</a>
      <label>
        <span>备注：</span>
        <input type="text" class="input">
      </label>
    </div>
    <div class="no-through-item">
      <a class="reason-btn" href="javascript:void(0)">头像照采集失败</a>
      <label>
        <span>备注：</span>
        <input type="text" class="input">
      </label>
    </div>
  </div>
</div>
<div class="button-content">
  <button class="btn-lg btn-fill" href="#">提交</button>
</div>
<div class="main-table">
  <h2 class="table-title">客服操作流水</h2>
  <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
    <thead>
      <tr>
        <td width="25%">操作人</td>
        <td width="25%">操作</td>
        <td width="25%">操作内容</td>
        <td width="25%">操作时间</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
      <tr>
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
      <tr>
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
      <tr>
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(function(){
    $('.opinion-content').on('click', '.verify-btn', function(event) {
      event.preventDefault();
      /* Act on the event */
      $('.opinion-content').find('.verify-btn').removeClass('current');
      $(this).addClass('current');
      if($(this).hasClass('nothrough-btn')) {
        $('.no-through-content').show();
      } else {
        $('.no-through-content').hide();
      }
    });
    $('.opinion-content').on('click', '.reason-btn', function(event) {
      //不通过理由交互
      event.preventDefault();
      /* Act on the event */
      if($(this).hasClass('active')) {
        $(this).removeClass('active');
      } else {
        $(this).addClass('active');
      }

    });
  });
</script>
