---
title: 在线视频
layout: default
class: video
---

<div class="v-title">
  <span class="name">接入方式</span>
  <span class="info">手机开户</span>
  <span class="name">视频类型</span>
  <span class="info">开股东户</span>
</div>
<div class="video-main">
  {% include component/video/video-photo.html %}
  <div class="vedio-inner">
    {% include component/video/video-tab.html %}
    {% include component/video/video-table.html %}
    <div class="button-content">
      <button class="btn-hollow btn-lg" href="#">保存</button>
    </div>
  </div>
  <div class="video-introduce">
    <h2>网上开户视频</h2>
    <div class="introduce-inner">
      网上开户视频话术内容网上开户视频话术内容网上开户视频话术内容 ... ...
    </div>
  </div>
</div>
<div class="button-content">
  <button class="btn-fill btn-lg" href="#">完成</button>
  <button class="btn-hollow btn-lg ml-30" href="#">验证不通过</button>
</div>
<div class="main-table">
  <h1 class="log-title">客服操作流水</h1>
  <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
    <thead>
      <tr>
        <td width="25%">操作人</td>
        <td width="25%">操作</td>
        <td width="25%">操作内容</td>
        <td width="25%">操作时间</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0003 张三 18911112222</td>
        <td>视频验证</td>
        <td>视频验证通过 开户申请视频验证通过</td>
        <td>2014-12-12 12:12</td>
      </tr>
      <tr>
        <td>0003 张三 18911112222</td>
        <td>视频验证</td>
        <td>视频验证通过 开户申请视频验证通过</td>
        <td>2014-12-12 12:12</td>
      </tr>
      <tr>
        <td>0003 张三 18911112222</td>
        <td>视频验证</td>
        <td>视频验证通过 开户申请视频验证通过</td>
        <td>2014-12-12 12:12</td>
      </tr>
      <tr>
        <td>0003 张三 18911112222</td>
        <td>视频验证</td>
        <td>视频验证通过 开户申请视频验证通过</td>
        <td>2014-12-12 12:12</td>
      </tr>
    </tbody>
  </table>
</div>
