<div class="ui-account-info">
  <div class="main-table">
    <h2 class="table-title">已选择账户</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td>股东账户</td>
          <td class="modify">
            <span>上海A股<b class="status">（新开）</b></span>
            <span>深圳A股<b class="status">（转户）</b></span>
            <div class="edit"><i class="edit-name"></i></div>
          </td>
        </tr>
        <tr>
          <td>基金公司</td>
          <td class="modify">
            <span>中登98公司</span>
            <span>中登99公司</span>
            <div class="edit"><i class="edit-name"></i></div>
          </td>
        </tr>
        <tr>
          <td>委托方式</td>
          <td class="modify">
            <span>电话委托</span>
            <span>柜台委托</span>
            <span>自助委托</span>
            <span>驻留委托</span>
            <span>远程委托</span>
            <span>网上委托</span>
            <span>手机委托</span>
            <div class="edit"><i class="edit-name"></i></div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <a class="query-btn" href="#">中登查询</a>
            <span>证券账户默认下挂最早的，可自由选择</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div style="background: #f0f5fb;padding: 0px 10px 20px;">
      <div class="main-table" style="background: #ffffff;">
        <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
          <thead>
          <tr>
            <th>交易市场</th>
            <th>股东账号</th>
            <th>股东状态</th>
            <th>姓名</th>
            <th>证件号</th>
            <th>开户日期</th>
            <th>一码通号码</th>
            <th>指定单位</th>
            <th>关联关系确认标</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>上海A</td>
            <td>A18677777777</td>
            <td>正常</td>
            <td>王大发</td>
            <td>777777777777777777</td>
            <td>201615</td>
            <td>123112221112</td>
            <td>指定国金证券股份有限公司</td>
            <td>未指定</td>

          </tr>
          <tr class="even">
            <td>上海A</td>
            <td>A18677777777</td>
            <td>正常</td>
            <td>王大发</td>
            <td>777777777777777777</td>
            <td>201615</td>
            <td>123112221112</td>
            <td>指定国金证券股份有限公司</td>
            <td>未指定</td>

          </tr>
          <tr>
            <td>上海A</td>
            <td>A18677777777</td>
            <td>正常</td>
            <td>王大发</td>
            <td>777777777777777777</td>
            <td>201615</td>
            <td>123112221112</td>
            <td>指定国金证券股份有限公司</td>
            <td>未指定</td>

          </tr>
          <tr class="even">
            <td>上海A</td>
            <td>A18677777777</td>
            <td>正常</td>
            <td>王大发</td>
            <td>777777777777777777</td>
            <td>201615</td>
            <td>123112221112</td>
            <td>指定国金证券股份有限公司</td>
            <td>未指定</td>

          </tr>

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('.modify').hover(function(){
        $(this).find('.edit').css('display','inline-block');
    },function(){
        $(this).find('.edit').hide();
    });
  });
</script>
