<div class="ui-table-info">
  <h2 class="table-title">基本资料</h2>
  <table width="100%" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>账号</td>
        <td>1234567890@qq.com</td>
        <td>企业联系地址</td>
        <td>杭州西湖文三路123号</td>
      </tr>
      <tr>
        <td>企业联系方式（固话）</td>
        <td>1234-1567890</td>
        <td>负责人手机号码</td>
        <td>13512221111</td>
      </tr>
      <tr>
        <td>负责人姓名</td>
        <td>张三</td>
        <td>微信</td>
        <td>1234567890</td>
      </tr>
      <tr>
        <td>QQ</td>
        <td>1234567890</td>
      </tr>
    </tbody>
  </table>
</div>
