<div class="ui-table-info">
  <h2 class="table-title">渠道信息</h2>
  <table width="100%" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td width="15%">渠道名称</td>
        <td width="35%">企业-新浪理财师</td>
        <td width="15%">渠道短码</td>
        <td width="35%">有效</td>
      </tr>
      <tr>
        <td>有效户佣金(元/人)</td>
        <td>50元</td>
        <td>平均资产(元)</td>
        <td>大于1000小于10000 奖励30</td>
      </tr>
      <tr>
        <td>渠道名称</td>
        <td>企业-新浪理财师</td>
        <td>开户佣金(元/人)</td>
        <td>30</td>
      </tr>
      <tr>
        <td>佣金模板</td>
        <td>网上开户模板-北京路营业部</td>
        <td>渠道短吗</td>
        <td>SDF9527</td>
      </tr>
      <tr>
        <td>营业部</td>
        <td>招商证券文三路营业厅<a class="more" id="more_department">更多</a></td>
        <td>二维码</td>
        <td rowspan="3">
          <select name="" id="select1" class="diy-select" style="display: none;">
            <option selected="" value="1">APP二维码</option>
            <option value="2">APP二维码</option>
          </select>
          <img src="../../images/mar-qcode.png" style="width:100px;height: 100px;margin-top: 10px;">
        </td>
      </tr>
      <tr>
        <td>存管银行</td>
        <td>招商证券文三路营业厅<a class="more" id="more_bank">更多</a></td>
      </tr>
      <tr>
        <td>说明</td>
        <td>说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容说明内容</td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(function(){
    $('.diy-select').diySelect();
    $('.ui-table-info').on('click', '#more_department', function(event) {
      event.preventDefault();
      /* Act on the event */
      var more_department_screen = new Dialog(null,{
        title: '营业部',
        width: '560',
        needDestroy: true,
        hasBtn: true,
        btnText: ["关闭"],
        btnRole: ['confirm'],
        btnCls: ['confirm'],
        confirm: function() {
          //确定按钮事件
          more_department_screen.hide();
        },
        content: '<div class="dialog-content-department">'+
        '<p>上海南路营业部</p>'+
        '<p>上海南路营业部</p>'+
        '<p>上海南路营业部</p>'+
        '<p>上海南路营业部</p>'+
        '<p>上海南路营业部</p>'+
        '<p>上海南路营业部</p>'+
        '<p>上海南路营业部</p>'+
        '</div>'
      });
    });
    $('.ui-table-info').on('click', '#more_bank', function(event) {
      event.preventDefault();
      /* Act on the event */
      var more_bank_screen = new Dialog(null,{
        title: '存管银行',
        width: '560',
        needDestroy: true,
        hasBtn: true,
        btnText: ["关闭"],
        btnRole: ['confirm'],
        btnCls: ['confirm'],
        confirm: function() {
          //确定按钮事件
          more_bank_screen.hide();
        },
        content: '<div class="dialog-content-department">'+
        '<p>招商银行</p>'+
        '<p>中国银行</p>'+
        '<p>农业银行</p>'+
        '<p>浦发银行</p>'+
        '<p>中国邮政</p>'+
        '<p>工商银行</p>'+
        '<p>建设银行</p>'+
        '</div>'
      });
    });
    $('.ui-table-info').on('click', '#more_money', function(event) {
      event.preventDefault();
      /* Act on the event */
      var more_money_screen = new Dialog(null,{
        title: '交易提成',
        width: '560',
        needDestroy: true,
        hasBtn: true,
        btnText: ["关闭"],
        btnRole: ['confirm'],
        btnCls: ['confirm'],
        confirm: function() {
          //确定按钮事件
          more_money_screen.hide();
        },
        content: '<div class="dialog-content-department">'+
        '<p>佣金提成：1000；起始金额：123213；结束金额：120000</p>'+
        '<p>佣金提成：0；起始金额：3213；结束金额：10000</p>'+
        '<p>佣金提成：0；起始金额：3213；结束金额：10000</p>'+
        '<p>佣金提成：0；起始金额：3213；结束金额：10000</p>'+
        '<p>佣金提成：0；起始金额：3213；结束金额：10000</p>'+
        '</div>'
      });
    });
  });
</script>
