<div class="ui-data-tables">
  <div class="main-table">
    <h2 class="table-title">渠道信息</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td>姓名</td>
          <td>张三</td>
        </tr>
        <tr>
          <td>银行</td>
          <td>中国银行</td>
        </tr>
        <tr>
          <td>银行卡号</td>
          <td>1111 2222 3333 4444 12</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="main-table">
    <h2 class="table-title">风险测评</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td>得分</td>
          <td>60</td>
        </tr>
        <tr>
          <td>等级</td>
          <td>保险型</td>
        </tr>
        <tr>
          <td>评测内容</td>
          <td><a class="detail-btn risk-detail" href="javascript:void(0)">查看</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="main-table">
    <h2 class="table-title">问卷回访</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td>回访内容</td>
          <td><a class="detail-btn review-detail" href="javascript:void(0)">查看</a></td>
        </tr>
        <tr>
          <td style="visibility:hidden">1</td>
        </tr>
        <tr>
          <td style="visibility:hidden">1</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="main-table">
    <h2 class="table-title">港股通</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td>得分</td>
          <td>60</td>
        </tr>
        <tr>
          <td>等级</td>
          <td>保险型</td>
        </tr>
        <tr>
          <td>评测内容</td>
          <td><a class="detail-btn risk-detail" href="javascript:void(0)">查看</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('.info-table').on('click', '.risk-detail', function(event) {
      //查看评测内容事件
      event.preventDefault();
      /* Act on the event */
      var risk_screen = new Dialog(null,{
        title: '评测内容',
        width: '680',
        needDestroy: true,
        hasBtn: true,
        btnText: ["确定"],
        btnRole: ['confirm'],
          confirm: function() {
            //确定按钮事件
            risk_screen.hide();
          },
        content: '<div class="dialog-content-risk">'+
                  '<div class="item">'+
                    '<h3>1.您的主要收入来源是</h3>'+
                    '<div class="options">'+
                    '<p class="current">A.工资、劳务报酬</p>'+
                    '<p>B．生产经营所得</p>'+
                    '<p>C．利息、股息、转让证券等金融性资产收入</p>'+
                    '<p>D．出租、出售房地产等非金融性资产收入</p>'+
                    '<p>E．无固定收入</p>'+
                    '</div>'+
                  '</div>'+
                  '<div class="item">'+
                    '<h3>2.以下描述中何种符合您的实际情况</h3>'+
                    '<div class="options">'+
                    '<p class="current">A. 现在或此前曾从事金融、经济或财会等与金融产品投资相关的工作超过两年</p>'+
                    '<p>B. 已取得金融、经济或财会等与金融产品投资相关专业学士以上学位</p>'+
                    '<p>C. 取得证券从业资格、期货从业资格、注册会计师证书（CPA）或注册金融分析师证书（CFA）中的一项及以上</p>'+
                    '<p>D. 我不符合以上任何一项描述</p>'+
                    '</div>'+
                  '</div>'+
                 '</div>'
      });
    });
    $('.info-table').on('click', '.review-detail', function(event) {
      //查看回访内容事件
      event.preventDefault();
      /* Act on the event */
      var review_screen = new Dialog(null,{
        title: '回访内容',
        width: '680',
        needDestroy: true,
        hasBtn: true,
        btnText: ["确定"],
        btnRole: ['confirm'],
          confirm: function() {
            //确定按钮事件
            review_screen.hide();
          },
        content: '<div class="dialog-content-review">'+
                  '<div class="item">'+
                    '<h3>1.请问您本次网上开户提交的开户申请，是您本人的意愿吗？</h3>'+
                    '<div class="options">'+
                    '<span class="current">是</span><span>否</span>'+
                    '</div>'+
                  '</div>'+
                  '<div class="item">'+
                    '<h3>1.请问您本次网上开户提交的开户申请，是您本人的意愿吗？</h3>'+
                    '<div class="options">'+
                    '<span class="current">是</span><span>否</span>'+
                    '</div>'+
                  '</div>'+
                  '<div class="item">'+
                    '<h3>1.请问您本次网上开户提交的开户申请，是您本人的意愿吗？</h3>'+
                    '<div class="options">'+
                    '<span class="current">是</span><span>否</span>'+
                    '</div>'+
                  '</div>'+
                  '<div class="item">'+
                    '<h3>1.请问您本次网上开户提交的开户申请，是您本人的意愿吗？</h3>'+
                    '<div class="options">'+
                    '<span class="current">是</span><span>否</span>'+
                    '</div>'+
                  '</div>'+
                  '<div class="item">'+
                    '<h3>1.请问您本次网上开户提交的开户申请，是您本人的意愿吗？</h3>'+
                    '<div class="options">'+
                    '<span class="current">是</span><span>否</span>'+
                    '</div>'+
                  '</div>'+
                 '</div>'
      });
    });
  });
</script>
