<div class="ui-log-table">
  <h2>操作流水</h2>
  <div class="main-table">
    <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
      <thead>
        <tr>
          <th width="20%">操作人</th>
          <th width="30%">操作</th>
          <th width="30%">操作内容</th>
          <th width="20%">操作时间</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>00002 张三 18900001111</td>
          <td>复核</td>
          <td>复核不通过 开户申请复核打回整改</td>
          <td>2014-12-14 14:23</td>
        </tr>
        <tr class="even">
          <td>00002 张三 18900001111</td>
          <td>复核</td>
          <td>复核不通过 开户申请复核打回整改</td>
          <td>2014-12-14 14:23</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
