<div class="ui-table-info">
  <div class="main-table">
    <h2 class="table-title">渠道信息</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td width="15%">开户类型</td>
          <td width="35%">开股东户</td>
          <td width="15%">经纪人姓名</td>
          <td width="35%">刘备（18900001111）</td>
        </tr>
        <tr>
          <td>接入方式</td>
          <td>手机开户</td>
          <td>开户营业部</td>
          <td>上海南路营业部</td>
        </tr>
        <tr>
          <td>渠道编码</td>
          <td colspan="3">23432D</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
