<div class="protocol-table-info">
  <h2>已签协议</h2>
  <div class="protocol-content">
    <a class="protocol-detail" href="javascript:void(0)">《柜台交易业务客户协议》</a>
    <a class="protocol-detail" href="javascript:void(0)">《中国银行存管协议》</a>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('.protocol-content').on('click', '.protocol-detail', function(event) {
      //查看协议内容事件
      event.preventDefault();
      /* Act on the event */
      var protocol_screen = new Dialog(null,{
        title: '协议内容',
        width: '680',
        needDestroy: true,
        hasBtn: true,
        btnText: ["确定"],
        btnRole: ['confirm'],
          confirm: function() {
            //确定按钮事件
            protocol_screen.hide();
          },
        content: '<div class="dialog-content-protocol">'+
                    '<div class="dialog-protocol">协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容协议内容</div>'+
                 '</div>'
      });
    });
  });
</script>
