<div class="ui-table-info">
  <div class="main-table">
    <h2 class="table-title">用户基本信息</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td>姓名</td>
          <td class="modify">张三</td>
          <td>国籍</td>
          <td class="modify">中国</td>
        </tr>
        <tr>
          <td>性别</td>
          <td class="modify">男</td>
          <td>年龄</td>
          <td class="modify">30</td>
        </tr>
        <tr>
          <td>身份证号</td>
          <td class="modify">213232333322222</td>
          <td>职业</td>
          <td class="modify">党政干部</td>
        </tr>
        <tr>
          <td>证件有效期</td>
          <td class="modify">2010.01.11-2020.01.11</td>
          <td>学历</td>
          <td class="modify">硕士</td>
        </tr>
        <tr>
          <td>发证机关</td>
          <td class="modify">滨江西行公安局</td>
          <td>邮编</td>
          <td class="modify">232333</td>
        </tr>
        <tr>
          <td>证件地址</td>
          <td class="modify">杭州市滨江区江陵路112号</td>
          <td>手机号码</td>
          <td class="modify">18900001111</td>
        </tr>
        <tr>
          <td>联系地址</td>
          <td class="modify">滨江西行公安局</td>
          <td>qq号</td>
          <td class="modify">232333</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
