<div class="ui-stock-info">
  <h2 class="table-title">上海A股</h2>
  <div class="main-table">
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td rowspan="4"><a class="status" href="#">下挂</a></td>
          <td>股东账号</td>
          <td>A12322323</td>
          <td>开户日期</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>一码通账号</td>
          <td>YMTZH322312312231223</td>
          <td>股东状态</td>
          <td>正常</td>
        </tr>
        <tr>
          <td>姓名</td>
          <td>张三</td>
          <td>指定单位</td>
          <td>指定</td>
        </tr>
        <tr>
          <td>证件号</td>
          <td>192323232123211321312</td>
          <td>关联关系确认标</td>
          <td>未指定</td>
        </tr>
      </tbody>
    </table>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td rowspan="4"><a class="status" href="#">下挂</a></td>
          <td>股东账号</td>
          <td>A12322323</td>
          <td>开户日期</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>一码通账号</td>
          <td>YMTZH322312312231223</td>
          <td>股东状态</td>
          <td>正常</td>
        </tr>
        <tr>
          <td>姓名</td>
          <td>张三</td>
          <td>指定单位</td>
          <td>指定</td>
        </tr>
        <tr>
          <td>证件号</td>
          <td>192323232123211321312</td>
          <td>关联关系确认标</td>
          <td>未指定</td>
        </tr>
        <tr>
          <td><a class="status" href="#">新开沪A账户</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <h2 class="table-title">深圳A股</h2>
  <div class="main-table">
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td rowspan="4"><a class="status" href="#">下挂</a></td>
          <td>股东账号</td>
          <td>A12322323</td>
          <td>开户日期</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>一码通账号</td>
          <td>YMTZH322312312231223</td>
          <td>股东状态</td>
          <td>正常</td>
        </tr>
        <tr>
          <td>姓名</td>
          <td>张三</td>
          <td>指定单位</td>
          <td>指定</td>
        </tr>
        <tr>
          <td>证件号</td>
          <td>192323232123211321312</td>
          <td>关联关系确认标</td>
          <td>未指定</td>
        </tr>
      </tbody>
    </table>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td rowspan="4"><a class="status" href="#">下挂</a></td>
          <td>股东账号</td>
          <td>A12322323</td>
          <td>开户日期</td>
          <td>2011-11-11</td>
        </tr>
        <tr>
          <td>一码通账号</td>
          <td>YMTZH322312312231223</td>
          <td>股东状态</td>
          <td>正常</td>
        </tr>
        <tr>
          <td>姓名</td>
          <td>张三</td>
          <td>指定单位</td>
          <td>指定</td>
        </tr>
        <tr>
          <td>证件号</td>
          <td>192323232123211321312</td>
          <td>关联关系确认标</td>
          <td>未指定</td>
        </tr>
        <tr>
          <td><a class="status" href="#">新开深A账户</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    //按钮交互
    $('.ui-stock-info').on('click', '.status', function(event) {
      event.preventDefault();
      /* Act on the event */
      $(this).parents('.main-table').find('.status').removeClass('current');
      $(this).addClass('current');
    });
  });
</script>
