<div class="ui-through-content">
  <div class="button-content">
    <a class="btn-lg btn-fill" href="{{ site.baseurl }}/configure-channel.html">审核通过并配置渠道</a>
    <button class="btn-lg ml-30 btn-primary verify-btn">需要整改</button>
  </div>
  <div class="no-through-content" style="display:none">
    <div class="no-through-inner">
      <div class="no-through-item">
        <span class="name">选择原因</span>
        <span>
          <select name="" id="result_1" class="diy-select">
            <option>身份证照片不合格</option>
            <option>基本资料有误</option>
            <option>用户中断</option>
            <option>头像照采集失败</option>
          </select>
        </span>
        <label>
          <span>备注：</span>
          <input type="text" class="input" maxlength="20">
        </label>
      </div>
      <div class="no-through-item">
        <span class="name">选择原因</span>
        <span>
          <select name="" id="result_2" class="diy-select">
            <option>身份证照片不合格</option>
            <option>基本资料有误</option>
            <option>用户中断</option>
            <option>头像照采集失败</option>
          </select>
        </span>
        <label>
          <span>备注：</span>
          <input type="text" class="input" maxlength="20">
        </label>
        <a class="delete" href="javascript:void(0)">删除</a>
      </div>
    </div>
    <a class="add-no-through" href="javascript:void(0)"><i></i>添加</a>
    <div class="button-content">
      <button class="btn-lg btn-fill" href="#">提交</button>
    </div>
  </div>
</div>
<script>
  $(function(){
    $('.diy-select').diySelect();
    /*
    $('.ui-through-content').on('click', '.verify-btn', function(event) {
      event.preventDefault();
      var through_screen = new Dialog(null,{
        title: '',
        width: '400',
        needDestroy: true,
        hasBtn: true,
        btnText: ["取消","确定"],
        btnRole: ['cancel','confirm'],
        btnCls: ['cancel','confirm'],
          confirm: function() {
            //确定按钮事件
            through_screen.hide();
          },
        content: '<h1 class="h-title">审核不通过后，系统将提示用户进行信息修改。是否确定审核不通过？</h1>'
      });
    });
  */
    $('.ui-through-content').on('click', '.verify-btn', function(event) {
      $('.no-through-content').show();
    });
    $('.ui-through-content').on('click', '.delete', function(event) {
      //删除不通过理由交互
      event.preventDefault();
      /* Act on the event */
      $(this).parent().remove();
    });
    var str = '<div class="no-through-item">'+
        '<span class="name">选择原因</span>\n'+
        '<span>'+
          '<select name="" id="result_3" class="diy-select">'+
            '<option>身份证照片不合格</option>'+
            '<option>基本资料有误</option>'+
            '<option>用户中断</option>'+
            '<option>头像照采集失败</option>'+
          '</select>'+
        '</span>\n'+
        '<label>'+
          '<span>备注：</span>\n'+
          '<input type="text" class="input">'+
        '</label>'+
        '<a class="delete" href="javascript:void(0)">删除</a>'+
      '</div>'+
    '</div>';
    $('.ui-through-content').on('click', '.add-no-through', function(event) {
      //添加不通过理由交互
      event.preventDefault();
      /* Act on the event */
      $('.no-through-inner').append(str);
      $('.diy-select').diySelect();
    });
  });

</script>
