<div class="ui-table-info">
  <div class="main-table">
    <h2 class="table-title">用户基本信息</h2>
    <div class="ui-user-basic-info">
      <table width="45%" cellpadding="0" cellspacing="0" class="info-table" id="user_basic_info">
        <thead>
          <tr>
            <td width="100"></td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>姓名</td>
            <td>张三</td>
          </tr>
          <tr>
            <td>性别</td>
            <td class="modify">
              <span class="name">男</span>
              <span class="select-info">
                <select name="" id="sex_list" class="diy-select" style="display: none;">
                  <option value="0" selected>请选择</option>
                  <option value="1">男</option>
                  <option value="2">女</option>
                </select>
              </span>
              <div class="edit select"><i class="edit-name"></i></div>
            </td>
          </tr>
          <tr>
            <td>年龄</td>
            <td>30</td>
          </tr>
          <tr>
            <td>身份证号</td>
            <td>213232333322222</td>
          </tr>
          <tr>
            <td>证件有效期</td>
            <td class="modify">
              <span class="name">2010.01.11-2020.01.11</span>
              <label class="w-170">
                <input type="text" class="txt">
              </label>
              <div class="edit input"><i class="edit-name"></i></div>
            </td>
          </tr>
          <tr>
            <td>移动电话</td>
            <td>18900001111</td>
          </tr>
          <tr>
            <td>证件地址</td>
            <td class="modify">
              <span class="name">杭州市滨江区江陵路112号</span>
              <label class="w-170">
                <input type="text" class="txt">
              </label>
              <div class="edit input"><i class="edit-name"></i></div></td>
          </tr>
          <tr>
            <td>发证机关</td>
            <td class="modify">
              <span class="name">滨江西行公安局</span>
              <label class="w-170">
                <input type="text" class="txt">
              </label>
              <div class="edit input"><i class="edit-name"></i></div></td>
          </tr>
          <tr>
            <td>联系地址</td>
            <td class="modify">
              <span class="name">滨江西行公安局</span>
              <label class="w-170">
                <input type="text" class="txt">
              </label>
              <div class="edit input"><i class="edit-name"></i></div></td>
          </tr>
          <tr>
            <td>固定电话</td>
            <td class="modify">
              <span class="name">18900001111</span>
              <label class="w-170">
                <input type="text" class="txt">
              </label>
              <div class="edit input"><i class="edit-name"></i></div></td>
          </tr>
          <tr>
            <td>国籍</td>
            <td class="modify">
              <span class="name">中国</span>
              <span class="select-info">
                <select name="" id="contury_list" class="diy-select" style="display: none;">
                  <option value="0" selected>请选择</option>
                  <option value="1">中国</option>
                  <option value="2">美国</option>
                </select>
              </span>
              <div class="edit select"><i class="edit-name"></i></div></td>
          </tr>
          <tr>
            <td>名族</td>
            <td class="modify">
              <span class="name">汉族</span>
              <span class="select-info">
                <select name="" id="nation_list" class="diy-select" style="display: none;">
                  <option value="1">汉族</option>
                  <option value="2">维吾尔族</option>
                </select>
              </span>
              <div class="edit select"><i class="edit-name"></i></div></td>
          </tr>
          <tr>
            <td>职业</td>
            <td class="modify">
              <span class="name">党政干部</span>
              <span class="select-info">
                <select name="" id="occupation_list" class="diy-select" style="display: none;">
                  <option value="1">党政干部</option>
                  <option value="2">群众</option>
                </select>
              </span>
              <div class="edit select"><i class="edit-name"></i></div></td>
          </tr>
          <tr>
            <td>学历</td>
            <td class="modify">
              <span class="name">党政干部</span>
              <span class="select-info">
                <select name="" id="eduction_list" class="diy-select" style="display: none;">
                  <option value="0" selected>请选择</option>
                  <option value="1">党政干部</option>
                  <option value="2">群众</option>
                </select>
              </span>
              <div class="edit select"><i class="edit-name"></i></div></td>
          </tr>
          <tr>
            <td>行业</td>
            <td class="modify">硕士<div class="edit select"><i class="edit-name"></i></div></td>
          </tr>
          <tr>
            <td>邮编</td>
            <td class="modify">
              <span class="name">232333</span>
              <label class="w-170">
                <input type="text" class="txt">
              </label>
              <div class="edit input"><i class="edit-name"></i></div></td>
          </tr>
          <tr>
            <td>QQ</td>
            <td class="modify">
              <span class="name">232333</span>
              <label class="w-170">
                <input type="text" class="txt">
              </label>
              <div class="edit input"><i class="edit-name"></i></div></td>
          </tr>
          <tr>
            <td>E-mail</td>
            <td class="modify"><span class="name">232333</span>
              <label class="w-170">
                <input type="text" class="txt">
              </label>
              <div class="edit input"><i class="edit-name"></i></div></td>
          </tr>
          <tr>
            <td>佣金套餐</td>
            <td>232333</td>
          </tr>
          <tr>
            <td>费率</td>
            <td>2%</td>
          </tr>
        </tbody>
      </table>
      <div class="basic-info-right">
        <div class="id-card-info">
          <div class="id-card-cont">
            <img src="/images/video/temp2.png" width="460" height="260">
            <div class="id-card-btn">
              <a href="#" title="逆时针旋转"><i class="icon clockwise"></i></a>
              <a href="#" title="顺时针旋转"><i class="icon anticlockwise"></i></a>
              <a href="#" title="编辑名称"><i class="icon edit"></i></a>
            </div>
          </div>
          <div class="id-card-cont">
            <img src="/images/video/temp3.png" width="460" height="260">
            <div class="id-card-btn">
              <a href="#" title="逆时针旋转"><i class="icon clockwise"></i></a>
              <a href="#" title="顺时针旋转"><i class="icon anticlockwise"></i></a>
              <a href="#" title="编辑名称"><i class="icon edit"></i></a>
            </div>
          </div>
        </div>
        {% include component/info/verify3.html %}
      </div>
    </div>
  </div>
</div>

<script>
$(function(){
    $('#user_basic_info').find('label').hide();
    $('#user_basic_info').find('.select-info').hide();
    $('.diy-select').diySelect();
    $('.modify').hover(function(){
        $(this).find('.edit').css('display','inline-block');
    },function(){
        $(this).find('.edit').hide();
    });
    $('.modify').on('click','.edit',function(){
        if($(this).hasClass('input')) {
          var _string = $(this).siblings('.name').text();
          $(this).siblings('label').children('.txt').val(_string) ;
          $(this).siblings('.name').hide();
          $(this).siblings('label').show();
          $(this).siblings('label').children('.txt').focus();
        } else if($(this).hasClass('select')) {
          $(this).siblings('.name').hide();
          $(this).siblings('.select-info').show();
        }
    });
    //select 下拉框选择时的效果
    $('#user_basic_info .diy-select').bind('change', function(event) {
      /* Act on the event */
      var _check_text = $(this).find("option:selected").text();
      $(this).parent().siblings('.name').text(_check_text);
      $(this).parent().hide();
      $(this).parent().siblings('.name').show();
    });
    //input失去焦点时的样子
    $('#user_basic_info .txt').blur(function(event) {
      /* Act on the event */
      var _value = $(this).val();
      $(this).parent().siblings('.name').text(_value);
      $(this).parent().hide();
      $(this).parent().siblings('.name').show();
    });
    //身份证编辑按钮效果
    $('.id-card-cont').on('click', '.edit', function(event) {
      event.preventDefault();
      /* Act on the event */
      var select_screen = new Dialog(null,{
              title: '更改图片名称',
              width: '300',
              needDestroy: true,
              hasBtn: true,
              btnText: ["确定"],
              btnRole: ['confirm'],
              confirm: function() {
                //确定按钮事件
                select_screen.hide();
              },
              content: '<div class="dialog-content-select">'+
                          '<select id="identity" class="diy-select">'+
                            '<option value="1">身份证正面照片</option>'+
                            '<option value="2">身份证反面照片</option>'+
                          '</select>'+
              '</div>'
            });
      $('.diy-select').diySelect();
    });
});


/*$(function(){
    var el = $('.modify');
    var changeMode = el.attr("data-role");
    var c = $('.edit');
    c.click(function(){
        var url ="{{site.baseurl}}/data.json" ;
        $.ajax({
            url:url,
            dataType:"json",
            type:"GET",
            success:function(data){
                d = data;
                console.log(typeof d);
                el.each(function(index){
                    var mode = el.eq(index).attr("data-role");
                    var _type = el.eq(index).attr("data-type");
                    var that=el.eq(index);
                    if(mode == "normal"){
                        setNormal(that);
                    }
                    else if(mode == "list"){
                        console.log(_type)
                        if(!(_type == undefined)){
                            setList(that,_type,d[_type])
                        }
                    }
                })
            }
        })

    })
    //定义普通修改
    function setNormal(el){
        var value = $(el).text() || $(el).val();
        var str = "<label class='w-320'><input type='text' class='txt' value="+value+"></label>";
        return $(el).html(str);
    }
    //定义特殊修改项
    function setList(el,type,data){
        var options= "";
        if(type == "time"){
            var str="<label class='time'><input class='txt begin-time' type='text' placeholder='开始时间'><i></i></label><span class='pre'>至</span><label class='time'><input class='txt end-time' type='text' placeholder='截止时间'><i></i></label>";
            $(el).html(str);
            $('.begin-time').datepicker({
            onClose: function( selectedDate ) {
                $('.end-time').datepicker( "option", "minDate", selectedDate );
                }
            });
            $('.end-time').datepicker({
                onClose: function( selectedDate ) {
                    $('.begin-time').datepicker( "option", "maxDate", selectedDate );
            }
        });
        }
        else{
            for(var i = 0;i<data.length;i++){
                options += "<option value="+(i+1)+">"+data[i].name+"</option>"
            };
            var str = "<span><select name='' id="+"'"+type+"'"+" class='diy-select' style='display: none'>"+options+"</select></span>";
            $(el).html(str);
            $('#'+type).diySelect();
        }
    }
})*/


</script>
