<div class="ui-table-info">
  <div class="main-table">
    <h2 class="table-title">用户基本信息</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td>姓名</td>
          <td class="modify">张三<div class="edit input"><i class="edit-name"></i></div></td>
          <td>国籍</td>
          <td class="modify">中国<div class="edit"><i class="edit-name"></i></div></td>
        </tr>
        <tr>
          <td>性别</td>
          <td class="modify">男<div class="edit radio"><i class="edit-name"></i></div></td>
          <td>年龄</td>
          <td class="modify" >30<div class="edit"><i class="edit-name"></i></div></td>
        </tr>
        <tr>
          <td>身份证号</td>
          <td class="modify">213232333322222<div class="edit"><i class="edit-name"></i></div></td>
          <td>职业</td>
          <td class="modify">党政干部<div class="edit"><i class="edit-name"></i></div></td>
        </tr>
        <tr>
          <td>证件有效期</td>
          <td class="modify">2010.01.11-2020.01.11<div class="edit select"><i class="edit-name"></i></div></td>
          <td>学历</td>
          <td class="modify">硕士<div class="edit"><i class="edit-name"></i></div></td>
        </tr>
        <tr>
          <td>发证机关</td>
          <td class="modify">滨江西行公安局<div class="edit"><i class="edit-name"></i></div></td>
          <td>邮编</td>
          <td class="modify">232333<div class="edit"><i class="edit-name"></i></div></td>
        </tr>
        <tr>
          <td>证件地址</td>
          <td class="modify">杭州市滨江区江陵路112号<div class="edit"><i class="edit-name"></i></div></td>
          <td>手机号码</td>
          <td class="modify">18900001111<div class="edit"><i class="edit-name"></i></div></td>
        </tr>
        <tr>
          <td>联系地址</td>
          <td class="modify">滨江西行公安局<div class="edit"><i class="edit-name"></i></div></td>
          <td>qq号</td>
          <td class="modify">232333<div class="edit"><i class="edit-name"></i></div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
$(function(){
    $('.modify').hover(function(){
        $(this).find('.edit').css('display','inline-block');
    },function(){
        $(this).find('.edit').hide();
    });
    $('.modify').on('click','.edit',function(){
        if($(this).hasClass('input')) {
            var input_screen = new Dialog(null,{
              title: '',
              width: '450',
              needDestroy: true,
              hasBtn: true,
              btnText: ["确定"],
              btnRole: ['confirm'],
              confirm: function() {
                //确定按钮事件
                input_screen.hide();
              },
              content: '<div class="dialog-content-input dialog-center">'+
              '<span>'+$(this).parent().prev().text()+'：</span>'+
              '<input type="text" class="txt" value="'+$(this).parent().prev().text()+'">'+
              '</div>'
            });
          } else if($(this).hasClass('radio')) {
            var radio_screen = new Dialog(null,{
              title: '',
              width: '400',
              needDestroy: true,
              hasBtn: true,
              btnText: ["确定"],
              btnRole: ['confirm'],
              confirm: function() {
                //确定按钮事件
                radio_screen.hide();
              },
              content: '<div class="dialog-content-radio dialog-center">'+
              '<span>'+$(this).parent().prev().text()+'：</span>'+
              '<label><input type="radio" name="sex" checked="checked">男</label>'+
              '<label><input type="radio" name="sex">女</label>'+
              '</div>'
            });
          } else if($(this).hasClass('select')) {
            var select_screen = new Dialog(null,{
              title: '',
              width: '450',
              needDestroy: true,
              hasBtn: true,
              btnText: ["确定"],
              btnRole: ['confirm'],
              confirm: function() {
                //确定按钮事件
                select_screen.hide();
              },
              content: '<div class="dialog-content-select dialog-center">'+
              '<span>'+$(this).parent().prev().text()+'：</span>'+
              '<input type="text" class="txt" id="beginTime" value="2015-07-21">'+
              '<span> 至 </span>'+
              '<input type="text" class="txt" id="endTime" value="2015-07-21">'+
              '</div>'
            });
            $('#beginTime').datepicker({
              onClose: function( selectedDate ) {
                $('#endTime').datepicker( "option", "minDate", selectedDate );
              }
            });
            $('#endTime').datepicker({
              onClose: function( selectedDate ) {
                  $('#beginTime').datepicker( "option", "maxDate", selectedDate );
                }
            });
          }
    })
})


/*$(function(){
    var el = $('.modify');
    var changeMode = el.attr("data-role");
    var c = $('.edit');
    c.click(function(){
        var url ="{{site.baseurl}}/data.json" ;
        $.ajax({
            url:url,
            dataType:"json",
            type:"GET",
            success:function(data){
                d = data;
                console.log(typeof d);
                el.each(function(index){
                    var mode = el.eq(index).attr("data-role");
                    var _type = el.eq(index).attr("data-type");
                    var that=el.eq(index);
                    if(mode == "normal"){
                        setNormal(that);
                    }
                    else if(mode == "list"){
                        console.log(_type)
                        if(!(_type == undefined)){
                            setList(that,_type,d[_type])
                        }
                    }
                })
            }
        })

    })
    //定义普通修改
    function setNormal(el){
        var value = $(el).text() || $(el).val();
        var str = "<label class='w-320'><input type='text' class='txt' value="+value+"></label>";
        return $(el).html(str);
    }
    //定义特殊修改项
    function setList(el,type,data){
        var options= "";
        if(type == "time"){
            var str="<label class='time'><input class='txt begin-time' type='text' placeholder='开始时间'><i></i></label><span class='pre'>至</span><label class='time'><input class='txt end-time' type='text' placeholder='截止时间'><i></i></label>";
            $(el).html(str);
            $('.begin-time').datepicker({
            onClose: function( selectedDate ) {
                $('.end-time').datepicker( "option", "minDate", selectedDate );
                }
            });
            $('.end-time').datepicker({
                onClose: function( selectedDate ) {
                    $('.begin-time').datepicker( "option", "maxDate", selectedDate );
            }
        });
        }
        else{
            for(var i = 0;i<data.length;i++){
                options += "<option value="+(i+1)+">"+data[i].name+"</option>"
            };
            var str = "<span><select name='' id="+"'"+type+"'"+" class='diy-select' style='display: none'>"+options+"</select></span>";
            $(el).html(str);
            $('#'+type).diySelect();
        }
    }
})*/


</script>
