<div class="ui-table-info">
  <h2 class="table-title">认证资料</h2>
  <table width="100%" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>姓名</td>
        <td>张三</td>
        <td>身份证号码</td>
        <td>310123199009099911</td>
      </tr>
      <tr>
        <td>性别</td>
        <td>男</td>
        <td>营业部执照副本照片</td>
        <td rowspan="3"><img class="license" src="../images/license.jpg" alt="license" title="查看大图"></td>
      </tr>
      <tr>
        <td>所属企业</td>
        <td>XX证券</td>
      </tr>
      <tr>
        <td>员工编号</td>
        <td>131212312</td>
      </tr>
      <tr>
        <td>所属营业部</td>
        <td>招商证券文三路营业厅</td>
      </tr>
      <tr>
        <td>执业证书编号</td>
        <td>2312321321</td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(function(){
    $('.license').on('click', function(event) {
      //点击图片出现大图交互
      event.preventDefault();
      var img_big_screen = new Dialog(null,{
        title: '',
        width: '680',
        needDestroy: true,
        hasBtn: true,
        btnText: ["取消","保存"],
        btnRole: ['cancel','confirm'],
        btnCls: ['cancel','confirm'],
        confirm: function() {
              //确定按钮事件
              img_big_screen.hide();
            },
            content: '<div class="dialog-content-bigimg">'+
                        '<div class="big-img">'+
                          '<img alt="img" src="/images/license.jpg" width="350" height="300">'+
                        '</div>'+
                        '<div class="operate-img">'+
                          '<div class="turn-content">'+
                            '<a href="javascript:void(0)"><i></i>旋转</a>'+
                          '</div>'+
                        '</div>'+
                      '</div>'
      });
    });
  });
</script>
