<div class="ui-verify-table">
  <div class="back">
    <p class="v-title">身份证反面</p>
    <img class="big-img" src="/images/video/temp3.png" width="120" height="80">
  </div>
  <div class="front">
    <p class="v-title">身份证正面</p>
    <img class="big-img" src="/images/video/temp2.png" width="120" height="80">
  </div>
  <div class="face">
    <p class="v-title">免冠照片</p>
    <img class="big-img" src="/images/video/temp5.png" width="120" height="80">
  </div>
  <div class="verify">
    <p class="v-title">公安认证</p>
    <div class="verify-inner">
      <img class="big-img" src="/images/video/temp6.png" width="74" height="80">
      <div class="verify-txt">
        <p class="info">姓名一致，身份证一致</p>
        <p class="through">身份证验证通过</p>
        <a href="javascript:void(0)" class="btn-fill btn-lw verfity-btn">公安认证</a>
      </div>
    </div>
  </div>
  <div class="contrast">
    <a class="contrast-btn" href="#">大图对比</a>
  </div>
  <div class="video">
    <p class="v-title">存档视频</p>
    <div class="video-inner">
      <img class="play" src="/images/video/temp4.jpg">
      <div class="video-txt">
        <p class="info">验证码</p>
        <p class="verify-code">123456</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('.ui-verify-table').on('click', '.big-img', function(event) {
      //点击图片出现大图交互
      event.preventDefault();
      var img_big_screen = new Dialog(null,{
        title: '',
        width: '680',
        needDestroy: true,
        hasBtn: true,
        btnText: ["取消","保存"],
        btnRole: ['cancel','confirm'],
        btnCls: ['cancel','confirm'],
        confirm: function() {
              //确定按钮事件
              img_big_screen.hide();
            },
            content: '<div class="dialog-content-bigimg">'+
            '<div class="big-img">'+
            '<img alt="img" src="/images/video/temp5.png" width="350" height="350">'+
            '</div>'+
            '<div class="operate-img">'+
            '<div class="turn-content">'+
            '<a href="javascript:void(0)"><i></i>旋转</a>'+
            '</div>'+
            '<div>'+
            '<select id="identity" class="diy-select">'+
            '<option value="1">身份证正面</option>'+
            '<option value="2">身份证反面</option>'+
            '</select>'+
            '</div>'+
            '</div>'+
            '</div>'
      });
      $('#identity').diySelect();
    });
    $('.contrast').on('click', '.contrast-btn', function(event) {
      //大图对比按钮交互
      event.preventDefault();
      var contrast_screen = new Dialog(null,{
        title: '',
        width: '680',
        needDestroy: true,
        hasBtn: false,
        content: '<div class="dialog-content-contrast">'+
        '<div class="item">'+
        '<img class="left-img" src="/images/video/temp2.png" alt="img" width="284" height="214">'+
        '<img class="right-img" src="/images/video/temp3.png" alt="img" width="284" height="214">'+
        '</div>'+
        '<div class="item">'+
        '<img class="left-img" src="/images/video/temp5.png" alt="img" width="250" height="200">'+
        '<img class="right-img" src="/images/video/temp6.png" alt="img" width="250" height="200">'+
        '</div>'+
        '</div>'
      });
    });
    $('.ui-verify-table').on('click', '.play', function(event) {
      //视频播放
      event.preventDefault();
      /* Act on the event */
      DIALOG.show({
        dragable:true,
        width:550,
        title:'视频播放',
        html: '<div>此处为后台人员所加的flash</div>'
      });
    });
  });
</script>
