<div class="ui-table-info">
  <h2 class="table-title">认证资料</h2>
  <table width="100%" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
      <td width="15%">姓名</td>
      <td width="35%">张三</td>
      <td width="15%">身份证号</td>
      <td width="35%">512938290332243</td>
    </tr>
    <tr>
      <td>性别</td>
      <td>男</td>
      <td>身份证照片</td>
      <td rowspan="2">
        <img class="td-card-img" src="../../images/pic-font.png" />
        <img class="td-card-img" src="../../images/pic-back.png" />
      </td>
    </tr>
    <tr>
      <td>所属企业</td>
      <td>财通证券</td>
    </tr>
    </tr>
    <tr>
      <td>员工编号</td>
      <td>200210032</td>
    </tr>
    <tr>
      <td>所属营业部</td>
      <td>招商证券文三路营业厅</td>
    </tr>
    <tr>
      <td>执业证书编号</td>
      <td>00009527</td>
    </tr>
    </tbody>
  </table>
</div>
