<div class="ui-verify-table">
  <div class="face">
    <p class="v-title">免冠照片</p>
    <img class="big-img" src="/images/video/temp5.png" width="185" height="125">
  </div>
  <div class="verify">
    <p class="v-title">公安认证</p>
    <div class="verify-inner">
      <img class="big-img" src="/images/video/temp6.png" width="74" height="80">
      <div class="verify-txt">
        <p class="info">姓名一致，身份证一致</p>
        <p class="through">身份证验证通过</p>
        <a href="javascript:void(0)" class="btn btn-fill btn-lw verfity-btn">公安认证</a>
      </div>
    </div>
  </div>
  <div class="video">
    <p class="v-title">存档视频</p>
    <div class="video-inner">
      <img class="play" src="/images/video/temp4.jpg">
      <div class="video-txt">
        <p class="info">00:00:30</p>
        <p class="verify-code">小黄</p>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('.ui-verify-table').on('click', '.big-img', function(event) {
      //点击图片出现大图交互
      event.preventDefault();
      DIALOG.show({
        dragable:true,
        width:680,
        title:'',
        mask: false,
        hasBtn: true,
        btnText: ["取消","保存"],
        btnEvent: ["DIALOG.hide()", "DIALOG.hide()"],
        btnCls: ['btn-cancel','btn-confirm  ml-30'],
        html: '<div class="dialog-content-bigimg">'+
            '<div class="big-img">'+
            '<img alt="img" src="/images/video/temp5.png" width="350" height="350">'+
            '</div>'+
            '<div class="operate-img">'+
            '<div class="turn-content">'+
            '<a href="javascript:void(0)"><i></i>旋转</a>'+
            '</div>'+
            '<div>'+
            '<select id="identity" class="diy-select">'+
            '<option value="1">身份证正面</option>'+
            '<option value="2">身份证反面</option>'+
            '</select>'+
            '</div>'+
            '</div>'+
            '</div>'
          });
      $('#identity').diySelect();
    });
    $('.ui-verify-table').on('click', '.play', function(event) {
      //视频播放
      event.preventDefault();
      /* Act on the event */
      DIALOG.show({
        dragable:true,
        width:550,
        title:'视频播放',
        html: '<div>此处为后台人员所加的flash</div>'
      });
    });
  });
</script>
