/**
 * Reset some basic elements
 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  padding: 0;
  margin: 0;
}



/**
 * Basic styling
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
a {
  text-decoration: none;
}
a img {
  border: 0 none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.caption {
  margin-bottom: 14px;
  height: 30px;
  line-height: 30px;
}
input::-webkit-input-placeholder { /* WebKit browsers */
  font-family: "Microsoft YaHei",Helvetica, Arial, sans-serif;
  color: #b5bdc3;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: "Microsoft YaHei",Helvetica, Arial, sans-serif;
  color: #b5bdc3;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: "Microsoft YaHei",Helvetica, Arial, sans-serif;
  color: #b5bdc3;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-family: "Microsoft YaHei",Helvetica, Arial, sans-serif;
  color: #b5bdc3;
}
input:focus {
  border: 1px solid #4dc1e8;
  -webkit-box-shadow: -2px 0 3px #4dc1e8;
  -moz-box-shadow: -2px 0 3px #4dc1e8;
  box-shadow: -2px 0 3px #4dc1e8;
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



body {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url('../images/login-back.jpg') center 0 no-repeat;
  font-family: "Microsoft YaHei",Helvetica, Arial, sans-serif;
	.login-box {
		position: relative;
		top: 50%;
		left: 50%;
		width: 562px;
		height: 358px;
		background: url('../images/login-box.png') 0 0 no-repeat;
		margin: -179px 0px 0px -281px;
    *margin-top: 0px;
		@extend %clearfix;
    .logo-content {
      width: 236px;
      float: left;
      text-align: center;
      margin-top: 140px;
    }
    .login-content {
      float: right;
      width: 326px;
      text-align: center;
      margin-top: 55px;
      label {
        position: relative;
        display: block;
        .input {
          border: 1px solid #dedede;
          height: 43px;
          line-height: 43px;
          width: 250px;
          font-size: 16px;
          color: #b5bdc3;
          &.code {
            width: 130px;
          }
        }
      }
      .number-main {
        margin-bottom: 20px;
        input {
          text-indent: 40px;
        }
        i {
          position: absolute;
          top: 9px;
          left: 43px;
          width: 24px;
          height: 25px;
          display: inline-block;
          vertical-align: middle;
          background: url('../images/icolist.png') 0 -50px no-repeat;
        }
      }
      .password-main {
        margin-bottom: 20px;
        input {
          text-indent: 40px;
        }
        i {
          position: absolute;
          top: 7px;
          left: 43px;
          width: 24px;
          height: 28px;
          display: inline-block;
          vertical-align: middle;
          background: url('../images/icolist.png') -30px -50px no-repeat;
        }
      }
      .code-main {
        margin-bottom: 20px;
        text-align: left;
        margin-left: 40px;
        input {
          text-indent: 10px;
        }
        img {
          position: absolute;
          top: 0px;
          right: 38px;
          cursor: pointer;
        }
        .error {
          span {
            right: 163px;
          }
        }
      }
      .btn.login {
        width: 250px;
        height: 45px;
        text-align: center;
        display: block;
        color: #fff;
        background: #f65a22;
        font-size: 18px;
        line-height: 45px;
        margin-left: 40px;
      }
      .error {
        input.input {
          border: 1px solid #f66570;
        }
        span {
          position: absolute;
          top: 15px;
          right: 45px;
          width: 15px;
          height: 15px;
          display: inline-block;
          vertical-align: middle;
          background: url('../images/icolist.png') -60px -30px no-repeat;
        }
      }      
    }
	}
  .footer {
    position: absolute;
    left: 0px;
    bottom: 30px;
    width: 100%;    
    p {
      text-align: center;
      font-size: 12px;
      color: #5d5454;
    }
  }
}