// html {
//   height: 100%;
//   width: 100%;
// }

// 加载
.shadow-div {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 62px;
  left: 0;
  z-index: 20160615;
  display: none;
  .loading-img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    z-index: 2016061501;
    background: url('../images/cftrade/loading.gif') no-repeat;
  }
}

// right comm css
.search-btn {
  position: absolute;
  right: 15px;
  top: 30px;
  a {
    color: #6f7b91;
    font-size: 12px;
    i {
      display: inline-block;
      width: 13px;
      height: 8px;
      vertical-align: middle;
      background: url(../images/icolist.png) -81px -50px no-repeat;
      margin: 0px 0px 3px 10px;
    }
    &.open {
      i {
        background: url(../images/icolist.png) -80px -65px no-repeat;
      }
    }
  }
}

.algin-center {
  text-align: center;
  margin: 25px auto;
}

.align-right {
  position: relative;
  min-height: 30px;
  margin-top: 20px;
  button {
    position: absolute;
    right: 15px;
    top: 0px;
  }
}

.tab-content {
  .tab {
    width: 100%;
    height: 38px;
    a {
      float: left;
      display: inline-block;
      width: 50%;
      height: 38px;
      line-height: 38px;
      font-size: 14px;
      color: #3a3d42;
      background: #e1e6ef;
      text-align: center;
      &.active {
        color: #fff;
        background: #3f88cc;
      }
    }
  }
  &.margin-tab {
    margin-top: 15px;
  }
}

.detail-btn {
  color: #3f88cc;
}

.select-mode {
  width: 550px;
  margin: 10px auto 20px auto;
  label {
    input {
      vertical-align: middle;
      margin-right: 10px;
    }
  }
}

.p-right {
  position: absolute;
  top: 30px;
  right: 20px;
}

.search-group {
  position: relative;
  .search-dl {
    display: inline-block;
    margin: 10px 5px 0 0;
    vertical-align: top;
    dt {
      font-size: 14px;
      color: #6f7b91;
      display: block;
      line-height: 20px;
      margin-bottom: 5px;
    }
  }
}

.button-content {
  position: relative;
  text-align: center;
  margin: 20px 0;
  .output {
    position: absolute;
    top: 15px;
    right: 20px;
    min-width: 70px;
  }
  .output2 {
    position: absolute;
    top: 15px;
    right: 130px;
    min-width: 70px;
  }
}

.ui-reason-content {
  border: 1px solid #f0f5fb;
  padding: 10px 0;
  .name {
    display: inline-block;
    color: #6f7b91;
    padding-left: 10px;
    width: 200px;
  }
  .reason {
    color: #3a3d42;
  }
}

.clearfix {
  @include clearfix;
}

.clearfix1 {
  overflow: hidden;
  zoom: 1;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.font-red {
  color: $color-red;
}

tbody {
  tr {
    .modify {
      .edit {
        margin-left: 10px;
        display: inline-block;
        cursor: pointer;
        display: none;
        .edit-name {
          display: inline-block;
          vertical-align: middle;
          content: "";
          font-size: 0;
          width: 15px;
          height: 16px;
          background: url(../images/video/video-list.png) 0 -95px no-repeat;
        }
      }
      .w-320 {
        width: 80%;
        .txt {
          width: 100%;
        }
      }
      .time {
        width: 36%;
        width: calc((80% - 22px) / 2);
        .txt {
          width: 100%;
        }
      }
      > span {
        .js-select {
          width: 79%;
          width: calc(80% - 20px);
          width: -webkit-calc(80% - 20px);
        }
        .js-option {
          min-width: 411px;
        }
      }
    }
  }
}

// 返回按钮
.ui-back-content {
  .back-btn {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 16px;
    color: #3f88cc;
    text-decoration: underline;
  }
}

// 统计块色块
.usernum-content {
  table {
    width: 100%;
    p {
      line-height: 40px;
      height: 40px;
      text-align: center;
      width: 100%;
      font-size: 30px;
      color: #fff;
      @include border-radius(8px 8px 0 0);
    }
    h2 {
      line-height: 30px;
      height: 30px;
      font-size: 14px;
      text-align: center;
      width: 100%;
      background: #fff;
    }
    td {
      padding: 0 10px;
      &.tody {
        p {
          background: #63a9ff;
        }
        h2 {
          color: #63a9ff;
        }
      }
      &.month {
        p {
          background: #b897f3;
        }
        h2 {
          color: #b897f3;
        }
      }
      &.sum {
        p {
          background: #e4788c;
        }
        h2 {
          color: #e4788c;
        }
      }
    }
  }
  .refresh-content {
    text-align: right;
    margin-top: 20px;
    .refresh-btn {
      margin-left: 10px;
    }
  }
}

.table-title {
  display: inline-block;
}

.list-close {
  height: 80px;
  overflow: hidden;
}

table.czls-style {
  background: #f0f5fb;
  font-size: 14px;
  thead td {
    padding: 15px 10px;
    font-weight: 600;
    color: #292828;
  }
}

.list-close {
  height: 80px;
  overflow: hidden;
}

.ui-table-info table.czls-style tbody td:nth-child(1) {
  width: 20%;
}

.ui-table-info table.czls-style tbody td:nth-child(2) {
  width: 20%;
}

.ui-table-info table.czls-style tbody td:nth-child(3) {
  width: 45%;
}

.ui-table-info table.czls-style tbody td:nth-child(4) {
  width: 15%;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #f00;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #ccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #ccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

// edit by wushang at 20161027
/*
下面这个是导航选择，比如营业部排名(home-rank-depart.html)的A++类，A+类
*/
.rank-depart-tab {
  height: 37px;
  margin-bottom: 13px;
  border-bottom: 1px solid #f0f4fb;
  ul {
    float: left;
    li {
      font-size: 14px;
      line-height: 35px;
      float: left;
      padding: 0 10px;
      text-align: center;
      cursor: pointer;
      &.active {
        color: #f1374d;
        border-bottom: 2px solid #f1374d;
      }
    }
  }
  .rank-depart-time {
    margin-top: 10px;
    color: #999999;
    float: right;
  }
  .nav-right {
    color: #999999;
    height: 30px;
    @include box-sizing(border-box);
    padding: 2px 7px;
    float: right;
    font-size: 14px;
  }
  .nav-mostright {
    color: #999999;
    height: 30px;
    @include box-sizing(border-box);
    padding: 2px 7px;
    float: right;
    border-right: 1px solid #c3c7cd;
    font-size: 14px;
  }
}

/*
上面这个是导航选择，比如营业部排名的A++类，A+类
*/

/*
下面这个是每个模块的标题，比如某数据趋势（rank-depart-detail-trend.html）的每个模块的标题
*/
.title {
  font-size: 16px;
  height: 50px;
  line-height: 50px;
}

/*
上面这个是每个模块的标题，比如某数据趋势（rank-depart-detail-trend.html）的每个模块的标题
*/

input[type="text"] {
  height: 28px;
  width: 106px;
  line-height: 28px;
  background-color: white;
  border: 1px solid #e8e8e8;
  @include border-radius(0);
  padding-left: 7px;
}

/*下面是下拉选择框修改*/

/*下面是勾选框 */
.attr-panl {
  text-align: center;
  min-width: 20px;
  a {
    color: #333333;
    font-size: 12px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.param-checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: 3px;
  vertical-align: top;
  cursor: pointer;
  background: url(../images/cftrade/checkbox-check.png) 0 0 no-repeat;
  &.checkbox-checked {
    background: url(../images/cftrade/checkbox-checked.png) 0 0 no-repeat;
    background-size: 100%;
  }
}

.param-null {
  margin-right: 28px;
}

/*上面是勾选框*/

/*下面是日期框*/
.time-input {
  float: left;
  position: relative;
  .time-title {
    line-height: 30px;
    margin-right: 15px;
  }
  i {
    position: absolute;
    top: 13px;
    right: 16px;
    display: inline-block;
    width: 13px;
    height: 8px;
    vertical-align: middle;
    background: url(../images/icolist.png) -80px -30px no-repeat;
  }
}

/*上面是日期框
*/

.time-show {
  float: right;
  font-size: 14px;
}

.nav-offer {
  padding-left: 20px;
  border: 1px solid #dbe6f4;
  @include box-sizing(border-box);
  margin-bottom: 20px;
  .nav-offer-title {
    height: 48px;
    ul {
      li {
        float: left;
        width: 25%;
        text-align: center;
        padding-top: 13px;
        p {
          float: left;
        }
        .icon-bigrise {
          float: left;
          width: 10px;
          height: 17px;
          background: url(../images/icon/icon-bigrise.png) 0 0 no-repeat;
          display: inline-block;
          margin-top: 6px;
          margin-left: 2px;
        }
      }

      .importanrmessage {
        color: rgb(111, 123, 145);
        font-weight: bold;
        font-size: 18px;
        .text-bigred {
          font-size: 18px;
          color: #ff5875;
        }
      }
      .importanrmessage1 {
        font-size: 16px;
        color: rgb(134, 144, 161);
        .text-bigred {
          color: #ff5875;
        }
      }
    }
  }
  .nav-offer-text {
    height: 35px;
    font-size: 14px;
    color: #cbc9c9;
    i {
      float: left;
      margin-top: 5px;
    }
    p {
      float: left;
    }
    .problem {
      width: 12px;
      height: 12px;
      background: url(../images/icon/icon-problem.png) 0 0 no-repeat;
      display: inline-block;
    }
  }
}

/*表格上面的工具栏样式*/
.task-search {
  font-size: 12px;
  margin-bottom: 15px;
  .search-dl {
    float: right;
    margin-right: 10px;
    input[type="text"] {
      width: 128px;
    }
  }
  .upload-span {
    color: $color-blue;
    cursor: pointer;
    margin-left: 45px;
    float: left;
    line-height: 32px;
  }
  .download-span {
    color: $color-blue;
    cursor: pointer;
    margin-left: 45px;
    float: left;
    line-height: 32px;
  }
  .more-btn {
    color: #007bff;
    float: right;
    line-height: 30px;
    cursor: pointer;
    margin-left: 13px;
  }
  input[type="text"] {
    font-size: 12px;
    width: 180px;
    &.aql-input {
      float: right;
      margin-right: 10px;
      outline: none;
      @include border-radius(3px);
    }
  }
}

/*
   下面是表格的一些按钮
   */

.footer-select {
  background-color: $bg-color;
  padding: 5px 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -15px;
  @include box-sizing(border-box);
  .attr-panl {
    float: left;
    height: 30px;
    line-height: 30px;
    a {
      color: #333333;
      font-size: 12px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .param-checkbox {
        vertical-align: top;
        margin: 7px 5px 0 0;
      }
    }
  }
  button {
    float: left;
    margin-left: 14px;
    background-color: white;
    line-height: 28px;
    width: 70px;
    font-size: 12px;
    color: #333333;
    cursor: pointer;
    outline: none;
    @include border-radius(3px);
    opacity: .9;
    &:hover {
      color: #111111;
      opacity: 1;
    }
    &:active {
      color: #333333;
      opacity: .9;
    }
  }
}

/*
上面是表格的一些按钮
*/
/*下面是弹窗的补充*/
.js-dialog {
  .js-dialog-bd {
    color: $font-color;
    padding-bottom: 20px;
    div {
      // line-height: 24px;
    }
    span.js-select {
      background: transparent;
      border: 1px solid $gaplinecolor;
      width: 222px;
    }
    .attr-panl {
      a {
        margin-right: 34px;
        color: #333333;
        font-size: 12px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .param-checkbox {
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 18px;
          margin-right: 10px;
          background: url(../images/cftrade/checkbox-check.png) 0 0 no-repeat;
        }
        &.current {
          .param-checkbox {
            background: url(../images/cftrade/checkbox-checked.png) 0 0 no-repeat;
            background-size: 100%;
          }
        }
      }
    }
    .form-add {
      .form-group {
        color: #9e9e9e;
        text-align: left;
        .important-label {
          font-weight: bold;
          color: $font-color;
        }
        input {
          width: 200px;
          margin-left: 5px;
        }
        textarea {
          width: 270px;
          margin-left: 5px;
        }
        .select-label {
          width: auto;
        }
        .time-last {
          padding: 5px;
        }
        .label {
          width: 95px;
        }
        &.time-group {
          .aql-label {
            width: 135px;
            .aql-input {
              width: 108px;
              margin-left: 0;
            }
          }
        }
        &.textarea-group {
          .label {
            vertical-align: top;
          }
          .aql-label {
            width: 320px;
            .attr-panl {
              line-height: 37px;
            }
          }
          textarea {
            width: 260px;
            height: 79px;
            padding: 7px 13px;
            border: 1px solid #e8e8e8;
            &.long-textarea {
              width: 381px;
            }
          }
        }
        .warin-message {
          width: 290px;
          display: inline-block;
          text-align: left;
        }
        .set-time {
          width: 410px;
          line-height: 47px;
          background-color: $bg-color;
          font-size: 12px;
          color: $font-color;
          .reset-div {
            display: inline-block;
            margin-left: 5px;
            input {
              width: 64px;
            }
            .reset-btn {
              cursor: pointer;
              color: $color-blue;
              margin-left: 20px;
            }
          }
          .time-title {
            display: inline-block;
            width: 57px;
            text-align: right;
          }
          .hour-div {
            display: inline-block;
            height: 39px;
            width: 200px;
            margin-left: 10px;
            margin-right: 8px;
            vertical-align: inherit;
            input {
              width: 74px;
              padding: 0 5px;
              margin: 0;
            }
          }
          .refresh-time {
            height: 28px;
            width: 25px;
            margin: 8px;
            padding: 0 5px;
          }
        }
      }
      .btn-wrap {
        padding-top: 21px;
      }
    }
    .form-delete {
      .form-group {
        line-height: 30px;
        font-size: 16px;
        text-align: center;
      }
      .btn-wrap {
        .btn-confirm, .btn-cancel {
          margin: 0 36px;
        }
      }
    }
    .btn-wrap {
      padding-top: 31px;
      .btn-confirm {
        width: 72px;
        line-height: 28px;
        background-color: $theme-color;
        @include box-sizing(border-box);
        border: 1px solid $theme-color;
        margin: 0 9px;
        font-size: 14px;
        cursor: pointer;
      }
      .btn-cancel {
        width: auto;
        min-width: 72px;
        height: 30px;
        line-height: 30px;
        @include box-sizing(border-box);
        border: 1px solid #e8e8e8;
        color: #646e7c;
        margin: 0 9px;
        font-size: 14px;
      }
    }
    .small-table {
      width: 100%;
      border: 1px solid $bg-color;
      thead {
        tr {
          th {
            background-color: $bg-color;
            padding: 5px 25px;
            color: #646e7c;
            text-align: right;
            border-bottom: 1px solid $bg-color;
          }
          th:first-child {
            text-align: right;
          }
        }
      }
      tbody {
        tr {
          td {
            padding: 10px 25px;
            color: $font-color;
            text-align: right;
            border-bottom: 1px solid $bg-color;
            .small-input {
              width: 46px;
              height: 16px;
              padding: 0;
              text-align: center;
              margin-right: 5px;
            }
            .insert-data {
              color: #007aff;
              cursor: pointer;
            }
          }
          td:first-child {
            text-align: left;
          }
        }
      }
      &.big-table {
        thead {
          tr {
            th {
              padding: 5px 20px 5px 25px;
            }
            th:first-child {
              text-align: left;
            }
          }
        }
      }
    }
  }
  .js-dialog-close {
    top: 11px;
    right: 13px;
    height: 16px;
    width: 16px;
    background: url(../images/cf/close-black.png) no-repeat
  }
  .ui-pagenav {
    margin: 110px 0 0 0;
    .page-cf {
      width: 640px;
      .page-go {
        padding: 0;
      }
    }
  }

  //档案记录
  .dialog-file {
    position: relative;
    height: 300px;
    .dialog-file-aside {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 150px;
      overflow: hidden;
      .file-name {
        line-height: 1.2;
        margin: 0 0 15px 0;
        font-size: 13px;
        color: #999999;
      }
      .current {
        color: #000000;
      }
    }
    .dialog-file-content {
      margin: 0 0 0 165px;
      height: 100%;
      background: #ffffff;
      padding: 0 15px;
      border-left: solid 1px $border-color;
      overflow: hidden;
      overflow-y: auto;
      .file-item-wrap {
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
      }
      .file-item {
        margin-bottom: 10px;
        font-size: 0;
        .file-item-date {
          font-size: 12px;
          margin-bottom: 5px;
        }
        .file-item-pic {
          display: inline-block;
          width: 50%;
          padding: 0 10px;
          @include box-sizing(border-box);
        }
      }
    }
  }
}
.dialog-item-wrap {
  .dialog-item {
    padding-left: 40px;
    margin: 12px 0;
    font-size: 0;
    white-space: nowrap;
    position: relative;
    .w50p {
      position: relative;
      .dialog-left {
        padding-left: 0;
      }
      .dialog-right {

      }
    }
    .dialog-left {
      display: inline-block;
      line-height: 30px;
      padding-right: 24px;
      padding-left: 40px;
      color: #666;
      width: 100px;
      text-align: right;
      vertical-align: top;
      font-size: 13px;
      position: absolute;
      top: 0;
      left: 0;
      white-space: normal;
      &.must-icon:before {
        content: "*";
        position: absolute;
        color: red;
        top: 0;
        margin-left: -12px;
        line-height: 16px;
        font-size: 16px;
        vertical-align: top;
        margin-top: 10px;
      }
    }
    .dialog-right {
      font-size: 13px;
      color: #333;
      min-width: 222px;
      white-space: normal;
      margin: 0 40px 0 124px;
      display: block;
      .dialog-wrap {
        width: 100%;
        .dialog-top {
          width: 100%;
          .dialog {
            display: inline-block;
            width: 50%;
            background-color: #C9D1DF;
            color: #333;
            line-height: 30px;
            text-align: center;
            @include box-sizing(border-box);
            &:nth-child(1) {
              border-right: solid 1px #E1E6EF;
            }
          }
        }
        .dialog-content {
          width: 100%;
          background-color: #E1E6EF;
          height: 140px;
          overflow: hidden;
          overflow-y: auto;
          padding: 5px 10px 0;
          cursor: default;
          @include box-sizing(border-box);
          .dialog-content-item {
            line-height: 20px;
            position: relative;
            margin-bottom: 5px;
            padding-left: 17px;
            .content-left,.content-right {
              width: 50%;
              display: inline-block;
            }
            .content-left {
              position: relative;
              padding-right: 5px;
              @include box-sizing(border-box);
              .content-input {
                position: absolute;
                top: 3px;
                left: -17px;
                width: 16px;
                height: 16px;
                vertical-align: top;
                cursor: pointer;
              }
            }
            .content-right {
              vertical-align: top;
              text-align: center;
              line-height: 20px;
              .content-radio {
                width: 16px;
                height: 16px;
                margin-right: 5px;
                margin-top: 3px;
                vertical-align: top;
                cursor: pointer;
              }
              .content-space {
                display: inline-block;
                width: 40px;
              }
            }
          }
        }
      }
      .dialog-span {
        color: #666;
        margin-left: 5px;
      }
      .dialog-textarea {
        display: inline-block;
        height: 80px;
        width: 220px;
        box-sizing: border-box;
        outline: none;
        padding: 5px 10px;
        font-size: 13px;
        overflow: hidden;
        // overflow-y: scroll;
        resize: none;
        line-height: 24px;
        // background: #e1e6ef;
        background: transparent;
        border: 1px solid #e5e5e5;
        text-indent: 0;
        @include border-radius(3px);
        overflow-y: scroll;
      }
      .dialog-divbox {
        display: inline-block;
        min-height: 80px;
        width: 220px;
        box-sizing: border-box;
        padding: 10px;
        overflow: hidden;
        white-space: normal;
        border: 1px solid #e5e5e5;
        @include border-radius(3px);
        position: relative;
        .item-btn {
          display: table;
          padding: 2px 30px 2px 8px;
          font-size: 12px;
          line-height: 16px;
          border: 1px solid #3c95e9;
          color: #3c95e9;
          @include border-radius(3px);
          margin-bottom: 8px;
          position: relative;
          &:after {
            cursor: pointer;
            position: absolute;
            content: '';
            background: url(../images/cfarchives/delete-ico.png) 0 0 no-repeat;
            right: 8px;
            top: 4px;
            height: 12px;
            width: 10px;
          }
        }
        .add-item-btn {
          position: absolute;
          right: 10px;
          cursor: pointer;
        }
      }
      .dialog-divbox2 {
        .log-tl {
          color: #3c95e9;
        }
      }
      .dialog-input {
        line-height: 28px;
        height: 28px;
        padding:0;
        outline: none;
        background: transparent;
        width: 220px;
        @include border-radius(3px);
        border: 1px solid #e5e5e5;
        text-indent: 8px;
        &:disabled {
          color: #a6a6a6;
        }
      }
      .dialog-input-long {
        line-height: 20px;
        height: 20px;
        padding: 5px 10px;
        outline: none;
        background: transparent;
        min-width: 455px;
        max-width: 455px;
        @include border-radius(3px);
        border: 1px solid #e5e5e5;
        margin-bottom: 7px;
        display: block;
        &:disabled {
          color: #a6a6a6;
        }
      }
      .textarea-add {
        position: absolute;
        top: 5px;
        left: 650px;
      }
      .textarea-delete {
        position: absolute;
        top: 5px;
        left: 695px;
      }
      .checkbox-item {
        display: inline-block;
        margin-right: 40px;
        padding: 4px 0;
        &.checkAll-item {
          display: block;
        }
      }
      .btn-declare {
        margin-left: 10px;
        width: 120px;
        height: 30px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: top;
        display: inline-block;
        line-height: 30px;
      }
      .checkbox-declare {
        margin-left: 5px;
        width: 120px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: top;
        display: inline-block;
        line-height: 24px;
      }
      &.small-item {
        span.js-select {
          width: 120px;
          margin-right: 10px;
        }
      }
      label {
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
        min-width: 20%;
        overflow: hidden;
        cursor: pointer;
        input[type="radio"] {
          width: 16px;
          height: 16px;
          vertical-align: top;
          margin: 7px 5px 0 0;
        }
      }
    }
    .dialog-item-tips {
      color: $color-red;
      font-size: $small-font-size;
      margin-left: 105px;
    }
  }
}

.form-change-message {
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
  .text-red {
    color: $color-red;
    padding-right: 10px;
    vertical-align: middle;
  }
  .part-group {
    width: 570px;
    @include clearfix;
    .part-item {
      margin-top: 17px;
      display: inline-block;
      @include clearfix;
      vertical-align: middle;
      &.floatright {
        float: right;
      }
      .item-name {
        width: 120px;
        float: left;
        text-align: right;
        &.item-describe {
          margin-top: 45px;
        }
      }
      .item-message {
        text-align: left;
        margin-left: 25px;
        width: 393px;
        float: left;
        &.long-message {
          width: 545px;
        }
        &.item-search {
          border: 1px solid #ebebeb;
          padding: 11px;
        }
        input[type="text"] {
          width: 191px;
        }
        textarea {
          height: 90px;
          width: 403px;
          padding: 5px;
          border: 1px solid #ebebeb;
        }
        .attr-panl {
          display: inline-block;
          margin-right: 13px;
          a {
            margin-left: 25px;
            .param-checkbox {
              margin-right: 8px;
            }
            .param-name {
              vertical-align: middle;
            }
          }
          a:first-child {
            margin-left: 8px;
          }
        }
        .part-item-nav {
          width: 297px;
          border-bottom: 1px solid $bg-color;
          ul {
            li {
              height: 20px;
              line-height: 0px;
              display: inline-block;
              margin: 0 20px;
              cursor: pointer;
              color: #646e7c;
              &.active {
                color: $color-red;
                border-bottom: 2px solid $color-red;
              }
            }
          }
        }
        .part-item-content {
          margin-top: 5px;
          .set-time {
            margin-top: 10px;
            width: 402px;
            border: 1px solid #ebebeb;
            line-height: 70px;
            padding-left: 12px;
            .set-time-add {
              margin-bottom: 10px;
            }
            .hour-div {
              display: inline-block;
              width: 210px;
              input {
                width: 73px;
              }
            }
            .minute {
              width: 36px;
              margin-left: 10px;
              margin-right: 10px;
            }
            .btn-add {
              display: inline-block;
              margin-left: 10px;
              color: $color-blue;
              cursor: pointer;
            }
            .btn-delete {
              display: inline-block;
              margin-left: 5px;
              color: $color-blue;
              cursor: pointer;
            }
          }
          .indicate-sentence {
            padding-left: 10px;
            width: 100%;
            font-size: 12px;
            color: #cccccc;
            text-align: left;
            line-height: 30px;
          }
          &.auto-time {
            .hour-div {
              width: 135px;
            }
          }
        }
        .insert-btn {
          color: #007aff;
          cursor: pointer;
          margin-left: 8px;
        }
        .item-search-title {
          height: 100%;
          width: 155px;
          .search-name {
            width: 145px;
          }
        }
        .item-search-content {
          width: 393px;
          margin-top: 8px;
          .left-content, .right-content {
            height: 120px;
            float: left;
            width: 165px;
            border: 1px solid #e8e8e8;
            background-color: white;
            overflow-y: auto;
            li {
              cursor: pointer;
              padding: 5px 20px;
              &:hover, &.active {
                background-color: #cccccc;
              }
            }
          }
          .transform-content {
            float: left;
            @include box-sizing(border-box);
            padding-top: 35px;
            width: 57px;
            text-align: center;
            .go-right {
              height: 25px;
              width: 34px;
              background-image: url("../images/cftrade/right.png");
              background-color: white;
              cursor: pointer;
            }
            .go-left {
              height: 25px;
              width: 34px;
              background-image: url("../images/cftrade/left.png");
              background-color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

/*下面是展开和收缩*/
.list-more {
  .param-openbox {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background: url(../images/cfarchives/opener-closed.png) 0 0 no-repeat;
  }

  &.opend {
    td {
      border-bottom: none !important;
    }
    .param-openbox {
      background: url(../images/cfarchives/opener-opend.png) 0 0 no-repeat;
    }
  }
}

/*以上是展开和收缩 */

/*以下综合表格*/
.view-content {
  height: 100%;
  position: relative;
  padding-top: 20px;
  @include box-sizing(border-box);
}

.view-back {
  position: absolute;
  top: -15px;
  left: 0;
  line-height: 35px;
}

.info-table {
  border: solid 1px $bg-color;
  margin-bottom: 20px;
  color: #333;
  .info-table-title {
    line-height: 32px;
    background: $bg-color;
    padding: 0 15px;
    color: #555;
    font-weight: 600;
  }
  .info-table-content {
    font-size: 0;
    hr {
      height: 1px;
      background: $bg-color;
      border: 0;
    }
    .info-table-colspan {
      border-bottom: solid 1px $bg-color;
      .info-table-item {
        display: inline-block;
        width: 33.3%;
        .info-table-key {
          line-height: 36px;
          display: inline-block;
          font-size: 13px;
          padding: 0 10px;
          @include box-sizing(border-box);
          border-right: solid 1px $bg-color;
          background: #f6f6f6;
          width: 40%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          vertical-align: top;
        }
        .info-table-val {
          line-height: 36px;
          display: inline-block;
          font-size: 13px;
          padding: 0 10px;
          @include box-sizing(border-box);
          border-right: solid 1px $bg-color;
          width: 60%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          vertical-align: top;
        }
        &.item-long {
          width: 66.6%;
          .info-table-key {
            width: 20%;
          }
          .info-table-val {
            width: 80%;
          }
        }
        &.item-25p {
          width: 25%;
          .info-table-key {
            width: 50%;
          }
          .info-table-val {
            width: 50%;
          }
        }
        &.item-50p {
          width: 50%;
          .info-table-key {
            width: 26.6%;
          }
          .info-table-val {
            width: 73.4%;
          }
        }
        &.item-100p {
          width: 100%;
          .info-table-key {
            width: 13.3%;
          }
          .info-table-val {
            width: 86.7%;
          }
        }
        &:last-child {
          .info-table-val {
            border-right: none;
          }
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &.info-table-file {
    .info-table-colspan {
      height: 120px;
      &:last-child {

      }
      .info-table-item {
        width: 100% !important;
        height: 100%;
      }
      .info-table-key {
        width: 20% !important;
        height: 100%;
        line-height: 120px !important;;
      }
      .info-table-val {
        height: 100%;
        line-height: 100px !important;;
        width: 80% !important;
        border-right: solid 1px $bg-color !important;
      }
      .file-obj {
        height: 100%;
        max-width: 100%;
        padding: 0;
        display: inline-block;
        @include box-sizing(border-box);
      }
    }
  }
}

/*以上综合表格*/

/*以下为右侧的提示区域*/
.area-wrap {
  position: relative;
  height: 100%;
  margin-bottom: 15px;
}

.left-area-wrap {
  margin-right: 250px;
  border: solid 1px $bg-color;
  overflow: hidden;
  overflow-y: auto;
  padding: 10px;
  height: 100%;
  @include box-sizing(border-box);
}

.right-area-wrap {
  position: absolute;
  width: 240px;
  top: 0;
  bottom: 0;
  right: 0;
}

.tip-panel {
  width: 100%;
  padding: 10px;
  color: #333;
  background-color: #F5F6F8;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  @include box-sizing(border-box);
  position: relative;
  .tip-panel-title {
    font-size: 16px;
    color: $theme-color;
    margin: 5px 0 15px 0;
  }
  .tip-panel-content {
    font-size: 13px;
    margin-bottom: 15px;
    p {
      line-height: 20px;
      margin-bottom: 10px;
    }
    .content-item {
      .item-top {
        margin-bottom: 5px;
      }
      .item-bottom {
        margin-bottom: 10px;
        label {
          height: 20px;
          line-height: 20px;
          margin-left: 10px;
          width: 40%;
          overflow: hidden;
          cursor: pointer;
          input[type="radio"] {
            width: 16px;
            height: 16px;
            vertical-align: top;
            margin: 3px 5px 0 0;
          }
        }
        textarea {
          display: inline-block;
          height: 80px;
          width: 100%;
          outline: none;
          padding: 5px;
          font-size: 13px;
          overflow: hidden;
          overflow-y: auto;
          border: solid 1px $border-color;
          line-height: 24px;
          background: #ffffff;
          text-indent: 8px;
          resize: none;
          @include box-sizing(border-box);
        }
      }
    }
  }
  .tip-panel-footer {
    text-align: center;
  }
}

/*以上为右侧提示区域*/
/*文件上传*/
.upload-box {
  display: inline-block;
  vertical-align: middle;
  .upload {
    position: relative;
    float: left;
    width: 80px;
    height: 28px;
    font-size: 12px;
    text-align: center;
    line-height: 28px;
    color: #000;
    // background: url('../images/input-bg.png') center no-repeat;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    @include border-radius(3px);
    margin-left: 10px;
    margin-top: 3px;
    .upload-bg {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 12px;
      color: #000;
      text-align: center;
      line-height: 28px;
    }
    .input-file {
      position: absolute;
      top: 0;
      left: 0;
      width: 110px;
      height: 28px;
      outline: none;
      font-size: 28px;
      opacity: 0;
      filter: alpha(opacity=0);
    }
  }
  .advice {
    font-size: 12px;
    line-height: 28px;
    color: #a6a6a6;
    // margin-left: 20px;
    .w-label {
      margin-left: 10px;
      .status {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        vertical-align: middle;
      }
    }
  }
}
