// html {
//   height: 100%;
//   width: 100%;
// }

// 加载

* {
    @include box-sizing(border-box);
}

.shadow-div {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 62px;
    left: 0;
    z-index: 20160615;
    display: none;
    .loading-img {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -25px;
        width: 50px;
        height: 50px;
        z-index: 2016061501;
        background: url('../images/loading.gif') no-repeat;
    }
}

.loading-small {
    height: 100%;
    min-height: 200px;
    position: relative;
    .loading-small-text {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        left: 50%;
        margin-left: -66px;
        line-height: 16px;
        padding-left: 30px;
        font-size: 14px;
        color: #999999;
        background: url(../images/loading-small.gif) no-repeat 5px 50%;
    }
}

.ui-reason-content {
    border: 1px solid #f0f5fb;
    padding: 10px 0;
    .name {
        display: inline-block;
        color: #6f7b91;
        padding-left: 10px;
        width: 200px;
    }
    .reason {
        color: #3a3d42;
    }
}

.clearfix {
    @include clearfix;
}

.clearfix1 {
    overflow: hidden;
    zoom: 1;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.font-red {
    color: $color-red;
}
.font-green {
    color: $color-green;
}

.nowrap-hover {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    &:hover {
        white-space: inherit;
        overflow: visible;
        text-overflow: inherit;
        width: auto !important;
    }
    &.w200 {
        width: 200px;
    }
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #f00;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc;
}

/*
上面这个是导航选择，比如营业部排名的A++类，A+类
*/

/*
下面这个是每个模块的标题，比如某数据趋势（rank-depart-detail-trend.html）的每个模块的标题
*/
.title {
    font-size: 16px;
    height: 50px;
    line-height: 50px;
}

/*
上面这个是每个模块的标题，比如某数据趋势（rank-depart-detail-trend.html）的每个模块的标题
*/

input[type="text"] {
    height: 30px;
    width: 106px;
    line-height: 28px;
    background-color: white;
    border: 1px solid $border-color;
    @include border-radius(3px);
    padding-left: 8px;
}

/*下面是下拉选择框修改*/

.param-checkbox {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: 3px;
    vertical-align: top;
    cursor: pointer;
    background: url(../images/cftrade/checkbox-check.png) 0 0 no-repeat;
    &.checkbox-checked {
        background: url(../images/cftrade/checkbox-checked.png) 0 0 no-repeat;
        background-size: 100%;
    }
}
/*上面是勾选框*/


/*以下综合表格*/
.view-content {
    height: 100%;
    position: relative;
    padding-top: 30px;
    @include box-sizing(border-box);
    &.plat-list-short {
        height: 500px;
    }
}

.view-back {
    position: absolute;
    top: -15px;
    left: 0;
    line-height: 35px;
    margin-top: 2px;
}

/*flip*/
.flip-wrap {
    margin-right: 250px;
    border: solid 1px #ebebeb;
    height: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    &.flip-wrap-big {
        margin-right: 0;
    }
}

.flip {
    padding: 20px 50px;
    min-height: 56px;
    @include box-sizing(border-box);
    &.flip-big {
        padding: 20px;
    }
    .preview, .next {
        width: 36px;
        height: 36px;
        position: absolute;
        top: 360px;
        cursor: pointer;
    }
    .preview {
        left: 7px;
        background: url(../images/sprite/filecheck/file-check.png) no-repeat 0 -35px;
        background-size: 100%;
    }
    .next {
        right: 7px;
        background: url(../images/sprite/filecheck/file-check.png) no-repeat 0 0;
        background-size: 100%;
    }
    .flip-content {
        .flip-item {
            display: none;
            &.show {
                display: block;
            }
        }
    }
}

/*以下为右侧的提示区域*/
.area-wrap {
    position: relative;
    height: 100%;
    margin-bottom: 15px;
}

.left-area-wrap {
    margin-right: 250px;
    border: solid 1px $bg-color;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px;
    height: 100%;
    @include box-sizing(border-box);
}

.right-area-wrap {
    position: absolute;
    width: 240px;
    top: 0;
    bottom: 0;
    right: 0;
    .tip-panel {
        width: 100%;
        padding: 10px;
        color: #333;
        background-color: #F5F6F8;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        @include box-sizing(border-box);
        position: relative;
        .tip-panel-title {
            font-size: 16px;
            color: $theme-color;
            margin: 5px 0 15px 0;
            span:before {
                content: '';
                display: inline-block;
                width: 6px;
                height: 6px;
                background: $theme-color;
                border-radius: 3px;
                margin-right: 10px;
                vertical-align: middle;
            }
        }
        .tip-panel-content {
            font-size: 13px;
            margin-bottom: 15px;
            p {
                line-height: 20px;
                margin-bottom: 10px;
            }
            .content-item {
                .item-top {
                    margin-bottom: 5px;
                }
                .item-bottom {
                    margin-bottom: 10px;
                    label {
                        height: 20px;
                        line-height: 20px;
                        margin-left: 10px;
                        width: 40%;
                        overflow: hidden;
                        cursor: pointer;
                        input[type="radio"] {
                            width: 16px;
                            height: 16px;
                            vertical-align: top;
                            margin: 3px 5px 0 0;
                        }
                    }
                    textarea {
                        display: inline-block;
                        height: 80px;
                        width: 100%;
                        outline: none;
                        padding: 5px;
                        font-size: 13px;
                        overflow: hidden;
                        overflow-y: auto;
                        border: solid 1px $border-color;
                        line-height: 24px;
                        background: #ffffff;
                        text-indent: 8px;
                        resize: none;
                        @include box-sizing(border-box);
                    }
                }
            }
        }
        .tip-panel-footer {
            text-align: center;
        }
        .tip-panel-content-top {
            .tip-panel-inner {
                margin-bottom: 15px;
                h3 {
                    line-height: 24px;
                }
                label {
                    height: 30px;
                    line-height: 30px;
                    width: 80px;
                    padding-left: 34px;
                    @include box-sizing(border-box);
                    position: relative;
                    input[type='radio'] {
                        display: inline-block;
                        margin-right: 15px;
                        position: absolute;
                        top: 50%;
                        margin-top: -6px;
                        left: 11px;
                    }
                }
            }

        }
    }
}

.main-content-wrap {
    height: auto;
    &.main-content-wrap-mt {
        margin: 20px 20px 5px;
    }
    .main-content-wrap-top {
        line-height: 14px;
        padding: 10px 0px;
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 20px;
        .tab-options {
            display: inline-block;
            font-size: 14px;
            padding: 0 10px;
            border-right: 1px solid #e5e5e5;
            min-width: 70px;
            text-align: center;
            cursor: pointer;
            color: $font-color-sub;
            &.on {
                color: $theme-color;
                font-weight: bold;
                background: #fff;
            }

        }
    }
    .main-content-wrap-list {
        .search-content {
            display: none;
            &.on {
                display: block;
            }
            .task-search1 {
                margin-top: 20px;

            }
            .search-content-wrap {
                position: relative;
                .tab-wrap {
                    position: absolute;
                    right: 0px;
                    .tab-red {
                        display: inline-block;
                        float: left;
                        padding: 5px 10px;
                        border: 1px solid $theme-color;
                        color: $theme-color;
                        height: 30px;
                        line-height: 18px;
                        cursor: pointer;
                        @include box-sizing(border-box);
                        &.on {
                            background: $theme-color;
                            border: none;
                            color: #fff;
                        }
                    }
                }
                .tab-list {
                    margin-top: 20px;
                    width: 100%;
                    .tab-list-content {
                        display: none;
                        &.on {
                            display: block;
                        }
                    ;
                        .tab-list-top {
                            width: 100%;
                            margin-bottom: 20px;
                            text-align: center;
                            .time-item {
                                display: inline-block;
                                vertical-align: top;
                                margin: 0 20px;
                            }
                        }
                    }
                }
            }
        }
    }

}

.main-content-box {
    border: solid 1px $border-color;
    padding: 20px;
    margin-bottom: 20px;
    p {
        margin: 0 0 5px 0;
    }
    .task-search {
        margin-bottom: 10px;
    }
}

.col-block {
    margin-top: 10px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    color: black;
    padding-left: 15px;
}

.content-list {
    width: 100%;
    padding: 10px;
    background: $border-color;
    .start {
        padding: 5px 10px;
        height: 30px;
        display: inline-block;
        line-height: 20px;
        cursor: pointer;
        @include box-sizing(border-box);
        &.on {
            color: #fff;
            background: $theme-color;
            @include border-radius(5px);
        }
    }
}

.list-detail {
    padding: 24px 18px;
    background: $bg-color-light;
    position: relative;
    @include clearfix;
    font-size: 12px;
    text-align: center;
    .list-wrap {
        display: inline-block;
        text-align: left;
    }
    .col-blue {
        text-align: right;
        line-height: 20px;
        height: 20px;
        position: absolute;
        right: 18px;
        bottom: 8px;
        color: #007aff;
    }

}

.task-search2 {
    padding-top: 50px;
}

.wrap-list {
    li {
        width: 100%;
        line-height: 30px;
        @include clearfix;
        h3 {
            display: inline-block;
            height: 30px;
            line-height: 30px;
            min-width: 120px;
            float: left;
        }
        .inner-list {
            display: inline-block;
            float: left;
            li {
                display: inline-block;
                width: auto;
                float: left;
                margin-right: 20px;
                line-height: 30px;
            }
        }
    }
}

.param-checkbox {
    &.param-checkbox-small {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-top: 3px;
        margin-right: 5px;
        vertical-align: top;
        cursor: pointer;
        background: url(../images/cftrade/checkbox-check.png) 0 0 no-repeat;
        background-size: 14px 14px;
    }
}

.p-left {
    margin-left: 20px;
}

.dialog-item-small {
    margin: 0 !important;
    .col-blue {
        height: 35px;
        line-height: 35px;
        font-size: 14px;
        color: #007aff;
        padding-left: 40px;

    }
}

.list-content {
    height: auto;
    overflow: hidden;
    padding: 15px;
    position: relative;
    .list-left {
        display: inline-block;
        width: 270px;
        height: 320px;
        float: left;
    }
    .list-center {
        display: inline-block;
        float: left;
        width: 23px;
        height: 262px;
        line-height: 262px;
        @include box-sizing(border-box);
        img {
            vertical-align: middle;
            display: inline-block;
        }
    }
    .list-right {
        display: block;
        margin-left: 305px;
    }
    .my-work {
        margin: auto;
        li {
            display: inline-block;
            width: 20%;
            border: solid 1px #ffffff;
            float: left;
            &:hover {
                background: #F7F7F7;
                border: solid 1px $border-color;
                @include border-radius(5px);
            }
            a {
                height: 100%;
                display: block;
                .my-work-list {
                    height: 100%;
                    dt {
                        height: 80px;
                        box-sizing: border-box;
                        padding-top: 34px;
                        @include box-sizing(border-box);
                        img {
                            margin: auto;
                        }

                    }
                    dd {
                        height: 60px;
                        padding-top: 10px;
                        @include box-sizing(border-box);
                        .txt-center {
                            text-align: center;
                            font-size: 16px;
                            line-height: 16px;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}

.diy-slider {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    .btn-img {
        &.invalid {
            opacity: .3;
            background: inherit;
            cursor: inherit;
        }
    }
    .prev {
        position: absolute;
        top: calc(50% - 11px);
        left: 0px;
        z-index: 10;
        cursor: pointer;
    }
    .next {
        position: absolute;
        top: calc(50% - 11px);
        right: 0px;;
        z-index: 10;
        cursor: pointer;
    }
    > ul {
        width: 100%;
        height: 100%;
        font-size: 0;
        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 15px;
            font-size: 14px;
            min-width: 220px;
            position: relative;
            .list-title {
                position: absolute;
                bottom: 30px;
                padding-left: 20px;
                color: #fff;
                font-size: 14px;
                font-weight: bold;
            }
            .list-title1 {
                position: absolute;
                bottom: 10px;
                padding-left: 20px;
                color: #fff;
                font-size: 12px;
            }
            .dl-list {
                margin: 0;
            }

        }
    }
}

.dl-list {
    display: inline-block;
    width: 237px;
    border: 1px solid $border-color;
    background: #FFFFFF;
    margin: 0px 5px 10px 5px;
    font-size: 12px;
    vertical-align: top;
    @include box-sizing(border-box);
    @include border-radius(5px);
    @include clearfix;
    dt {
        background: $bg-color-sub;
        color: $font-color;
        border-bottom: 1px solid $border-color;
        @include box-sizing(border-box);
        @include border-radius(5px 0 0 5px);
        height: 54px;
        line-height: 36px;
        text-align: center;
        padding: 6px 10px;
    }
    dd {
        height: 90px;
        .right {
            display: inline-block;
            float: right;
            height: 100%;
            width: 174px;
            @include box-sizing(border-box);
            padding: 14px 10px;
            color: $font-color-sub;
            position: relative;
        }
        p {
            text-align: left;
            &.p-right-top {
                margin-bottom: 3px;
                .col-red {
                    display: inline-block;
                    float: right;
                    color: $theme-color;
                }
            }
        ;
            &.p-right-center {
                margin-bottom: 4px;
            }
        }
        .left {
            float: left;
            width: 60px;
            height: 90px;
            line-height: 65px;
            border-right: solid 1px $border-color;
            padding: 10px 15px;
            .level {
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                display: inline-block;
                vertical-align: middle;
                max-width: 99%;
            }
        }
    }

    p {
        line-height: 18px;
        text-align: center;
        @include box-sizing(border-box);
        &.p-top {
            padding: 0 20px;
            line-height: 20px;
            display: inline-block;
            vertical-align: middle;
            max-width: 99%;
        }
    }
}

.view-back-one {
    top: 0px !important;
}

.system-notice {
    width: 700px;
    margin: 20px auto;
    h2 {
        font-size: 16px;
        color: #343434;
        font-weight: bold;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 40px;

    }
    .txt-center {
        text-align: center;
        line-height: 30px;
    }
    .txt-right {
        text-align: right;
        line-height: 30px;
    }
}

.waiting-message {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 8px 0 8px 21px;
    position: relative;
    margin-bottom: 20px;
    .icon-waiting {
        float: left;
        width: 24px;
        height: 24px;
        background-size: 100%;
        background-image: url(../images/caitong/warn-32.png);

    }
    .waiting-node {
        margin-left: 10px;
        font-size: 16px;
        line-height: 25px;
    }
    .icon-closeMessage {
        position: absolute;
        right: 14px;
        top: 14px;
        width: 12px;
        height: 12px;
        background-image: url(../images/caitong/close-3.png);
        cursor: pointer;
        background-size: 100%;
    }
}

.wrap-404 {
    width: 644px;
    height: 242px;
    margin: 120px auto 0px;
}
