// right comm css
.search-btn {
	position: absolute;
	right: 15px;
	top: 30px;
	a {
		color: #6f7b91;
		font-size: 12px;
		i {
			display: inline-block;
			width: 13px;
			height: 8px;
			vertical-align: middle;
			background: url(../images/icolist.png) -81px -50px no-repeat;
			margin: 0px 0px 3px 10px;
		}
		&.open {
			i {
				background: url(../images/icolist.png) -80px -65px no-repeat;
			}
		}
	}
}

.algin-center {
	text-align: center;
	margin: 25px auto;
}
.align-right {
	position: relative;
	min-height: 30px;
	margin-top: 20px;
	button {
		position: absolute;
		right: 15px;
		top: 0px;
	}
}
.tab-content {
	.tab{
		width: 100%;
		height: 38px;
		a {
			float: left;
			display: inline-block;
			width: 50%;
			height: 38px;
			line-height: 38px;
			font-size: 14px;
			color: #3a3d42;
			background: #e1e6ef;
			text-align: center;
			&.active {
				color: #fff;
				background: #3ecacb;
			}
		}
	}
	&.margin-tab {
		margin-top: 15px;
	}
}

.detail-btn {
	color: #3ecacb;
}

.select-mode {
	width: 550px;
	margin: 10px auto 20px auto;
	label {
		input {
			vertical-align: middle;
			margin-right: 10px;
		}
	}
}
.p-right {
	position: absolute;
	top: 30px;
	right: 20px;
}
.search-group {
  position: relative;
  .search-dl {
  	display: inline-block;
  	margin: 20px 30px 0px 0px;
  	dt {
  		font-size: 14px;
  		color: #6f7b91;
  		display: block;
  		line-height: 20px;
      margin-bottom: 5px;
  	}
  }
}
.button-content {
  position: relative;
  text-align: center;
  margin-top: 30px;
  .output {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}
.ui-reason-content {
  border: 1px solid #f0f5fb;
  padding: 10px 0;
  .name {
    display: inline-block;
    color: #6f7b91;
    padding-left: 10px;
    width: 200px;
  }
  .reason {
    color: #3a3d42;
  }
}
.clearfix{
	zoom:1;
	overflow:hidden;
	&:after{
		content:'';
		height:0;
		display:block;
		clear:both;
	}
}
tbody {
  tr{
    .modify{
      .edit{
        margin-left:10px;
        display:inline-block;
        cursor:pointer;
        display:none;
        .edit-name{
          display: inline-block;
          vertical-align: middle;
          content: "";
          font-size: 0;
          width: 15px;
          height: 16px;
          background: url(../images/video/video-list.png) 0 -95px no-repeat;
        }
      }
      .w-320{
        width:80%;
        .txt{
          width:100%;
        }
      }
      .time{
        width:36%;
        width:calc((80% - 22px)/2);
        .txt{
          width:100%;
        }
      }
      >span{
        .js-select{
          width: 79%;
          width: calc(80% - 20px);
          width: -webkit-calc(80% - 20px);
        }
        .js-option{
          min-width: 411px;
        }
      }
    }
  }
}
