@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype'), url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-certificate:before {
  content: "\e900";
}
.icon-product:before {
  content: "\e901";
}
.icon-bank:before {
  content: "\e902";
}
.icon-e-record:before {
  content: "\e903";
}
.icon-institution:before {
  content: "\e904";
}
.icon-recheck:before {
  content: "\e905";
}
.icon-open-sets:before {
  content: "\e906";
}
.icon-verify:before {
  content: "\e907";
}
.icon-manage:before {
  content: "\e908";
}
.icon-list:before {
  content: "\e909";
}
.icon-mall-sets:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e90b";
}
.icon-upload:before {
  content: "\e90c";
}
.icon-validate:before {
  content: "\e90d";
}
.icon-online-sets:before {
  content: "\e90e";
}
.icon-home:before {
  content: "\e90f";
}
.icon-notice:before {
  content: "\e910";
}
.icon-parameter:before {
  content: "\e911";
}
.icon-sets:before {
  content: "\e912";
}
.icon-sales:before {
  content: "\e913";
}
.icon-operation:before {
  content: "\e914";
}
.icon-processes:before {
  content: "\e915";
}
.icon-search:before {
  content: "\e916";
}
.icon-channels:before {
  content: "\e917";
}
.icon-department:before {
  content: "\e918";
}
.icon-commission:before {
  content: "\e919";
}
.icon-c-statistics:before {
  content: "\e91a";
}
.icon-analysis:before {
  content: "\e91b";
}
.icon-statistics:before {
  content: "\e91c";
}
.icon-blacklist:before {
  content: "\e91d";
}
.icon-adviser:before {
  content: "\e91e";
}
.icon-protocol:before {
  content: "\e91f";
}
.icon-users:before {
  content: "\e920";
}
.icon-role:before {
  content: "\e921";
}
.icon-log:before {
  content: "\e922";
}
.icon-mall-pro:before {
  content: "\e923";
}
.icon-mall-banner:before {
  content: "\e925";
}
.icon-mall-partner:before {
  content: "\e926";
}
.icon-mall-order:before {
  content: "\e924";
}
.icon-live-users:before {
  content: "\e927";
}
.icon-live-hot:before {
  content: "\e928";
}
.icon-live-monitor:before {
  content: "\e929";
}
.icon-live-role:before {
  content: "\e92a";
}
.icon-live-words:before {
  content: "\e92b";
}
.icon-live-verify:before {
  content: "\e92c";
}
.icon-live-notice:before {
  content: "\e92d";
}
.icon-live-statistics:before {
  content: "\e92e";
}
.icon-live:before {
  content: "\e92f";
}
.icon-file-1:before {
  content: " ";
  width: 22px;
  height: 33px;
  vertical-align: top;
  display: block;
  background: url(../images/aside/file-1.png) no-repeat 50% 50%;
}
.icon-file-2:before {
  content: " ";
  width: 22px;
  height: 33px;
  vertical-align: top;
  display: block;
  background: url(../images/aside/file-2.png) no-repeat 50% 50%;
}
.icon-file-3:before {
  content: " ";
  width: 22px;
  height: 33px;
  vertical-align: top;
  display: block;
  background: url(../images/aside/file-3.png) no-repeat 50% 50%;
}
.icon-file-4:before {
  content: " ";
  width: 22px;
  height: 33px;
  vertical-align: top;
  display: block;
  background: url(../images/aside/file-4.png) no-repeat 50% 50%;
}
.icon-file-5:before {
  content: " ";
  width: 22px;
  height: 33px;
  vertical-align: top;
  display: block;
  background: url(../images/aside/file-5.png) no-repeat 50% 50%;
}
.icon-file-6:before {
  content: " ";
  width: 22px;
  height: 33px;
  vertical-align: top;
  display: block;
  background: url(../images/aside/file-6.png) no-repeat 50% 50%;
}
.icon-file-7:before {
  content: " ";
  width: 22px;
  height: 33px;
  vertical-align: top;
  display: block;
  background: url(../images/aside/file-7.png) no-repeat 50% 50%;
}
