$titlecolor:rgb(240,240,240);
$gaplinecolor:#e5e5e5;

@mixin txt-clr($clr:rgb(198, 60, 70)){
  color:$clr;
}

@mixin line-h($h:48px){
    height: $h;
    line-height: $h;
}

@mixin setboxs($dir,$val){
    #{$dir}:$val ;
}
// 公共
.container .ui-content .main-content{
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: white;
  font-family: 'Microsoft YaHei';
}

// 颜色设置
.text-red {
  @include  txt-clr(#fc7e94);
}
.text-red-deep {
  @include  txt-clr(#f1374d);
}
.text-green {
  @include  txt-clr(#15a931);
}
.text-blue {
  @include  txt-clr($color-blue);
}

.right-align {text-align: right !important;}
.left-align{text-align: left !important;}
.curs-hand{cursor: pointer;}

.padding5{
  // @include  setboxs('padding',5px);
  padding: 5px;
}
.padding10{padding: 10px;}
.padding15{padding: 15px;}
.padding20{padding: 20px;}
.padding30{padding: 30px;}

.margin5{margin:5px;}
.margin10{margin:10px;}

.marginleft20 { margin-left: 20px;}
.marginright20{ margin-right: 20px;}
.marginright30{ margin-right: 30px;}
.marginright40{ margin-right: 40px;}
