/**
 * Reset some basic elements
 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
figure {
  padding: 0;
  margin: 0;
}



/**
 * Basic styling
 */
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $font-color;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
  display: block;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
a {
  text-decoration: none;
  color: $color-blue;
}
a img {
  border: 0 none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.caption {
  margin-bottom: 14px;
  height: 30px;
  line-height: 30px;
}

button {
  font-family: $base-font-family;
  border: 0 none;

}
.ml-30 {
  margin-left: 30px;
}
textarea,
input {
  font-family: $base-font-family;
}
