// Our variables
$base-font-family: Tahoma, Arial, "Hiragino Sans GB", \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif !default;
$base-font-size:   14px !default;
$small-font-size:  12px !default;
$base-line-height: 1.5 !default;

// link
/*$link-color: #3f88cc !default;
$link-hover-color: #3f88cc !default;
$link-hover-decoration: none !default;*/
$theme-color: #f1374d;

$font-color: #333333;
$font-color-sub: #666666;
$font-color-light: #999999;
$color-red: #f1374d;
$color-blue: #3c95e9 ;
$color-grey: #cccccc;
$color-green: #6EB26E;

$bg-color: #f0f0f0;
$bg-color-sub: #f5f5f5;
$bg-color-light: #fbfbfb;

$border-color: #E8E8E8;
$divide-color: #E5E5E5;

// link
$link-color: #3ecacb !default;
$link-hover-color: #3ecacb !default;
$link-hover-decoration: none !default;

// line
$gaplinecolor:#e5e5e5;
