// Our variables
$base-font-family: Tahoma, Arial, "Hiragino Sans GB", \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif !default;
$base-font-size:   14px !default;
$small-font-size:  12px !default;
$base-line-height: 1.5 !default;
$text-color:       #444 !default;
$background-color: #fff !default;

// link
$link-color: #3ecacb !default;
$link-hover-color: #3ecacb !default;
$link-hover-decoration: none !default;

// button
$btn-font-weight: normal !default;
$btn-primary-bg: #f0f4fb !default;
$btn-primary-color: #3ecacb !default;
$btn-fill-bg: #3ecacb !default;
$btn-fill-color: #fff !default;
$btn-deny-color: #646464 !default;
$btn-deny-bg: #fff !default;
