// Our variables
$base-font-family: Tahoma, Arial, "Hiragino Sans GB", \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif !default;
$base-font-size:   14px !default;
$small-font-size:  12px !default;
$base-line-height: 1.5 !default;

// link
/*$link-color: #3f88cc !default;
$link-hover-color: #3f88cc !default;
$link-hover-decoration: none !default;*/

$font-color: #333333;
$color-red: #f1374d;
$color-blue: #3c95e9;
$color-grey: #cccccc;

$theme-color: $color-red;
$text-color: #6f7b91 !default;
$bg-color: #e8e9ed;
$border-color: #e8e9ed;
$divide-color: #e5e5e5;

// link
$link-color: #3ecacb !default;
$link-hover-color: #3ecacb !default;
$link-hover-decoration: none !default;

$theme-color: #f1374d;
$bg-color: #ebebeb;
$font-color: #333333;
$color-red: #f1374d;
$color-blue: #007aff;

// line
$gaplinecolor:#e5e5e5;
