<div class="leftShadow"></div>
<div class="leftaside">
  <ul class="leftul">
    <!-- 模拟iframe -->
    <li class="iframe">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/default/iframe.html">iframe测试</a>
      <i></i>
    </li>
    <!-- 公用部分导航 begin -->
    <li class="announcement">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/default/announcement.html">系统公告</a>
      <i></i>
    </li>
    <li class="index">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/default/home.html">我的首页</a>
      <i></i>
    </li>
    <li class="vedio-validate">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/default/video.html">视频验证</a>
      <i></i>
    </li>
    <li class="vedio-upload">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/default/upload-pre.html">视频上传</a>
      <i></i>
    </li>
    <li class="certificate">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/default/certificate-pre.html">颁发证书</a>
      <small>3</small>
      <i></i>
    </li>
    <li class="open-verify">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/default/audit.html">开户审核</a>
      <i></i>
    </li>
    <li class="open-recheck">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/default/recheck-pre.html">开户复核</a>
      <small>123</small>
      <i></i>
    </li>
    <li class="para-sets">
      <span class="icon"></span>
      <p>系统设置</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/system/dot.html">网点管理</a></li>
        <li><a href="{{ site.baseurl }}/default/system/fund-company.html">基金公司管理</a></li>
        <li><a href="{{ site.baseurl }}/default/system/role.html">角色权限</a></li>
        <li><a href="{{ site.baseurl }}/default/system/operator.html">操作员管理</a></li>
        <li><a href="{{ site.baseurl }}/default/system/depository-bank.html">存管银行</a></li>
        <li><a href="{{ site.baseurl }}/default/system/blacklist.html">黑名单管理</a></li>
        <li><a href="{{ site.baseurl }}/default/system/business.html">业务设置</a></li>
        <li><a href="{{ site.baseurl }}/default/system/finicial.html">理财产品</a></li>
        <li><a href="{{ site.baseurl }}/default/system/risk.html">风险测评题库</a></li>
        <li><a href="{{ site.baseurl }}/default/system/banner.html">广告图片设置</a></li>
      </ul>
      <b></b>
    </li>
    <li class="system-parameter">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/default/parameter.html">系统配置</a>
      <i></i>
    </li>
    <!-- 公用部分导航 end -->

    <!-- 开户部分导航 begin -->
    <li class="business-search">
      <span class="icon"></span>
      <p>业务查询</p>
      <ul class="inner-ul">
        <li class=""><a href="{{ site.baseurl }}/default/business/log.html">业务流水</a></li>
        <li class=""><a href="{{ site.baseurl }}/default/business/user-query.html">开户查询</a></li>
        <li class=""><a href="{{ site.baseurl }}/default/business/user-search.html">用户查询</a></li>
        <li><a href="{{ site.baseurl }}/default/business/marketing.html">营销查询</a></li>
        <li><a href="{{ site.baseurl }}/default/business/message.html">短信查询</a></li>
        <li><a href="{{ site.baseurl }}/default/business/empowerment.html">赋权流水</a></li>
        <li><a href="{{ site.baseurl }}/default/business/certificate-query.html">证书查询</a></li>
        <li><a href="{{ site.baseurl }}/default/business/protocol.html">协议导出</a></li>
        <li><a href="{{ site.baseurl }}/default/business/certification.html">公安验证</a></li>
        <li><a href="{{ site.baseurl }}/default/business/abnormal-pre.html">异常处理</a></li>
      </ul>
      <b></b>
    </li>
    <li class="processes">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/default/processes.html">业务流程</a>
      <i></i>
    </li>
    <li class="business-operation">
      <span class="icon"></span>
      <p>业务操作</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/operation/attestation.html">用户验签</a></li>
        <li><a href="{{ site.baseurl }}/default/operation/activation.html">强制激活</a></li>
      </ul>
      <b></b>
    </li>
    <li class="operation-analysis">
      <span class="icon"></span>
      <p>运营分析</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/statistics/open-account.html">开户总数</a></li>
        <li><a href="{{ site.baseurl }}/default/statistics/channel-name.html">渠道统计</a></li>
        <li><a href="{{ site.baseurl }}/default/statistics/access-mode.html">接入方式</a></li>
        <li><a href="{{ site.baseurl }}/default/statistics/partment.html">营业部</a></li>
        <li><a href="{{ site.baseurl }}/default/statistics/features.html">用户特征</a></li>
        <li><a href="{{ site.baseurl }}/default/statistics/area.html">地区分布</a></li>
        <li><a href="{{ site.baseurl }}/default/statistics/open-device.html">开户设备</a></li>
        <li><a href="{{ site.baseurl }}/default/statistics/open-type.html">开户类型</a></li>
        <li><a href="{{ site.baseurl }}/default/statistics/time.html">耗时统计</a></li>
        <li><a href="{{ site.baseurl }}/default/statistics/lost-rate.html">流失率</a></li>
        <li><a href="{{ site.baseurl }}/default/statistics/workload.html">工作量</a></li>
        <li><a href="{{ site.baseurl }}/default/statistics/access-data.html">接口数据</a></li>
        <li><a href="{{ site.baseurl }}/default/statistics/video-line.html">视频排队</a></li>
        <li><a href="{{ site.baseurl }}/default/statistics/use-time.html">使用时段</a></li>
        <li><a href="{{ site.baseurl }}/default/statistics/operation-record.html">操作统计</a></li>
      </ul>
      <b></b>
    </li>
    <li class="marketing-channels">
      <span class="icon"></span>
      <p>营销渠道</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/channel/marketing-manage.html">渠道管理</a></li>
        <li><a href="{{ site.baseurl }}/default/channel/type-set.html">渠道属性</a></li>
        <li><a href="{{ site.baseurl }}/default/channel/marketers.html">营销人员</a></li>
      </ul>
      <b></b>
    </li>
    <li class="open-sets">
      <span class="icon"></span>
      <p>开户设置</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/open/notice.html">公告管理</a></li>
        <li><a href="{{ site.baseurl }}/default/open/dictionary.html">数据字典</a></li>
        <li><a href="{{ site.baseurl }}/default/open/package.html">服务套餐管理</a></li>
        <li><a href="{{ site.baseurl }}/default/open/protocal.html">协议维护</a></li>
        <li><a href="{{ site.baseurl }}/default/open/time.html">时间设置</a></li>
      </ul>
      <b></b>
    </li>
    <!-- 开户部分导航 end -->
    <!-- 网厅部分导航 begin -->
    <li class="business-online">
      <span class="icon"></span>
      <p>业务查询</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/online/log.html">业务流水</a></li>
        <li><a href="{{ site.baseurl }}/default/online/image-data.html">影像资料查询</a></li>
        <li><a href="{{ site.baseurl }}/default/online/trading.html">融资融券信息</a></li>
        <li><a href="{{ site.baseurl }}/default/online/workload.html">工作量统计</a></li>
        <li><a href="{{ site.baseurl }}/default/online/usage.html">使用量统计</a></li>
        <li><a href="{{ site.baseurl }}/default/online/verify-list.html">审核任务列表</a></li>
        <li><a href="{{ site.baseurl }}/default/online/data-flow.html">资料修改流水</a></li>
      </ul>
      <b></b>
    </li>
    <li class="online-analysis">
      <span class="icon"></span>
      <p>运营分析</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/online-statistics/handle.html">办理统计</a></li>
        <li><a href="{{ site.baseurl }}/default/online-statistics/flow.html">流量统计</a></li>
        <li><a href="{{ site.baseurl }}/default/online-statistics/online-workload.html">工作量统计</a></li>
        <li><a href="{{ site.baseurl }}/default/online-statistics/online-features.html">用户特征</a></li>
        <li><a href="{{ site.baseurl }}/default/online-statistics/online-time.html">耗时统计</a></li>
        <li><a href="{{ site.baseurl }}/default/online-statistics/online-access.html">接入方式</a></li>
      </ul>
      <b></b>
    </li>
    <li class="online-sets">
      <span class="icon"></span>
      <p>网厅设置</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/online/protocol.html">协议维护</a></li>
        <li><a href="{{ site.baseurl }}/default/online/finicialTA.html">理财TA维护</a></li>
        <li><a href="{{ site.baseurl }}/default/online/commission.html">佣金调整</a></li>
        <li><a href="{{ site.baseurl }}/default/online/online-sets.html">网厅配置</a></li>
        <li><a href="{{ site.baseurl }}/default/online/business-introduce.html">3.0业务介绍设置</a></li>
        <li><a href="{{ site.baseurl }}/default/online/business-classify.html">3.0业务分类设置</a></li>
        <li><a href="{{ site.baseurl }}/default/online/blacklist.html">黑名单</a></li>
      </ul>
      <b></b>
    </li>
    <!-- 网厅部分导航 end -->
    <!-- 商城部分导航 begin -->
    <li class="mall-product">
      <span class="icon"></span>
      <p>产品设置</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/mall/advertisement.html">首页广告</a></li>
        <li><a href="{{ site.baseurl }}/default/mall/OPI.html">产品信息</a></li>
        <li><a href="{{ site.baseurl }}/default/mall/navigation.html">快捷导航</a></li>
      </ul>
      <b></b>
    </li>
    <li class="mall-sales">
      <span class="icon"></span>
      <p>销售管理</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/mall/order.html">订单查询</a></li>
        <li><a href="{{ site.baseurl }}/default/mall/trust.html">信托预约查询</a></li>
      </ul>
      <b></b>
    </li>
    <li class="mall-analysis">
      <span class="icon"></span>
      <p>运营分析</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/mall/mall-sales.html">销量统计</a></li>
        <li><a href="{{ site.baseurl }}/default/mall/mall-product.html">产品分析</a></li>
        <li><a href="{{ site.baseurl }}/default/mall/mall-flow.html">流量统计</a></li>
        <li><a href="{{ site.baseurl }}/default/mall/mall-time.html">耗时统计</a></li>
        <li><a href="{{ site.baseurl }}/default/mall/mall-access.html">接入方式</a></li>
        <li><a href="{{ site.baseurl }}/default/mall/merchandising.html">商品销售统计</a></li>
      </ul>
      <b></b>
    </li>
    <li class="mall-sets">
      <span class="icon"></span>
      <p>商城设置</p>
      <ul class="inner-ul">
        <li><a href="#">暂无</a></li>
      </ul>
      <b></b>
    </li>
    <!-- 商城部分导航 end -->
    <!-- 电子档案左侧导航 begin -->
    <li class="e-record">
      <span class="icon"></span>
      <p>电子档案</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/e-record/record.html">客户档案查询</a></li>
        <li><a href="{{ site.baseurl }}/default/e-record/log.html">档案流水查询</a></li>
        <li><a href="{{ site.baseurl }}/default/e-record/template.html">协议模板管理</a></li>
        <li><a href="{{ site.baseurl }}/default/e-record/business.html">业务设置</a></li>
        <li><a href="{{ site.baseurl }}/default/e-record/content.html">第二屏内容设置</a></li>
        <li><a href="{{ site.baseurl }}/default/e-record/monitor.html">监控</a></li>
        <li><a href="{{ site.baseurl }}/default/e-record/users.html">用户管理</a></li>
        <li><a href="{{ site.baseurl }}/default/e-record/role.html">角色权限管理</a></li>
        <li><a href="{{ site.baseurl }}/default/e-record/parameter.html">参数配置</a></li>
      </ul>
      <b></b>
    </li>
    <!-- 电子档案左侧导航 end -->
    <!-- 机构开户左侧导航 begin -->
    <li class="institution">
      <span class="icon"></span>
      <p>机构开户</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/institution/log.html">业务流水</a></li>
        <li><a href="{{ site.baseurl }}/default/institution/user-query.html">用户查询</a></li>
        <li><a href="{{ site.baseurl }}/default/institution/account-verify.html">开户审核</a></li>
        <li><a href="{{ site.baseurl }}/default/institution/account-recheck.html">开户复核</a></li>
      </ul>
      <b></b>
    </li>
    <!-- 机构开户左侧导航 end -->
    <li class="check">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/simp/check.html">审核任务</a>
      <i></i>
    </li>
    <li class="channel-list">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/simp/channel-list.html">渠道列表</a>
      <i></i>
    </li>
    <li class="channel-manage">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/simp/channel-manage.html">渠道管理</a>
      <i></i>
    </li>
    <li class="department">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/simp/department.html">营业部</a>
      <i></i>
    </li>
    <li class="bank">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/simp/bank.html">存管银行</a>
      <i></i>
    </li>
    <li class="commission-template">
      <span class="icon"></span>
      <a class="father" href="{{ site.baseurl }}/simp/commission-template.html">佣金模板</a>
      <i></i>
    </li>
    <li class="statistics">
      <span class="icon"></span>
      <p>运营统计</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/simp/statistics/open-account.html">开户统计</a></li>
        <li><a href="{{ site.baseurl }}/simp/statistics/settlement-table.html">结算表</a></li>

      </ul>
      <b></b>
    </li>
    <li class="commission">
      <span class="icon"></span>
      <p>佣金统计</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/simp/commission/commission.html">佣金统计</a></li>
        <li><a href="{{ site.baseurl }}/simp/commission/commission-info.html">佣金详情</a></li>
      </ul>
      <b></b>
    </li>
    <li class="para-sets">
      <span class="icon"></span>
      <p>系统设置</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/simp/system/notice.html">公告管理</a></li>
        <li><a href="{{ site.baseurl }}/simp/system/role.html">角色管理</a></li>
        <li><a href="{{ site.baseurl }}/simp/system/users.html">用户管理</a></li>
        <li><a href="{{ site.baseurl }}/simp/system/type-set.html">渠道属性</a></li>
        <li><a href="{{ site.baseurl }}/simp/system/activity.html">营销活动</a></li>
      </ul>
      <b></b>
    </li>
    <li class="system-parameter">
      <span class="icon"></span>
      <p>活动广告</p>
       <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/system/ads-manager.html">活动广告</a></li>
      </ul>
      <b></b>
    </li>
    <li class="announcement">
      <span class="icon"></span>
      <p>消息中心</p>
       <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/system/messages.html">消息列表</a></li>
      </ul>
      <b></b>
    </li>
    <li class="channel-manage">
      <span class="icon"></span>
      <p>营销平台</p>
       <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/channel/channel-query.html">每日业绩</a></li>
        <li><a href="{{ site.baseurl }}/default/channel/channel-query.html">每月业绩</a></li>
        <li><a href="{{ site.baseurl }}/default/channel/check-contract.html">审核签约</a></li>
        <li><a href="{{ site.baseurl }}/default/channel/invite-query.html">邀请记录</a></li>
        <li><a href="{{ site.baseurl }}/default/channel/contract-detail.html">签约审核详情</a></li>
      </ul>
      <b></b>
    </li>
    <li class="BDM">
      <span class="icon"></span>
      <a class="father" href="#">营业部经纪人</a>
      <i></i>
    </li>
    <li class="agent">
      <span class="icon"></span>
      <a class="father" href="#">经纪人</a>
      <i></i>
    </li>
    <li class="partner">
      <span class="icon"></span>
      <a class="father" href="#">合作方</a>
      <i></i>
    </li>
    <li class="account-manage">
      <span class="icon"></span>
      <a class="father" href="#">账户管理</a>
      <i></i>
    </li>
  </ul>
</div>
<script type="text/javascript">
$(document).ready(function(){
  //点击含有二级li的p的效果
  var href = window.location.href ;
  $(".leftul>li>p").each(function() {
    var flag = 0;
    $(this).click(function() {
      if(!flag) {
        $(this).siblings("ul").slideDown(200);
        $(this).parent().find("b").addClass("current");
        flag = 1;
      } else {
        $(this).parent().find("ul").slideUp(200);
        $(this).parent().find("b").removeClass("current");
        flag = 0;
      }
    });
  });
  //二级li点击后的显示效果
  var arrr = [];
  $(".leftul li li a").each(function(){
    var str = $(this).attr("href");
    var justName = str.slice(0,str.length - 5);
    arrr.push($(this).attr("href"));
  });
  for (var ee in arrr) {
    if(href.indexOf(arrr[ee]) != -1) {
      $('.leftul li li').eq(ee).addClass('active');
      $(".leftul li li").eq(ee).parent().show();
    }
  }
	//点击没有二级li的一级li的效果
	var $aloneLi = $(".leftul>li").not(".leftul>li:has('li')");
	$aloneLi.each(function() {
    var src = $(this).find("a").attr("href");
    if(href.indexOf(src) != -1) {
      $(this).addClass('active');
    }
  });
});
</script>
