<div class="leftShadow"></div>
<div class="leftaside">
  <ul class="leftul">
    <li class="index">
      <span></span>
      <a class="father" href="{{ site.baseurl }}/home.html">我的首页</a>
      <i></i>
    </li>
    <li class="announcement">
      <span></span>
      <a class="father" href="{{ site.baseurl }}/announcement.html">系统公告</a>
      <i></i>
    </li>
    <li class="vedio-validate">
      <span></span>
      <a class="father" href="{{ site.baseurl }}/validate.html">视频验证</a>
      <i></i>
    </li>
    <li class="vedio-upload">
      <span></span>
      <!-- <a class="father" href="{{ site.baseurl }}/upload-info.html">视频上传</a> -->
      <a class="father" href="{{ site.baseurl }}/upload-pre.html">视频上传</a>
      <i></i>
    </li>
    <li class="certificate">
      <span></span>
      <a class="father" href="{{ site.baseurl }}/certificate-pre.html">证书颁发</a>
      <small>3</small>
      <i></i>
    </li>
    <li class="open-verify">
      <span></span>
      <a class="father" href="{{ site.baseurl }}/verify-pre.html">开户审核</a>
      <i></i>
    </li>
    <li class="open-recheck">
      <span></span>
      <a class="father" href="{{ site.baseurl }}/recheck-pre.html">开户复核</a>
      <small>123</small>
      <i></i>
    </li>
    <li class="business-search">
      <span></span>
      <p>业务查询</p>
      <ul class="inner-ul">
        <li class=""><a href="{{ site.baseurl }}/business/log.html">业务流水</a></li>
        <li class=""><a href="{{ site.baseurl }}/business/user-query.html">用户查询</a></li>
        <li><a href="{{ site.baseurl }}/business/marketing.html">营销查询</a></li>
        <li><a href="{{ site.baseurl }}/business/message.html">短信查询</a></li>
        <li><a href="{{ site.baseurl }}/business/empowerment.html">赋权流水</a></li>
        <li><a href="{{ site.baseurl }}/business/certificate-query.html">证书查询</a></li>
        <li><a href="{{ site.baseurl }}/business/protocol.html">协议导出</a></li>
        <li><a href="{{ site.baseurl }}/business/certification.html">公安认证</a></li>
        <li><a href="{{ site.baseurl }}/business/abnormal-pre.html">异常处理</a></li>
      </ul>
      <b></b>
    </li>
    <li class="marketing-channels">
      <span></span>
      <p>营销渠道</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/channel/marketing-manage.html">渠道管理</a></li>
        <li><a href="{{ site.baseurl }}/channel/type-set.html">属性设置</a></li>
        <li><a href="{{ site.baseurl }}/channel/dot.html">网点管理</a></li>
        <li><a href="{{ site.baseurl }}/channel/marketers.html">营销人员</a></li>
      </ul>
      <b></b>
    </li>

    <li class="inquiry-statistics">
      <span></span>
      <p>数据统计</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/statistics/open-account.html">开户总数</a></li>
        <li><a href="{{ site.baseurl }}/statistics/channel-name.html">渠道统计</a></li>
        <li><a href="{{ site.baseurl }}/statistics/access-mode.html">接入方式</a></li>
        <li><a href="{{ site.baseurl }}/statistics/partment.html">营业部</a></li>
        <li><a href="{{ site.baseurl }}/statistics/features.html">用户特征</a></li>
        <li><a href="{{ site.baseurl }}/statistics/area.html">地区分布</a></li>
        <li><a href="{{ site.baseurl }}/statistics/open-device.html">开户设备</a></li>
        <li><a href="{{ site.baseurl }}/statistics/open-type.html">开户类型</a></li>
        <li><a href="{{ site.baseurl }}/statistics/time.html">耗时统计</a></li>
        <li><a href="{{ site.baseurl }}/statistics/lost-rate.html">流失率</a></li>
        <li><a href="{{ site.baseurl }}/statistics/workload.html">工作量</a></li>
        <li><a href="{{ site.baseurl }}/statistics/access-data.html">接口数据</a></li>
        <li><a href="{{ site.baseurl }}/statistics/video-line.html">视频排队</a></li>
        <li><a href="{{ site.baseurl }}/statistics/use-time.html">使用时段</a></li>
      </ul>
      <b></b>
    </li>
    <li class="para-sets">
      <span></span>
      <p>系统设置</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/system/fund-company.html">基金公司管理</a></li>
        <li><a href="{{ site.baseurl }}/system/notice.html">公告管理</a></li>
        <li><a href="{{ site.baseurl }}/system/parameter.html">系统参数配置</a></li>
        <li><a href="{{ site.baseurl }}/system/dictionary.html">数据字典</a></li>
        <li><a href="{{ site.baseurl }}/system/role.html">角色权限</a></li>
        <li><a href="{{ site.baseurl }}/system/package.html">服务套餐管理</a></li>
        <li><a href="{{ site.baseurl }}/system/operator.html">操作员管理</a></li>
        <li><a href="{{site.baseurl}}/system/depository-bank.html">存管银行</a></li>
        <li><a href="{{site.baseurl}}/system/protocal.html">协议维护</a></li>
        <li><a href="{{site.baseurl}}/system/time.html">时间设置</a></li>
        <li><a href="{{site.baseurl}}/system/blacklist.html">黑名单管理</a></li>
        <li><a href="{{site.baseurl}}/system/business.html">业务设置</a></li>
        <li><a href="{{site.baseurl}}/system/finicial.html">理财产品</a></li>
        <li><a href="{{ site.baseurl }}/system/risk.html">风险测评题库</a></li>
      </ul>
      <b></b>
    </li>
    <li class="sign-userlist">
      <span></span>
      <a class="father" href="{{site.baseurl}}/attestation.html">用户验签</a>
      <i></i>
    </li>
    <li class="forced-activation">
      <span></span>
      <a class="father" href="{{site.baseurl}}/activation.html">强制激活</a>
      <i></i>
    </li>
    <li class="online-business">
      <span></span>
      <p>网厅</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/online/log.html">业务流水</a></li>
        <li><a href="{{ site.baseurl }}/online/protocol.html">协议查询</a></li>
        <li><a href="{{ site.baseurl }}/online/workload.html">工作量统计</a></li>
        <li><a href="{{ site.baseurl }}/online/blacklist.html">网厅黑名单</a></li>
        <li><a href="{{ site.baseurl }}/online/usage.html">使用量统计</a></li>
        <li><a href="{{ site.baseurl }}/online/verify-list.html">审核任务列表</a></li>
      </ul>
      <b></b>
    </li>
  </ul>
</div>
<script type="text/javascript">
$(document).ready(function(){
//点击含有二级li的p的效果
var href = window.location.href ;
$(".leftul>li>p").each(function() {
  var flag = 0;
  $(this).click(function() {
   if(!flag) {
    $(this).siblings("ul").slideDown(200);
    $(this).parent().find("b").addClass("current");
    flag = 1;
  } else {
   $(this).parent().find("ul").slideUp(200);
   $(this).parent().find("b").removeClass("current");
   flag = 0;
 }
});
});
    //二级li点击后的显示效果
    var arrr = [];
    $(".leftul li li a").each(function(){
     var str = $(this).attr("href");
     var justName = str.slice(0,str.length - 5);
     arrr.push($(this).attr("href"));
   });
    for (var ee in arrr) {
     if(href.indexOf(arrr[ee]) != -1) {
      $('.leftul li li').eq(ee).addClass('active');
      $(".leftul li li").eq(ee).parent().show();
    }
  }
	//点击没有二级li的一级li的效果
	var $aloneLi = $(".leftul>li").not(".leftul>li:has('li')");
	$aloneLi.each(function() {
   var src = $(this).find("a").attr("href");
   if(href.indexOf(src) != -1) {
    $(this).addClass('active');
  }
});
});
</script>
