<div class="leftShadow"></div>
<div class="leftaside">
  <ul class="leftul">
    <!--&lt;!&ndash; 模拟iframe &ndash;&gt;-->
    <!--<li class="iframe">-->
      <!--<span></span>-->
      <!--<a class="father" href="{{ site.baseurl }}/iframe.html">iframe测试</a>-->
      <!--<i></i>-->
    <!--</li>-->
    <!--&lt;!&ndash; 公用部分导航 begin &ndash;&gt;-->
    <!--<li class="announcement">-->
      <!--<span></span>-->
      <!--<a class="father" href="{{ site.baseurl }}/announcement.html">系统公告</a>-->
      <!--<i></i>-->
    <!--</li>-->
    <!--<li class="index">-->
      <!--<span></span>-->
      <!--<a class="father" href="{{ site.baseurl }}/home.html">我的首页</a>-->
      <!--<i></i>-->
    <!--</li>-->
    <!--<li class="vedio-validate">-->
      <!--<span></span>-->
      <!--<a class="father" href="{{ site.baseurl }}/validate.html">视频验证</a>-->
      <!--<i></i>-->
    <!--</li>-->
    <!--<li class="vedio-upload">-->
      <!--<span></span>-->
      <!--<a class="father" href="{{ site.baseurl }}/upload-pre.html">视频上传</a>-->
      <!--<i></i>-->
    <!--</li>-->
    <!--<li class="certificate">-->
      <!--<span></span>-->
      <!--<a class="father" href="{{ site.baseurl }}/certificate-pre.html">颁发证书</a>-->
      <!--<small>3</small>-->
      <!--<i></i>-->
    <!--</li>-->
    <!--<li class="open-verify">-->
      <!--<span></span>-->
      <!--<a class="father" href="{{ site.baseurl }}/verify-pre.html">开户审核</a>-->
      <!--<i></i>-->
    <!--</li>-->
    <!--<li class="open-recheck">-->
      <!--<span></span>-->
      <!--<a class="father" href="{{ site.baseurl }}/recheck-pre.html">开户复核</a>-->
      <!--<small>123</small>-->
      <!--<i></i>-->
    <!--</li>-->
    <!--<li class="para-sets">-->
      <!--<span></span>-->
      <!--<p>系统设置</p>-->
      <!--<ul class="inner-ul">-->
        <!--<li><a href="{{ site.baseurl }}/system/dot.html">网点管理</a></li>-->
        <!--<li><a href="{{ site.baseurl }}/system/fund-company.html">基金公司管理</a></li>-->
        <!--<li><a href="{{ site.baseurl }}/system/role.html">角色权限</a></li>-->
        <!--<li><a href="{{ site.baseurl }}/system/operator.html">操作员管理</a></li>-->
        <!--<li><a href="{{site.baseurl}}/system/depository-bank.html">存管银行</a></li>-->
        <!--<li><a href="{{site.baseurl}}/system/blacklist.html">黑名单管理</a></li>-->
        <!--<li><a href="{{site.baseurl}}/system/business.html">业务设置</a></li>-->
        <!--<li><a href="{{site.baseurl}}/system/finicial.html">理财产品</a></li>-->
        <!--<li><a href="{{ site.baseurl }}/system/risk.html">风险测评题库</a></li>-->
        <!--<li><a href="{{ site.baseurl }}/system/banner.html">广告图片设置</a></li>-->
      <!--</ul>-->
      <!--<b></b>-->
    <!--</li>-->
    <!--<li class="system-parameter">-->
      <!--<span></span>-->
      <!--<a class="father" href="{{site.baseurl}}/parameter.html">系统配置</a>-->
      <!--<i></i>-->
    <!--</li>-->
    <!-- 公用部分导航 end -->

    <!-- 业务集中运营平台 begin -->
    <li class="jz">
      <span></span>
      <p>业务集中运营</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/default/business-operation/verify-list.html">业务查询</a></li>
      </ul>
      <b></b>
    </li>
    <!-- 业务集中运营 end -->
  </ul>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    //点击含有二级li的p的效果
    var href = window.location.href ;
    $(".leftul>li>p").each(function() {
      var flag = 0;
      $(this).click(function() {
        if(!flag) {
          $(this).siblings("ul").slideDown(200);
          $(this).parent().find("b").addClass("current");
          flag = 1;
        } else {
          $(this).parent().find("ul").slideUp(200);
          $(this).parent().find("b").removeClass("current");
          flag = 0;
        }
      });
    });
    //二级li点击后的显示效果
    var arrr = [];
    $(".leftul li li a").each(function(){
      var str = $(this).attr("href");
      var justName = str.slice(0,str.length - 5);
      arrr.push($(this).attr("href"));
    });
    for (var ee in arrr) {
      if(href.indexOf(arrr[ee]) != -1) {
        $('.leftul li li').eq(ee).addClass('active');
        $(".leftul li li").eq(ee).parent().show();
      }
    }
    //点击没有二级li的一级li的效果
    var $aloneLi = $(".leftul>li").not(".leftul>li:has('li')");
    $aloneLi.each(function() {
      var src = $(this).find("a").attr("href");
      if(href.indexOf(src) != -1) {
        $(this).addClass('active');
      }
    });
  });
</script>
