<div class="leftShadow"></div>
<div class="leftaside">
  <ul class="leftul">
    <li>
      <span></span>
      <p>模块菜单</p>
      <ul class="inner-ul">
        <li><a href="{{ site.baseurl }}/modules/buttons.html">按钮</a></li>
        <li><a href="{{ site.baseurl }}/modules/tables.html">表格</a></li>
        <li><a href="{{ site.baseurl }}/modules/forms.html">表单</a></li>
        <li><a href="{{ site.baseurl }}/modules/pagenav.html">翻页</a></li>
      </ul>
      <b></b>
    </li>
  </ul>
</div>
<div class="slideleft"></div>
<script type="text/javascript">
  $(document).ready(function(){
    //点击含有二级li的p的效果
    var href = window.location.href ;
    $(".leftul>li>p").each(function() {
      var flag = 0;
      $(this).click(function() {
        if(!flag) {
          $(this).siblings("ul").slideDown(200);
          $(this).parent().find("b").addClass("current");
          flag = 1;
        } else {
          $(this).parent().find("ul").slideUp(200);
          $(this).parent().find("b").removeClass("current");
          flag = 0;
        }
      });
    });
    //二级li点击后的显示效果
    var arrr = [];
    $(".leftul li li a").each(function(){
      var str = $(this).attr("href");
      var justName = str.slice(0,str.length - 5);
      arrr.push($(this).attr("href"));
    });
    for (var ee in arrr) {
      if(href.indexOf(arrr[ee]) != -1) {
        $('.leftul li li').eq(ee).addClass('active');
        $(".leftul li li").eq(ee).parent().show();
      }
    }
    //点击没有二级li的一级li的效果
    var $aloneLi = $(".leftul>li").not(".leftul>li:has('li')");
    $aloneLi.each(function() {
      var src = $(this).find("a").attr("href");
      if(href.indexOf(src) != -1) {
        $(this).addClass('active');
      }
    });

    //左侧导航收拢
    var is_anim = true;
    $(".slideleft").click(function () {
      if (is_anim) {
        is_anim = false;

        var _this = $(this);
        var leftaside = _this.siblings(".leftaside");
        var leftShadow = _this.siblings(".leftShadow");
        var ui_wrap = _this.siblings(".ui-wrap");
        var small = leftaside.find("small");
        var header_sys = $(".site-header .header-inner");
        var header_xtg = $(".site-header .header-inner .xtgly");


        if (_this.hasClass("right-on")) {

          _this.animate({width: "130px"});
          leftaside.animate({width: "130px"});
          header_sys.animate({width: "130px"}, function () {
            $(this).removeClass("w-37");
          });
          header_xtg.animate({width: "130px"});
          ui_wrap.animate({marginLeft: "130px"});

          leftShadow.animate({width: "130px"}, function () {
            leftaside.find("small").show();
            leftaside.find("b").show();
            leftaside.find("em.small-em").hide();
            is_anim = true;

          });

          _this.removeClass("right-on");

        } else {
          leftaside.find("b").hide();
          leftaside.find("small").hide();
          _this.animate({width: "37px"});
          leftaside.animate({width: "37px"});

          header_sys.animate({width: "37px"}, function () {
            $(this).addClass("w-37");
          });
          header_xtg.animate({width: "37px"});
          ui_wrap.animate({marginLeft: "37px"});
          leftShadow.animate({width: "37px"}, function () {
            leftaside.find("em.small-em").show();
            is_anim = true;
          });
          _this.addClass("right-on");
        }
      }
    });
  });
</script>
