<div class="leftaside">
  <ul class="leftul">
    <li class="index index-home">
      <span class="icon"></span>
      <a href="javascript:void(0)" data-json='{"href":"caitong/index1","param":"","name":"首页"}'>首页</a>
    </li>
    <li class="index index-product-manage">
      <span class="icon"></span>
      <p class="cftrade-p">产品管理</p>
      <ul class="inner-ul">
        <li><a href="javascript:void(0)" data-json='{"href":"caitong/channel-into","param":"?a=1&b=2","name":"产品引入"}'>产品引入</a></li>
        <li><a href="javascript:void(0)" data-json='{"href":"caitong/message-send","param":"?a=1&b=2","name":"信息发布"}'>信息发布</a></li>
        <li><a href="javascript:void(0)" data-json='{"href":"caitong/channel-search-first","param":"?a=1&b=2","name":"产品查询"}'>产品查询</a></li>
        <li><a href="javascript:void(0)" data-json='{"href":"caitong/product-details","param":"?a=1&b=2","name":"产品详情"}'>产品详情</a></li>
        <li><a href="javascript:void(0)" data-json='{"href":"caitong/product-document","param":"?a=1&b=2","name":"文档管理"}'>文档管理</a></li>
      </ul>
      <b></b>
    </li>
    <li class="index index-sales">
      <span class="icon"></span>
      <p class="cftrade-p">精准营销</p>
      <ul class="inner-ul">
        <li><a href="javascript:void(0)" data-json='{"href":"caitong/sale-index","param":"?a=1&b=2","name":"营销首页"}'>营销首页</a></li>
        <li><a href="javascript:void(0)" data-json='{"href":"caitong/sale-template-manage","param":"?a=1&b=2","name":"模板管理"}'>模板管理</a></li>

      </ul>
      <b></b>
    </li>
    <li class="index index-sales-manage">
      <span class="icon"></span>
      <p class="">销售管理</p>
      <ul class="inner-ul">
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/calendar-display","param":"?a=1&b=2","name":"排期日历"}'>排期日历</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/sales-preview","param":"?a=1&b=2","name":"产品预告"}'>产品预告</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/sale-appointment","param":"?a=1&b=2","name":"产品预约"}'>产品预约</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/work-breakdown","param":"?a=1&b=2","name":"任务分解"}'>任务分解</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/sale-management","param":"?a=1&b=2","name":"任务查询"}'>任务查询</a></li>

      </ul>
      <b></b>
    </li>
    <li class="index index-statistical">
      <span class="icon"></span>
      <p class="">统计查询</p>
      <ul class="inner-ul">
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/statistics-sales-number","param":"?a=1&b=2","name":"销售量统计"}'>销售量统计</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/statistics-sales-expense","param":"?a=1&b=2","name":"销售费用统计"}'>销售费用统计</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/statistical-analysis","param":"?a=1&b=2","name":"统计分析"}'>统计分析</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/statistic-buy-customer","param":"?a=1&b=2","name":"客户购买统计"}'>客户购买统计</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/sta-association-form","param":"?a=1&b=2","name":"协会报表"}'>协会报表</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/sta-auto-form","param":"?a=1&b=2","name":"自动生成报表"}'>自动生成报表</a></li>
      </ul>
      <b></b>
    </li>

    <li class="index index-quality-system">
      <span class="icon"></span>
      <p class="">系统设置</p>
      <ul class="inner-ul">
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/setting-cust-manage","param":"?a=1&b=2","name":"用户管理"}'>用户管理</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/setting-org-manage","param":"?a=1&b=2","name":"组织管理"}'>组织管理</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/setting-role-permission","param":"?a=1&b=2","name":"角色权限"}'>角色权限</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/setting-param-set","param":"?a=1&b=2","name":"参数设置"}'>参数设置</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"caitong/setting-announcement-set","param":"?a=1&b=2","name":"公告设置"}'>公告设置</a></li>
      </ul>
      <b></b>
    </li>
    <li class="index index-quality-system">
      <span class="icon"></span>
      <p class="">块级组件</p>
      <ul class="inner-ul">
          <li><a href="javascript:void(0)" data-json='{"href":"components/button","param":"?a=1&b=2","name":"button"}'>button</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"components/table","param":"?a=1&b=2","name":"table"}'>table</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"components/form","param":"?a=1&b=2","name":"form"}'>form</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"components/tab","param":"?a=1&b=2","name":"tab"}'>tab</a></li>
          <li><a href="javascript:void(0)" data-json='{"href":"components/search","param":"?a=1&b=2","name":"search"}'>search</a></li>
          </ul>
      <b></b>
    </li>
    <li class="index index-operation-management">
      <span class="icon"></span>
      <p class="">经营管理</p>
        <ul class="inner-ul">
            <li><a href="javascript:void(0)" data-json='{"href":"components/button","param":"?a=1&b=2","name":"button"}'>button</a></li>
        </ul>
      <b></b>
    </li>
    <li class="index index-day-end-management">
      <span class="icon"></span>
      <p class="">日终管理</p>
        <ul class="inner-ul">
            <li><a href="javascript:void(0)" data-json='{"href":"components/button","param":"?a=1&b=2","name":"button"}'>button</a></li>
        </ul>
      <b></b>
    </li>
    <li class="index index-product-day-end">
      <span class="icon"></span>
      <p class="">产品日终</p>
        <ul class="inner-ul">
            <li><a href="javascript:void(0)" data-json='{"href":"components/button","param":"?a=1&b=2","name":"button"}'>button</a></li>
        </ul>
      <b></b>
    </li>
  </ul>
</div>
<script_add></script_add>
<script type="text/javascript">
  $(document).ready(function () {
    //有二级li>p
    $(".leftul>li>p").on('click', function () {
      var $self = $(this);
      var currentLi = $self.parent();
      if (currentLi.hasClass("current")) {
        if (currentLi.index != 0) {
          currentLi.removeClass("current").find("ul").slideUp(200);
        }
      } else {
        currentLi.addClass("current").find("ul").slideDown(200);
      }
    });

    //没有二级li>a
    $(".leftul>li>a").on('click', function () {
      var $self = $(this);
      var currentLi = $self.parent();
      currentLi.addClass("current").find("ul").slideDown(200);
    });

    //a标签跳转页面
    $(".leftul .index a").click(function () {
      var href = $(this).data("json").href;
      var name = $(this).data("json").name;
      var param = $(this).data("json").param;
      var go = go_url.bind(this);
      go(href, param, name);
    });
  });

</script>
