<div class="ui-collect" style="display:none">
  <div class="collect-top">
    <h1>添加快捷菜单</h1>
    <div class="buttons">
      <a class="btn-fill submit-collect" href="#">保存</a>
      <a class="btn-primary close" href="#">关闭</a>
    </div>
  </div>
  <div class="collect-item">
    <h2>开户系统</h2>
    <div class="collect-option">
      <a class="active" href="javascript:void(0)">系统公告</a>
      <a href="javascript:void(0)">视频验证</a>
      <a href="javascript:void(0)">开户审核</a>
      <a href="javascript:void(0)">开户复核</a>
      <a href="javascript:void(0)">视频上传</a>
      <a href="javascript:void(0)">视频验证</a>
      <a href="javascript:void(0)">开户审核</a>
      <a href="javascript:void(0)">开户复核</a>
      <a href="javascript:void(0)">视频上传</a>
      <a href="javascript:void(0)">开户复核</a>
      <a href="javascript:void(0)">视频上传</a>
    </div>
  </div>
  <div class="collect-item">
    <h2>网厅系统</h2>
    <div class="collect-option">
      <a href="javascript:void(0)">视频验证</a>
      <a href="javascript:void(0)">网厅审核</a>
      <a href="javascript:void(0)">网厅复核</a>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('.collect-option').on('click', 'a', function(event) {
      event.preventDefault();
      /* Act on the event */
      if ($(this).hasClass('active')) {
        $(this).removeClass('active');
      } else {
        $(this).addClass('active');
      }
    });
    $('.ui-collect').on('click', '.close', function(event) {
      //关闭按钮
      event.preventDefault();
      /* Act on the event */
      $('.ui-collect').hide();
    });
    $('.ui-collect').on('click', '.submit-collect', function(event) {
      //保存按钮
      event.preventDefault();
      /* Act on the event */
      $('.site-nav ul').append('<li><a href="#">系统公告<span>（开户）</span></a></li>');
      $('.ui-collect').hide();
    });
  });
</script>
