<div class="site-header cftrade-header">
  <div class="header-logo">
    <i class="icon-imgcftrade"></i>
    <i class="icon-imgcftradetext"></i>
  </div>
  <span class="company">业务运营平台管理</span>
  <div class="btn-right">
    <div class="btn-nav">
      <ul>
        <li class="header-exit">
          <a href="#">退出</a>
        </li>
        <li class="header-user">
          <a href="javascript:void(0)">欢迎您，五月</a>
        </li>
        <li class="header-msg">
          消息
          <a href="javascript:void(0)">(4)</a>
        </li>
      </ul>
    </div>
  </div>
</div>
