<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
 <title>{{ page.title }}</title>
 <meta name="description" content="">
 <link rel="stylesheet" href="{{ site.static }}/css/main.css" media="screen">
  <!--[if lt IE 9]>
    <script src="{{ site.static }}/javascripts/lib/html5shiv.js"></script>
  <![endif]-->
  <script src="{{ site.static }}/javascript/lib/jquery.js"></script>
  <script type="text/javascript" src="{{ site.static }}/javascript/jquery-ui.js"></script>
</head>
