<div class="site-header">
  <div class="header-inner">
    <a class="xtgly" href="javascript:void(0)">
      <span></span>系统管理员<i></i>
    </a>
    <ul id="user-center" style="display:none;">
      <li><a class="xgmm" id="update_pwd" href="javascript:void(0)"><i></i>修改密码</a></li>
      <li><a class="tcdl" id="exit_login" href="javascript:void(0)"><i></i>退出登录</a></li>
      <li><a class="rwtx" href="javascript:void(0)"><i></i>任务提醒</a></li>
    </ul>
  </div>
  <div class="site-nav">
    <ul>
        <li><a class="nav-on" href="#">快速导航</a></li>
        <li><a href="#">视频验证</a></li>
        <li><a href="#">开户审核</a></li>
        <li><a href="#">网厅复核</a></li>
        <li><a href="#">开户审核</a></li>
        <li><a href="#">网厅复核<small>123</small></a></li>
    </ul>
    <a class="collect" href="javascript:void(0)" id="collect_btn"><i>+</i>收藏</a>
  </div>
  <div class="site-menu">
    <a class="selected-menu" href="jacascript:void(0)">开户系统<i></i></a>
    <div class="menu-inner" style="display:none">
      <a href="jacascript:void(0)">开户系统</a>
      <a href="jacascript:void(0)">网厅系统</a>
      <a href="jacascript:void(0)">商城系统</a>
      <a href="jacascript:void(0)">电子档案</a>
      <a href="jacascript:void(0)">业务集中运营</a>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function(){
    $('.site-nav').on('click', '#collect_btn', function(event) {
      //收藏按钮
      event.preventDefault();
      /* Act on the event */
      $('.ui-collect').show();
    });
    $('.header-inner').on('click', '.rwtx', function(event) {
      //铃声关闭事件
      event.preventDefault();
      /* Act on the event */
      if ($(this).hasClass('closed')) {
        $(this).removeClass('closed');
      } else {
        $(this).addClass('closed');
      }
    });
    $('.header-inner').mouseover(function(event) {
      /* Act on the event */
      if($(this).hasClass("w-37")){
        $('#user-center').css("top","0px");
        $('#user-center').css("left","37px")
      }else {
        $('#user-center').css("top","58px");
        $('#user-center').css("left","0px")
      }
      $('#user-center').show();

    });
    $('.header-inner').mouseleave(function(event) {
      /* Act on the event */
      $('#user-center').hide();
    });
    $('.header-inner').on('click', '#update_pwd', function(event) {
      //修改密码弹出层
      event.preventDefault();
      /* Act on the event */
      var password_screen = new Dialog(null,{
        title: '密码修改',
        width: '450',
        needDestroy: true,
        hasBtn: true,
        btnText: ["取消","确定"],
        btnRole: ['cancel','confirm'],
        btnCls: ['cancel','confirm'],
          confirm: function() {
            //确定按钮事件
            password_screen.hide();
          },
          //正确为 success-ico 错误为 error-ico
        content: '<div class="dialog-content-password">'+
                  '<div class="item">'+
                    '<span class="name">输入旧密码</span>'+
                    '<input type="password" class="input" value="">'+
                  '</div>'+
                  '<div class="item">'+
                    '<span class="name">输入新密码</span>'+
                    '<input type="password" class="input">'+
                  '</div>'+
                  '<div class="item">'+
                    '<span class="name">再次输入新密码</span>'+
                    '<input type="password" class="input">'+
                  '</div>'+
                 '</div>'
      });
    });
    $('.header-inner').on('click', '#exit_login', function(event) {
      //修改密码弹出层
      event.preventDefault();
      /* Act on the event */
      var login_screen = new Dialog(null,{
        title: '',
        width: '360',
        needDestroy: true,
        hasBtn: true,
        btnText: ["取消","确定"],
        btnRole: ['cancel','confirm'],
        btnCls: ['cancel','confirm'],
          confirm: function() {
            //确定按钮事件
            login_screen.hide();
          },
        content: '<h1 class="h-title">您确定退出当前账号？</h1>'
      });
    });
    $('.site-menu').mouseover(function(event) {
      /* Act on the event */
      $('.menu-inner').show();
    });
    $('.site-menu').mouseleave(function(event) {
      /* Act on the event */
      $('.menu-inner').hide();
    });
    $('.menu-inner').on('click', 'a', function(event) {
      event.preventDefault();
      /* Act on the event */
      var _html = $(this).html();
      $('.selected-menu').html(_html+'<i></i>');
      $('.menu-inner').hide();
    });
  });
</script>
