<div class="site-header">
  <div class="header-inner">
    <a class="xtgly" href="javascript:void(0)">
      <span></span>系统管理员<i></i>
    </a>
    <ul id="user-center" style="display:none;">
      <li><a class="xgmm" href="javascript:void(0)"><i></i>修改密码</a></li>
      <li><a class="tcdl" href="javascript:void(0)"><i></i>退出登录</a></li>
      <li><a class="rwtx" href="javascript:void(0)"><i></i>任务提醒</a></li>
    </ul>
  </div>
  <div class="site-nav">
   <ul>
    <li><a class="xtgg" href="#">系统公告</a></li>
    <li><a class="spyz" href="#">视频验证</a></li>
    <li><a class="zsbf" href="#">证书颁发</a></li>
    <li><a class="khsh" href="#">开户审核</a></li>
    <li><a class="khfh" href="#">开户复核</a></li>
  </ul>
</div>
<h1>中华证券网上开户业务管理系统</h1>
</div>
<script type="text/javascript">
  $(function(){
    $('.header-inner').mouseover(function(event) {
      /* Act on the event */
      $('#user-center').show();
    });
    $('.header-inner').mouseleave(function(event) {
      /* Act on the event */
      $('#user-center').hide();
    });
  });
</script>
