<div class="main-content no-margin-bottom">
	<div class="search-content">
		<a class="btn middle fill" href="#">今日</a>
		<a class="btn middle" href="#">昨日</a>
		<a class="btn middle" href="#">最近7日</a>
		<a class="btn middle" href="#">最近30日</a>
        <a class="btn middle" href="#">全部</a>
		<label>
			<input class="txt" type="text" placeholder="开始时间" id="beginTime">
			<i></i>
		</label>
		<span class="pre">至</span>
		<label>
			<input class="txt" type="text" placeholder="截止时间" id="finishTime">
			<i></i>
		</label>
	</div>
	<div class="p-right">
        <a class="btn small w130" href="#">输出报表</a>
    </div>
</div>