.leftaside {
	position: relative;
	float: left;
	width: 130px;
	padding-top: 10px;
  white-space: nowrap;
  overflow: hidden;
	.leftul {
		li {
			position: relative;
			p {
        position: relative;
        padding-left: 37px;
        //padding-left: 50px;
        line-height: 45px;
        z-index: 10;
        color: #cccdd9;
        cursor: pointer;
			}
			b {
        position: absolute;
        right: 13px;
        top: 20px;
        width: 9px;
        height: 5px;
        vertical-align: middle;
        background: url("../images/icolist.png") -60px -50px no-repeat;
        &.current {
          background: url('../images/icolist.png') -60px -60px no-repeat;
        }
      }
      small {
        position: absolute;
        right: 4px;
        top: 12px;
        display: inline-block;
        color: #fff;
        background: #ff5776;
        font-size: 12px;
        width: 30px;
        height: 14px;
        line-height: 14px;
        border-radius: 8px;
        text-align: center;
        overflow: hidden;
      }
      a {
        display: block;
        font-size: 14px;
        color: #cccdd9;
        padding: 12px 0px;
        padding-left: 37px;
      }
      &.active {
        a {
          background: rgba(255,255,255,0.1);
          color: #ffffff;
          //border-left: 5px solid #3f88cc;
        }

      }
      .icon {
        position: absolute;
        display: inline-block;
        top: 12px;
        left: 5px;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        margin: 0 0;
        z-index: -1;
        em.small-em {
          display: block;
          width: 8px;
          height: 8px;
          position: absolute;
          top: -4px;
          left: -4px;
          border-radius: 8px;
          background: #ff6767;
          display: none;
        }

      }
      p.active {
        background: rgba(255, 255, 255, 0.1);
        color: #ffffff;
      }
      .inner-ul {
        display: none;
        li {
          text-align: left;
          text-indent: 35px;
          a {
            font-size: 12px;
            display: block;
            padding: 5px 0px 5px 37px;
            text-align: left;
            text-indent: 0px;
            margin: 0 0;
          }
          &.active {
            a {
              //background: #fff;
              background: none;
              color: #ffffff;
              border: none;
            }
          }
        }
      }
    }
    li.announcement {
      .icon {
        background-image: url(../images/aside/notice.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/notice1.png);
        }
      }
    }
    li.index {
      .icon {
        background-image: url(../images/aside/home.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/home1.png);
        }
      }
    }
    li.vedio-validate {
      .icon {
        background-image: url(../images/aside/validate.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/validate1.png);
        }
      }
    }
    li.vedio-upload {
      .icon {
        background-image: url(../images/aside/upload.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/upload1.png);
        }
      }
    }
    li.certificate {
      .icon {
        background-image: url(../images/aside/certificate.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/certificate1.png);
        }
      }
    }
    li.open-verify {
      .icon {
        background-image: url(../images/aside/verify.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/verify1.png);
        }
      }
    }
    li.open-recheck {
      .icon {
        background-image: url(../images/aside/recheck.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/recheck1.png);
        }
      }
    }
    li.business-search,
    li.business-online {
      .icon {
        background-image: url(../images/aside/search.png);
      }
    }
    li.business-operation {
      .icon {
        background-image: url(../images/aside/operation.png);
      }
    }
    li.operation-analysis,
    li.online-analysis,
    li.mall-analysis {
      .icon {
        background-image: url(../images/aside/analysis.png);
      }
    }
    li.marketing-channels {
      .icon {
        background-image: url(../images/aside/channels.png);
      }
    }
    li.open-sets {
      .icon {
        background-image: url(../images/aside/open-sets.png);
      }
    }
    li.para-sets {
      .icon {
        background-image: url(../images/aside/sets.png);
      }
    }
    li.system-parameter {
      .icon {
        background-image: url(../images/aside/parameter.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/parameter1.png);
        }
      }
    }
    li.online-sets {
      .icon {
        background-image: url(../images/aside/online-sets.png);
      }
    }
    li.mall-product {
      .icon {
        background-image: url(../images/aside/product.png);
      }
    }
    li.mall-sales {
      .icon {
        background-image: url(../images/aside/sales.png);
      }
    }
    li.mall-sets {
      .icon {
        background-image: url(../images/aside/mall-sets.png);
      }
    }
    li.e-record {
      .icon {
        background-image: url(../images/aside/e-record.png);
      }
    }
    li.institution {
      .icon {
        background-image: url(../images/aside/institution.png);
      }
    }
    li.processes {
      .icon {
        background-image: url(../images/aside/processes.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/processes1.png);
        }
      }
    }
    li.jz {
      .icon {
        left: 10px;
        top: 16px;
        width: 19px;
        height: 20px;
        background: url('../images/aside-jz.png') center no-repeat;
      }
    }
    li.check {
      .icon {
        background-image: url(../images/aside/check.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/check1.png);
        }
      }
    }
    li.channel-list {
      .icon {
        background-image: url(../images/aside/list.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/list1.png);
        }
      }
    }
    li.channel-manage {
      .icon {
        background-image: url(../images/aside/manage.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/manage1.png);
        }
      }
    }
    li.department {
      .icon {
        background-image: url(../images/aside/department.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/department1.png);
        }
      }
    }
    li.depository-bank {
      .icon {
        background-image: url(../images/aside/bank.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/bank1.png);
        }
      }
    }
    li.commission-template {
      .icon {
        background-image: url(../images/aside/commission.png);
      }
      &.active {
        .icon {
          background-image: url(../images/aside/commission1.png);
        }
      }
    }
    li.statistics {
      .icon {
        background-image: url(../images/aside/statistics.png);
      }
    }
    li.commission {
      .icon {
        background-image: url(../images/aside/c-statistics.png);
      }
    }
  }
}

.leftShadow {
	background: #21283d;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
	width: 130px;
  min-height: 800px;
}
.slideleft {
  background-color: rgba(255, 255, 255, 0.15);
  background-image: url("../images/Group9.png");
  background-repeat: no-repeat;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff);
  background-position: center;
  width: 130px;
  height: 30px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 9999999999;
  cursor: pointer;
  &.right-on {
    background: rgba(255, 255, 255, 0.15) url("../images/Group9-turn.png") no-repeat;
    background-position: center;
  }


}
