/**
 * Wrapper
 */
 .container {
  @include clearfix;
  width: 100%;
  height: auto;
  min-height: 100%;
  position: relative;
  margin-top: 76px;
  .credit-inner {
    background: #fff;
  }
  .ui-wrap {
    position: relative;
    margin-left: 150px;
    padding: 15px;
  }
  .ui-content {
    .main-content {
      position: relative;
      padding: 20px;
      background: #f0f4fb;
      margin-bottom: 20px;
      height: auto;
      &.no-back {
        background: #fff;
      }
      &.no-margin-bottom {
        margin-bottom: 0px;
      }
    }
    .border-content {
      border: 1px solid #f0f4fb;
      padding: 15px;
      margin-bottom: 20px;
      overflow: hidden;
    }
  }
}
