
.ui-video-area {
  .photo-inner {
    img {
      border-radius: 10px;
    }
  }
  .speed-content {
    margin: 5px 0;
    .top-line {
      display: inline-block;
      margin-right: 20px;
    }
  }
}
