
.ui-video-info {
  width: 695px;
  margin-top: 15px;
  overflow: hidden;
  .info-content {
    padding: 10px 25px 10px 25px;
    max-height: 253px;
    height: 253px;
    border: 1px solid #e2e6ef;
    border-bottom: none;
    overflow-y: auto;
    .guest {
      @include clearfix;
      overflow: hidden;
      margin-bottom: 25px;
      .info-txt {
        position: relative;
        float: left;
        background: #fff;
        border-radius: 5px;
        padding: 5px 20px;
        font-size: 12px;
        line-height: 24px;
        max-width: 470px;
        i {
          position: absolute;
          left: -7px;
          top: 10px;
          width: 7px;
          height: 13px;
          background: url(../images/video/arrows.png) 0 0 no-repeat;
        }
      }
      .people {
        float: left;
        margin-right: 15px;
        font-size: 12px;
        color: #3a3d42;
        line-height: 30px;
      }
    }
    .me {
      @include clearfix;
      overflow: hidden;
      margin-bottom: 25px;
      .info-txt {
        position: relative;
        background: #3f88cc;
        border-radius: 5px;
        padding: 5px 20px;
        font-size: 12px;
        line-height: 24px;
        color: #fff;
        max-width: 470px;
        float: right;
        i {
          position: absolute;
          right: -7px;
          top: 10px;
          width: 7px;
          height: 13px;
          background: url(../images/video/arrows.png) 0 -20px no-repeat;
        }
      }
      .people {
        font-size: 12px;
        line-height: 30px;
        color: #3a3d42;
        float: right;
        margin-left: 15px;
      }
    }
  }
  .send-message {
    position: relative;
    .message-content {
      @include clearfix;
      overflow: hidden;
      .message {
        float: left;
        width: 484px;
        padding-left: 15px;
        padding-right: 35px;
        height: 45px;
        line-height: 45px;
        background: #caced6;
        border: none;
        outline: none;
      }
    }
    .sent-btn {
      float: left;
      height: 45px;
      line-height: 45px;
      display: block;
      width: 80px;
      text-align: center;
      font-size: 22px;
      color: #fff;
      background: #3f88cc;
    }
    .open-words {
      position: absolute;
      top: 0;
      right: 0;
      width: 80px;
      display: block;
      border: 1px solid #3f88cc;
      border-left: none;
      font-size: 22px;
      text-align: center;
      background: #fff;
      color: #3f88cc;
      height: 43px;
      line-height: 43px;
    }
    .more-message {
      position: relative;
      width: 535px;
      height: 110px;
      .more-main {
        display: block;
        &:hover {
          background: #f00;
        }
      }
      .more {
        position: absolute;
        top: -45px;
        left: 510px;
        width: 15px;
        height: 45px;
        background: url(../images/video/arrow-bottom.png) 0 0px no-repeat;
      }
      .common-info {
        max-height: 110px;
        overflow: auto;
        li {
          font-size: 12px;
          padding: 5px 15px;
          cursor: pointer;
          line-height: 20px;
          color: #6f7b91;
          background: #e2e6ef;
          &.active {
            background: #9ba1a9;
            color: #fff;
          }
        }
      }
    }
  }
}
