
.ui-video-opration {
  position: relative;
  width: 360px;
  overflow: hidden;
  .opration-inner {
    @include clearfix;
    overflow: hidden;
    .video-photo {
      float: left;
      margin-right: 15px;
    }
    .video-btn-all {
      @include clearfix;
      overflow: hidden;
      position: relative;
      .audio-content {
        a {
          display: inline-block;
          .icon-play {
            width: 19px;
            height: 19px;
            background: url(../images/video/video-list.png) 0 -70px no-repeat;
            margin-right: 5px;
          }
        }
        .time {
          font-size: 12px;
          color: #ff5776;
        }
      }
      .opration-btn {
        position: absolute;
        top: 0;
        right: 5px;
        .icon-set {
          width: 18px;
          height: 18px;
          background: url(../images/video/video-list.png) 0 0px no-repeat;
          margin-right: 5px;
        }
        .icon-rotate {
          width: 16px;
          height: 14px;
          background: url(../images/video/video-list.png) 0 -25px no-repeat;
          margin-right: 5px;
        }
        .icon-turn {
          width: 18px;
          height: 17px;
          background: url(../images/video/video-list.png) 0 -45px no-repeat;
        }
      }
    }
    .btn-content {
      margin-top: 15px;
      a {
        display: block;
        margin-top: 8px;
      }
    }
  }
}
