
.ui-video-photo {
  .tab {
    @include clearfix;
    overflow: hidden;
    a {
      text-align: center;
      border-top: 5px solid #babec7;
      width: 33.3333%;
      float: left;
      height: 30px;
      line-height: 30px;
      background: #ebeff6;
      color: #6f7b91;
      &.col-20 {
        width: 20%;
      }
      &.current {
        background: #e2e6ef;
        border-top: 5px solid #3ecacb;
      }
    }
  }
  .photo-content {
    position: relative;
    width: 100%;
    padding: 15px 0;
    background: #e2e6ef;
    .photo {
      display: block;
      margin: 0 auto;
    }
    a {
      position: absolute;
      bottom: 15px;
      left: 109px;
      display: block;
      width: 102px;
      height: 53px;
      &.take-photo {
        background: url(../images/video/take-photo.png) 0 0 no-repeat;
      }
      &.re-take {
        background: url(../images/video/retake-photo.png) 0 0 no-repeat;
      }
    }
  }
}
