
.ui-video-verify {
  margin-top: 15px;
  width: 320px;
  background: #e2e6ef;
  overflow: hidden;
  .show-result {
    @include clearfix;
    overflow: hidden;
    padding: 15px;
    img {
      border-radius: 5px;
      float: right;
    }
    .result-inner {
      float: left;
      margin: 37px 10px 0 0;
      .error {
        text-align: center;
        margin-bottom: 30px;
        color: #ff5776;
      }
    }
  }
}
