.ui-verify-record {
  .verify-title {
    font-size: 16px;
    color: #44c1de;
    margin: 15px 0 10px 0;
  }
  .verify-table {
    background: #f0f5fb;
    td {
      color: #6f7b91;
      padding: 10px;
      position: relative;
      img {
        border-radius: 5px;
        cursor: pointer;
      }
      .info {
        font-size: 16px;
        color: #4c4f54;
      }
      .video-txt {
        position: absolute;
        bottom: 10px;
        left: 140px;
        .time {
          margin-bottom: 15px;
        }
      }
    }
  }
}
