---
title: 异常处理
layout: default
class: abnormal
---

{% include component/info/marketing.html %}
{% include component/info/read-user.html %}
{% include component/info/verify.html %}
{% include component/info/protocol.html %}
{% include component/info/account.html %}
{% include component/info/data.html %}

<div class="button-content">
  <button class="btn-lg btn-fill" href="#">提交</button>
</div>
<div class="main-table">
  <h2 class="table-title">客服操作流水</h2>
  <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
    <thead>
      <tr>
        <td width="25%">操作人</td>
        <td width="25%">操作</td>
        <td width="25%">操作内容</td>
        <td width="25%">操作时间</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
      <tr>
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
      <tr>
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
      <tr>
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
    </tbody>
  </table>
</div>

