---
title: 异常处理
layout: default
class: abnormal
---

<div class="ui-table-info">
  <div class="main-table">
    <h2 class="table-title">渠道信息</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td>渠道编码</td>
          <td>123212</td>
          <td>经纪人姓名</td>
          <td class="modify">刘备（18900001111）<div class="edit"><i class="edit-name"></i></div></td>
        </tr>
        <tr>
          <td>接入方式</td>
          <td class="modify">手机开户<div class="edit"><i class="edit-name"></i></div></td>
          <td>开户营业部</td>
          <td class="modify">上海南路营业部<div class="edit"><i class="edit-name"></i></div></td>
        </tr>
        <tr>
          <td>开户类型</td>
          <td class="modify">开股东户<div class="edit"><i class="edit-name"></i></div></td>
          <td>用户模板</td>
          <td class="modify">1232132<div class="edit"><i class="edit-name"></i></div></td>
        </tr>
        <tr>
          <td>任务类型</td>
          <td class="modify">开户<div class="edit"><i class="edit-name"></i></div></td>
          <td>任务状态</td>
          <td class="modify">注册成功<div class="edit"><i class="edit-name"></i></div></td>
        </tr>
        <tr>
          <td>客户号</td>
          <td class="modify">2343212D<div class="edit"><i class="edit-name"></i></div></td>
          <td>流程状态</td>
          <td class="modify">XXX状态<div class="edit"><i class="edit-name"></i></div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% include component/info/user.html %}
<div class="ui-verify-table">
  <div class="back">
    <p class="v-title">身份证反面</p>
    <img class="big-img" src="/images/video/temp3.png" width="120" height="80">
  </div>
  <div class="front">
    <p class="v-title">身份证正面</p>
    <img class="big-img" src="/images/video/temp2.png" width="120" height="80">
  </div>
  <div class="face">
    <p class="v-title">免冠照片</p>
    <img class="big-img" src="/images/video/temp5.png" width="120" height="80">
  </div>
  <div class="verify">
    <p class="v-title">公安认证</p>
    <div class="verify-inner">
      <img class="big-img" src="/images/video/temp6.png" width="74" height="80">
      <div class="verify-txt modify">
        <p class="info">姓名一致，身份证一致</p>
        <p class="through">身份证验证通过</p>
        <div class="edit"><i class="edit-name"></i></div>
      </div>
    </div>
  </div>
  <div class="contrast">
    <a class="contrast-btn" href="#">大图对比</a>
  </div>
  <div class="video">
    <p class="v-title">存档视频</p>
    <div class="video-inner">
      <img class="play" src="/images/video/temp4.jpg">
      <div class="video-txt">
        <p class="info">验证码</p>
        <p class="verify-code">123456</p>
      </div>
    </div>
  </div>
</div>
{% include component/info/protocol.html %}
{% include component/info/data.html %}
<div class="ui-account-info">
  <div class="main-table">
    <h2 class="table-title">已选择账户</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td>股东账户</td>
          <td class="modify">
            <span>上海A股<b class="status">（新开）</b></span>
            <span>深圳A股<b class="status">（转户）</b></span>
            <div class="edit"><i class="edit-name"></i></div>
          </td>
        </tr>
        <tr>
          <td>基金公司</td>
          <td class="modify">
            <span>中登98公司</span>
            <span>中登99公司</span>
            <div class="edit"><i class="edit-name"></i></div>
          </td>
        </tr>
        <tr>
          <td>委托方式</td>
          <td class="modify">
            <span>电话委托</span>
            <span>柜台委托</span>
            <span>自助委托</span>
            <span>驻留委托</span>
            <span>远程委托</span>
            <span>网上委托</span>
            <span>手机委托</span>
            <div class="edit"><i class="edit-name"></i></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="opinion-content">
  <div class="button-content">
    <button class="btn-lg through-btn verify-btn" href="#">审核通过</button>
    <button class="btn-lg ml-30 nothrough-btn verify-btn" href="#">需要整改</button>
  </div>
  <div class="no-through-content" style="display:none">
    <div class="no-through-item">
      <a class="reason-btn" href="javascript:void(0)">身份证照片不合格</a>
      <label>
        <span>备注：</span>
        <input type="text" class="input">
      </label>
    </div>
    <div class="no-through-item">
      <a class="reason-btn" href="javascript:void(0)">公安认证信息不一致</a>
      <label>
        <span>备注：</span>
        <input type="text" class="input">
      </label>
    </div>
    <div class="no-through-item">
      <a class="reason-btn" href="javascript:void(0)">基本资料有误</a>
      <label>
        <span>备注：</span>
        <input type="text" class="input">
      </label>
    </div>
    <div class="no-through-item">
      <a class="reason-btn" href="javascript:void(0)">用户中断</a>
      <label>
        <span>备注：</span>
        <input type="text" class="input">
      </label>
    </div>
    <div class="no-through-item">
      <a class="reason-btn" href="javascript:void(0)">头像照采集失败</a>
      <label>
        <span>备注：</span>
        <input type="text" class="input">
      </label>
    </div>
  </div>
</div>
<div class="button-content">
  <button class="btn-lg btn-fill" href="#">提交</button>
</div>
<div class="main-table">
  <h2 class="table-title">客服操作流水</h2>
  <table width="100%" cellpadding="0" cellspacing="0" class="data-table">
    <thead>
      <tr>
        <th width="25%">操作人</th>
        <th width="25%">操作</th>
        <th width="25%">操作内容</th>
        <th width="25%">操作时间</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
      <tr class="even">
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
      <tr>
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
      <tr class="even">
        <td>0002 张飞 18900001111</td>
        <td>审核</td>
        <td>社和通过开户申请通过视频验证通过</td>
        <td>2014-12-14 14:23</td>
      </tr>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(function(){
    $('.modify').hover(function(){
        $(this).find('.edit').css('display','inline-block');
    },function(){
        $(this).find('.edit').hide();
    });
    $('.opinion-content').on('click', '.verify-btn', function(event) {
      event.preventDefault();
      /* Act on the event */
      $('.opinion-content').find('.verify-btn').removeClass('current');
      $(this).addClass('current');
      if($(this).hasClass('nothrough-btn')) {
        $('.no-through-content').show();
      } else {
        $('.no-through-content').hide();
      }
    });
    $('.opinion-content').on('click', '.reason-btn', function(event) {
      //不通过理由交互
      event.preventDefault();
      /* Act on the event */
      if($(this).hasClass('active')) {
        $(this).removeClass('active');
      } else {
        $(this).addClass('active');
      }
    });
    $('.ui-verify-table').on('click', '.big-img', function(event) {
      //点击图片出现大图交互
      event.preventDefault();
      var img_big_screen = new Dialog(null,{
        title: '',
        width: '680',
        needDestroy: true,
        hasBtn: true,
        btnText: ["取消","保存"],
        btnRole: ['cancel','confirm'],
        btnCls: ['cancel','confirm'],
        confirm: function() {
              //确定按钮事件
              img_big_screen.hide();
            },
            content: '<div class="dialog-content-bigimg">'+
            '<div class="big-img">'+
            '<img alt="img" src="/images/video/temp5.png" width="350" height="350">'+
            '</div>'+
            '<div class="operate-img">'+
            '<div class="turn-content">'+
            '<a href="javascript:void(0)"><i></i>旋转</a>'+
            '</div>'+
            '<div>'+
            '<select id="identity" class="diy-select">'+
            '<option value="1">身份证正面</option>'+
            '<option value="2">身份证反面</option>'+
            '</select>'+
            '</div>'+
            '</div>'+
            '</div>'
      });
      $('#identity').diySelect();
    });
    $('.contrast').on('click', '.contrast-btn', function(event) {
      //大图对比按钮交互
      event.preventDefault();
      var contrast_screen = new Dialog(null,{
        title: '',
        width: '680',
        needDestroy: true,
        hasBtn: false,
        content: '<div class="dialog-content-contrast">'+
        '<div class="item">'+
        '<img class="left-img" src="/images/video/temp2.png" alt="img" width="284" height="214">'+
        '<img class="right-img" src="/images/video/temp3.png" alt="img" width="284" height="214">'+
        '</div>'+
        '<div class="item">'+
        '<img class="left-img" src="/images/video/temp5.png" alt="img" width="250" height="200">'+
        '<img class="right-img" src="/images/video/temp6.png" alt="img" width="250" height="200">'+
        '</div>'+
        '</div>'
      });
    });
    $('.ui-verify-table').on('click', '.play', function(event) {
      //视频播放
      event.preventDefault();
      /* Act on the event */
      DIALOG.show({
        dragable:true,
        width:550,
        title:'视频播放',
        html: '<div>此处为后台人员所加的flash</div>'
      });
    });
  });
</script>
