---
title: 用户详情
layout: default
class: user-detail
---

{% include component/info/marketing.html %}
{% include component/info/read-user.html %}
{% include component/info/verify.html %}
{% include component/info/protocol.html %}
{% include component/info/data.html %}
<div class="ui-account-info">
  <div class="main-table">
    <h2 class="table-title">已选择账户</h2>
    <table width="100%" cellpadding="0" cellspacing="0" class="info-table">
      <tbody>
        <tr>
          <td>股东账户</td>
          <td>
            <span>上海A股</span>
            <span>深圳A股</span>
          </td>
        </tr>
        <tr>
          <td>基金公司</td>
          <td>
            <span>中登98公司</span>
            <span>中登99公司</span>
          </td>
        </tr>
        <tr>
          <td>委托方式</td>
          <td>
            <span>电话委托</span>
            <span>柜台委托</span>
            <span>自助委托</span>
            <span>驻留委托</span>
            <span>远程委托</span>
            <span>网上委托</span>
            <span>手机委托</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="ui-table-info">
  <div class="main-table">
    <h2 class="table-title">客服操作流水</h2>
    <table width="100%" cellpadding="0" cellspacing="0">
      <thead>
      <tr>
        <td>操作人</td>
        <td>操作</td>
        <td>操作内容</td>
        <td>操作时间</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>000003 李三 13173663120</td>
        <td>视频验证</td>
        <td>视频验证通过 开户申请视频验证通过</td>
        <td>2014-12-11  14:23 </td>
      </tr>
      <tr>
        <td>000003 李三 13173663120</td>
        <td>视频验证</td>
        <td>视频验证通过 开户申请视频验证通过</td>
        <td>2014-12-11  14:23 </td>
      </tr>
      <tr>
        <td>000003 李三 13173663120</td>
        <td>视频验证</td>
        <td>视频验证通过 开户申请视频验证通过</td>
        <td>2014-12-11  14:23 </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
